<div class="credit-transfer-mobile-page">
  <!-- Header -->
  <div class="credit-transfer-mobile-header" *ngIf="step !== 'SUCCESS'">
    <div class="arrow-left" (click)="goBack()">
      <img alt="" src="/assets/images/arrow-left.png" />
    </div>
    <div class="title" *ngIf="operationType !== 'orange-money'; else titleOM">
      <span
        >Transférer
        {{
          step !== 'CHOOSE_TRANSFER'
            ? 'du ' + getLabelStep(transferType)
            : 'du crédit ou du bonus'
        }}
      </span>
    </div>
    <ng-template #titleOM>
      <div class="title">
        <span>Transfert Orange Money</span>
      </div>
    </ng-template>
  </div>

  <div class="body-container">
    <ng-container *ngIf="isLoaded">
      <!-- choose transfer type -->
      <app-choose-transfer-type
        *ngIf="step === 'CHOOSE_TRANSFER'"
        (TransferTypeEmitter)="setChoice($event)"
      >
      </app-choose-transfer-type>

      <!-- balance : steps amount & phone_number -->
      <app-transfer-recipient-amount
        [step]="step"
        (nextStepEmitter)="suivant($event)"
        (contactEmitter)="contactGot($event)"
        [SoldeType]="compteur"
        [solderechargement]="solderechargement"
        [soldebonusverorange]="soldebonusverorange"
        [soldebonustoutesdest]="soldebonustoutesdest"
        [errorMsg]="errorMsg"
        [showErrorMsg]="errorMsg ? true : false"
        [orangeMoney]="operationType === 'orange-money'"
      ></app-transfer-recipient-amount>

      <!-- details step -->
      <app-operation-validation
        *ngIf="step === 'DETAILS_TRANSF'"
        [operationType]="transferType"
        [buyForMe]="false"
        [recipient]="numberDestinatary"
        [paymentMod]="paymentMode"
        [amountToTransfer]="amount"
        [omRecipientFirstName]="firstName"
        [omRecipientLastName]="lastName"
        [recipientHasOmAccount]="recipientHasOMAccount"
        [loading]="loading"
        (validate)="pay($event)"
      >
      </app-operation-validation>

      <!-- type code pin step -->
      <app-pin-pad
        *ngIf="step === 'TYPE_PIN_CODE'"
        [loading]="loading"
        [notOrangeMoney]="true"
        (pin)="pingot($event)"
        [errorMsg]="pinErrMsg"
        [hasError]="pinHasError"
        [infosText]="titleText"
      >
      </app-pin-pad>

      <!-- When transfer successful -->
      <app-operation-success-or-fail
        *ngIf="step === 'SUCCESS'"
        [operationType]="
          transferType === OPERATION_TYPE_TRANSFER_OM
            ? transferOMType
            : transferType
        "
        [amountTransfered]="amount"
        [recipient]="numberDestinatary"
        [failed]="failed"
        [errorMessage]="errorMsg"
        [recipientFirstName]="firstName"
        [recipientLastName]="lastName"
        (newOperation)="initialStep()"
      ></app-operation-success-or-fail>
    </ng-container>
    <ng-container>
      <div class="spinner" *ngIf="!isLoaded">
        <mat-spinner mode="indeterminate" [diameter]="60"></mat-spinner>
      </div>
    </ng-container>
  </div>
</div>
