<div class="select-beneficiary-container">
    <div class="title">
        Ce destinataire n’a pas de compte Orange Money
    </div>
    <div class="description">
        Voulez-vous faire un transfert avec code ? Les frais de retrait seront à votre charge
    </div>
    <div class="confirm-btn">
        <ion-button shape="round" (click)="process(true)" class="btn btn-confirm" expand="block" >Oui, Continuer</ion-button>
        <ion-button shape="round" (click)="process(false)" class="btn btn-cancel" expand="block" >Non , annuler</ion-button>
    </div>
  </div>