@import 'src/app/app';

.sponsor-popup {
  //   width: 300px;
  //   border-radius: 20px;
  padding: 10px 20px;
  position: relative;
  img {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 17px;
    height: auto;
  }
  .title {
    text-align: center;
    margin: 30px 0;
    font-family: HelveticaNeueLTStd-Bd, sans-serif;
    font-size: 22px;
  }
  .form {
    width: 100%;
    margin-bottom: 30px;
    .error-text {
      margin: 20px 0;
      font-family: HelveticaNeueLTStd-Bd, sans-serif;
      font-size: 16px;
    }
    .contact {
      padding: 20px 0 40px;
    }
  }
  button {
    position: relative;
    mat-spinner {
      position: absolute;
      top: 15px;
      right: 10px;
    }
    .mat-spinner::ng-deep circle {
      stroke: $white;
    }
  }
}
