<div class="vertical-article-item" [ngClass]="{'display-by-one': uniqueDisplay}">
  <div class="img-container">
    <img [src]="FILE_ENDPOINT + '/' +article?.imageHeader" alt="img" class="article-image">
    <div class="fav-block">
      <img src="/assets/images/heart.png" alt="fav-icon" class="fav-icon">
    </div>
  </div>
  <div class="article-details">
    <div class="category scb-text-white"
      [ngStyle]="{'background-color': article?.categorieArticle?.colorCode ? article?.categorieArticle?.colorCode : '#000000'}">
      {{article?.categorieArticle?.name}}</div>
    <div class="article-title">{{article?.titre}}</div>
    <div class="more-infos">
      <div class="publication-date">
        <img src="/assets/images/clock.png" alt="" class="icon">
        <span class="scb-text-gray text">{{article?.createdDate | publicationDateFormat}}</span>
      </div>
      <div class="comments">
        <img src="/assets/images/comments.png" alt="" class="icon">
        <span class="scb-text-gray text">{{comments_max_size}} {{comments_max_size < 2 ? 'commentaire'
            :'commentaires'}}</span>
      </div>
    </div>
    <div class="article-content scb-text-gray" *ngIf="uniqueDisplay">
      <div class="text" [ngClass]="{'show-more': showMore}">
        {{article?.contenu}}
      </div>
      <div class="voir-plus" (click)="showeMore()">
        <span class="scb-text-orange">{{!showMore ? 'Voir plus' : 'Voir moins'}}</span>
      </div>
    </div>
    <div class="comments-block" *ngIf="uniqueDisplay">
      <div class="title-and-more">
        <span class="block-title">{{comments_max_size}} {{comments_max_size < 2 ? 'commentaire' :'commentaires'}}</span>
            <span class="scb-text-orange voir-tout">Voir tout</span>
      </div>
      <div class="comments-list">
        <app-comment-block [comment]="comment" *ngFor="let comment of comments"></app-comment-block>
        <div *ngIf="loadingComments" class="spinner-block">
          <ion-spinner name="bubbles"></ion-spinner>
        </div>
        <div class="more-comments-block" *ngIf="!infiniteScrollDisabled && !loadingComments">
          <span class="text scb-text-gray" (click)="loadComments()">Plus de commentaires</span>
        </div>
      </div>
    </div>
  </div>
</div>