@import 'src/app/app';

.check-firstly-container {    
    padding: 15px 15px;
    padding-top: 38px;
    .title {
        font-family: HelveticaNeueLTStd-Bd;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        margin-bottom: 30px;
        width: 70%;
    }
    .title-content{
        display: block;
        font-family: HelveticaNeueLTStd-Roman;
        font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #666666;
  margin-top:10px;
  width: 130%;
    }
    .check-otions-list {
        margin-bottom: 30px;
        .check-item {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 20px;
            .item-text {
                display: flex;
                align-items: flex-start;
                .item-icon {
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                }
                .text-content {
                    .titre {
                        display: block;
                        font-family: HelveticaNeueLTStd-Bd;
                        font-size: 16px;
                        line-height: 1.25;
                        margin-bottom: 5px;
                    }
                    .subtitle {
                        display: block;
                        font-family: HelveticaNeueLTStd-Roman;
                        font-size: 12px;
                        line-height: 1.33;
                    }
                }
            }
            .arrow {
                display: flex;
                transform: rotate(180deg);
            }
        }
    }
    .btn {
        border-radius: 10px;
    }
}
