<div class="select-beneficiary-container">
  <div class="title">
    Choix du bénéficiaire
  </div>
  <div class="description">
    Sélecionnez le bénéficiaire
  </div>
  <div *ngIf="option === 'WITH_MY_PHONES'" class="number-options">
    <mat-radio-group (change)="onOptionChange($event.value)">
      <mat-radio-button
        *ngFor="let number of numbers$ | async; index as i; count as size"
        [value]="number"
        [checked]="i === 0"
      >
        <div class="destination-number">
          <span> Mon numéro {{ size > 1 ? i + 1 : '' }} </span>
          <span>{{ number | phoneNumberDisplay }}</span>
        </div>
      </mat-radio-button>
      <mat-radio-button [value]="'AUTRE'">
        <div class="destination-number autre-number">
          <span>
            Offrir à un autre
          </span>
          <span>
            <ng-container *ngIf="showInput && opXtras.recipientFromContact">
              {{ numberFromInput | phoneNumberDisplay }}
            </ng-container>
          </span>
        </div>
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <oem-phone-number-provider
    [hidden]="!showInput"
    (onPhoneSelected)="onPhoneSelected($event)"
  >
  </oem-phone-number-provider>
  <div *ngIf="phoneIsNotValid" class="error-msg scb-text-red-error">
    Veuillez choisir un numéro de destinataire valide pour continuer
  </div>

  <div
    [hidden]="!canNotRecieve && !canNotRecieveError"
    class="error-msg scb-text-red-error"
  >
    Le numéro de votre destinataire ne peut pas recevoir de credit.
  </div>
  <div class="recents" *ngIf="(recentsRecipients$ | async)?.length > 0">
    <div class="recent-description scb-text-full-black">
      Récents
    </div>
    <div
      matRipple
      class="oem-item"
      (click)="onContinue(recent.msisdn)"
      *ngFor="let recent of recentsRecipients$ | async"
    >
      <div class="logo scb-text-white">
        {{ 'C' }}
      </div>
      <div class="labels">
        <span class="name"> {{ recent.msisdn | phoneNumberDisplay }}</span>
        <!-- <span class="number scb-text-gray">{{ recent.msisdn }}</span> -->
      </div>
    </div>
  </div>
  <div class="btn-continue">
    <button mat-button [disabled]="isProcessing" (click)="onContinue()">
      Continuer
    </button>
    <ion-spinner
      *ngIf="isProcessing || !(numbers$ | async)?.length"
      name="crescent"
    ></ion-spinner>
  </div>
</div>
