<app-dashboard-header [firstName]="firstName"></app-dashboard-header>
<ion-content>
  <div class="dashboard-container-mobile">
    <div class="postpaid-dashboard-container">
      <div *ngIf="showPromoBarner && listBanniere?.length" class="dashboard-img-promo">
        <ion-slides>
          <ng-container *ngFor="let banniere of listBanniere">
            <ion-slide>
              <span #error class="error-slide scb-text-full-black"> Erreur lors du chargement de l'image</span>
              <img-loader [spinner]="true" class="icone" [src]="banniere.image" useImg></img-loader>
            </ion-slide>
          </ng-container>
        </ion-slides>
        <div class="close-icon" (click)="hidePromoBarner()">
          <img src="/assets/images/group-14.svg" alt="hide-banniere-promo" />
        </div>
      </div>
      <div class="dashboard-block-conso">
        <div class="dashboard-block-conso-top-texts">
          <div><span class="suivi-conso">Suivi conso </span></div>
          <div (click)="goDetailsCom()">
            <span class="voir-details scb-text-orange">Voir details </span>
            <img src="/assets/images/arrow-right.svg" alt="keyboard-arrow-right-orange-mob" />
          </div>
        </div>
        <div class="dashboard-block-conso-btns">
          <div (click)="goDetailsCom()" class="scb-btn-blue scb-btn-credit-fix">
            <div class="scb-btn-top-block">
              <img class="scb-btn-top-block-icon" src="/assets/images/icon-call.svg"
                alt="curency-cfa-3-mob" />
              <div class="scb-btn-top-block-text">
                <span class="text">Crédit mensuel Offert</span>
              </div>
            </div>
            <div class="bottom-block">
              <span class="value">{{creditMensuelle | formatCurrency}}<span class="text-style-1"> FCFA </span>
              </span>
            </div>
          </div>
        </div>
        <div class="dashboard-block-conso-details">
          <div *ngIf="!dataLoaded" class="dashboard-block-spinner">
            <mat-spinner mode="indeterminate" [diameter]="60"></mat-spinner>
          </div>
          <div *ngIf="errorConso" class="scb-text-red-error error">
            <span (click)="getConso()">
              Erreur Chargement Conso. Cliquer ici pour recharger
            </span>
          </div>
          <ng-container *ngFor="let conso of userConsommationsCategories">
            <div class="dashboard-block-conso-details-item">
              <div class="conso-name-value-line">
                <span class="conso-name scb-text-gray">{{ conso.compteur }}</span>
                <span class="conso-value scb-text-full-black">{{ conso.montantFormat }}</span>
              </div>
              <ng-container *ngIf="
                        conso.code !== CODE_COMPTEUR_VOLUME_NUIT_1 &&
                            conso.code !== CODE_COMPTEUR_VOLUME_NUIT_2 &&
                            conso.code !== CODE_COMPTEUR_VOLUME_NUIT_3;
                        else compteurNuit
                    ">
                <div class="conso-expiration-line">
                  <span class="conso-expiration-date scb-text-light-black">Expire le
                    {{ conso.dateExpiration }}</span>
                </div>
              </ng-container>
              <ng-template #compteurNuit>
                <div class="conso-expiration-line">
                  <span class="conso-expiration-date scb-text-light-black">Utilisable de 00h à 08h</span>
                </div>
              </ng-template>
            </div>
          </ng-container>
        </div>
      </div>
      <div (click)="getBordereau()" *ngIf="hasErrorBordereau" class="scb-text-red-error error">
        <span>
          Erreur Chargement Facture. Cliquer ici pour recharger
        </span>
      </div>
      <div class="loader" *ngIf="isLoading">
        <ion-spinner name="crescent"></ion-spinner>
      </div>
      <div *ngIf="(bordereau$|async) as bordereau" class="dashboard-block-bill">
          <div class="bordereau" >
            <div class="labels">
              <div class="title">Mes factures</div>
              <span (click)="goFacture()" class="voir-tout" > Voir tout </span>
            </div>
            <div class="border-bill">
              <invoice-card [invoice]="bordereau" [title]="'Facture globale'"></invoice-card>
            </div>
          </div>
      </div>
      <div class="offre-infos">
        <span class="title" > Mes infos clients </span>
        <div class="infos-item">
          <span class="label">
            Numéro client (NCLI)
          </span>
          <span class="value">
            {{ customerOfferInfos?.clientCode }}
          </span>
        </div>
        <div class="infos-item">
          <span class="label">
            Etat de la ligne
          </span>
          <span class="value">
            <span class="text">
              {{ isNumberActivated ? 'Actif' : 'Inactif' }}&nbsp;
            </span>
            <span class="icone" [ngClass]="{ 'actif': isNumberActivated }">
            </span>
          </span>
        </div>
        <div class="infos-item">
          <span class="label">
            Offre en cours
          </span>
          <span class="value">
            {{ customerOfferInfos?.nomOffre }}
          </span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<app-ibou-ion-fab></app-ibou-ion-fab>