<app-dashboard-header [firstName]="firstName"></app-dashboard-header>
<ion-content>
  <div class="dashboard-container-mobile">
    <div class="postpaid-dashboard-container">
      <div *ngIf="showPromoBarner || listBanniere.length" class="dashboard-img-promo">
        <ion-slides>
          <ng-container *ngFor="let banniere of listBanniere">
            <ion-slide>
              <span #error class="error-slide scb-text-full-black"> Erreur lors du chargement de l'image</span>
              <img #img (error)="onError([{ el: error, display: true }, { el: img, display: false }])"
                [src]="banniere.image" alt="ban" />
            </ion-slide>
          </ng-container>
        </ion-slides>
        <div class="close-icon" (click)="hidePromoBarner()">
          <img src="/assets/images/group-14.svg" alt="hide-banniere-promo" />
        </div>
      </div>
      <div class="dashboard-block-conso">
        <div class="dashboard-block-conso-top-texts">
          <div><span class="suivi-conso">Suivi conso </span></div>
          <div (click)="goDetailsCom(1)">
            <span class="voir-details scb-text-orange">Voir details </span>
            <img src="/assets/images/arrow-right.svg" alt="keyboard-arrow-right-orange-mob" />
          </div>
        </div>
        <div class="dashboard-block-conso-btns">
          <div (click)="goDetailsCom()" class="scb-btn-green scb-btn-credit-fix">
            <div class="scb-btn-top-block">
              <img class="scb-btn-top-block-icon" src="/assets/images/orange-dialler-white.svg"
                alt="curency-cfa-3-mob" />
              <div class="scb-btn-top-block-text">
                <span class="text">Crédit mensuel</span>
              </div>
            </div>
            <div class="bottom-block">
              <span class="value">{{creditMensuelle | formatCurrency}}<span class="text-style-1"> FCFA </span>
              </span>
            </div>
          </div>
        </div>
        <div class="dashboard-block-conso-details">
          <div *ngIf="!dataLoaded" class="dashboard-block-spinner">
            <mat-spinner mode="indeterminate" [diameter]="60"></mat-spinner>
          </div>
          <div *ngIf="errorConso" class="scb-text-red-error error">
            <span (click)="getConso()">
              Erreur Chargement Conso. Cliquer ici pour recharger
            </span>
          </div>
        </div>
      </div>
      <div class="dashboard-block-bill">
        <div *ngIf="errorBill" class="scb-text-red-error error">
          <span (click)="getBills()">
            Erreur Chargement Facture. Cliquer ici pour recharger
          </span>
        </div>
        <div class="last-bill" *ngIf="bills?.length > 0">
          <div class="last-bill-title">
            <div class="scb-text-l-black">Mes factures</div>
            <div class="more-bills">
              <span class="scb-text-orange" routerLink="/bills">Voir tout </span>
              <img src="/assets/images/arrow-right.svg" alt="keyboard-arrow-right-orange-mob" />
            </div>
          </div>
          <div class="last-bill-infos">
            <div class="last-bill-infos-utils">
              <div class="bill-img-container">
                <img alt="" src="/assets/images/group-39.svg" />
              </div>
              <div class="bill-infos-container">
                <div class="top-infos">
                  <span>{{ months[lastSlip?.moisfact - 1] }} {{ lastSlip?.annefact }}</span>
                </div>
                <div class="bottom-infos">
                  <span class="scb-text-item-offre-black emiss-text">N° {{lastSlip?.nfact}}</span>
                  <span class="price">{{ lastSlip?.total | formatCurrency }} F</span>
                </div>
              </div>
            </div>
            <div class="last-bill-infos-dates">
              <div class="echeance-date" #detail>
                <span class="scb-text-item-offre-black emiss-text">
                  Echéance {{ lastSlip?.dateEcheance | formatBillDate }}</span>
                <img alt="" src="/assets/images/keyboard-arrow-up-black.svg" *ngIf="detail.show"
                  (click)="detail.show = !detail.show" />
                <img alt="" src="/assets/images/arrow-down.svg" *ngIf="!detail.show"
                  (click)="detail.show = !detail.show" />
              </div>
            </div>
            <div class="more-infos" *ngIf="detail.show">
              <div class="more-infos-item-block" (click)="downloadBill(bills[0])">
                <img alt="" src="/assets/images/pdf-file-2.svg" class="img-icon" /><span
                  class="scb-text-orange">Télécharger en PDF</span>
                <mat-spinner mode="indeterminate" *ngIf="bills[0]?.downloading" [diameter]="17"></mat-spinner>
              </div>
              <div (click)="mailToCustomerService()" class="more-infos-item-block" *ngIf="0">
                <img alt="" src="/assets/images/pdf-file-copy-4.svg" class="img-icon" /><span
                  class="scb-text-orange">Faire une réclamation</span>
              </div>
              <div *ngIf="0" class="more-infos-item-block">
                <img alt="" src="/assets/images/pdf-file-copy-5.svg" class="img-icon" /><span
                  class="scb-text-orange">Payer par Orange Money</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<div id="fab-background" *ngIf="fabOpened"></div>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="fabToggled()">
  <ion-fab-button>
    <img class="ibou-icon" src="/assets/images/avatar-ibou-update.svg" alt="" (tap)="fabToggled()" />
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button class="fab-item" (click)="openSocialNetworkModal()">
      <img src="/assets/images/share_fab_icon.svg" alt="" />
    </ion-fab-button>
    <ion-label (click)="openSocialNetworkModal()">
      Partager l’application
    </ion-label>

    <ion-fab-button class="fab-item" routerLink="/assistance">
      <img src="/assets/images/need_help_fab_icon.svg" alt="" />
    </ion-fab-button>
    <ion-label routerLink="/assistance"> Besoin d’aide ? </ion-label>

    <ion-fab-button class="fab-item" routerLink="/control-center">
      <img src="/assets/images/emergency_help_fab_icon.svg" alt="" />
    </ion-fab-button>
    <ion-label routerLink="/control-center">Assistance</ion-label>
  </ion-fab-list>
</ion-fab>