@import 'src/app/app';

.success-modal {
  border-radius: 6px;
  .img-container {
    width: percentage(160/350);
    margin: auto;
    padding-top: 40px;
    .operation-img {
      width: 100%;
    }
  }
  .title-container {
    padding-top: 25px;

    width: percentage(250/350);
    margin: auto;
    text-align: center;
    span {
      font-size: 18px;
    }
    .title {
      &.custome-style {
          font-family: HelveticaNeueLTStd-Bd;
          font-size: 34px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.12;
          letter-spacing: -0.34px;
          text-align: center;
          color: #000000;
          display: inline-block;
      } 
    }
  }
  .text-container {
    padding-top: 8px;
    width: percentage(280/350);
    margin: auto;

    text-align: center;
    span {
      font-family: HelveticaNeueLTStd-Roman, sans-serif;
      font-size: 14px;
    }
    .text {
      &.custom-rattach {
          font-family: HelveticaNeueLTStd-Roman;
          font-size: 16px;
          line-height: 1.13;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.25;
          color: $gray;
          .numero {
            font-family: HelveticaNeueLTStd-Bd;
            color: $fullBlack;
          }
      }
      
  }
  }
  .btn-container {
    padding-top: 25px;
    width: percentage(200/350);
    margin: auto;
    padding-bottom: 30px;
      ion-button {
        --background-activated: black;
        --background: #ff7900;
        --color-activated: black;
        --border-radius: 10px;
        --color-activated: #ff7900;
        height: 50px;
        &.button {
          --color: #ff7900;
          --background: #ffffff;
          font-size: 16px;
        }
      }
  }
}
