<div class="kiosk-card">
  <div class="kiosk-id scb-text-white">1</div>
  <div class="kiosk-infos">
    <div class="kiosk-infos-details">
      <div>Kiosque Cite Keur Gorgui</div>
      <div class="details-item">
        <ion-icon name="navigate" class="scb-text-gray"></ion-icon>
        <span class="scb-text-gray item-text">50m de votre position</span>
      </div>
      <div class="details-item">
        <ion-icon name="time" class="scb-text-orange-light"></ion-icon>
        <span class="scb-text-orange-light item-text">Ferme à 18:30</span>
      </div>
    </div>
    <div class="itineraire scb-text-orange">Itinéraire</div>
  </div>
</div>