<div class="bon-plan-reduction-card v1" *ngIf="displayVersion === 'v1'">
  <div class="reduction-image-container">
    <img src="/assets/images/vue-laterale-pizza-au-poivre-hache-dans-ustensiles-cuisine-bord-176474-3183@2x.png" />
  </div>
  <div class="reduction-details">
    <img src="assets/images/logo@2x.jpg" alt="" class="partner-logo">
    <div class="reduction-infos">
      <div class="info-1">1 Pizza GM achetée</div>
      <div class="info-2">
        <ion-icon name="pricetag" class="price-tag-icon"></ion-icon>1 Pizza PM ou1 Boisson offert(e)
      </div>
    </div>
  </div>
</div>

<div class="bon-plan-reduction-card v2" *ngIf="displayVersion === 'v1'">

</div>