<ion-header>
  <app-help-banner
  [text]="'Saisir le numéro que vous voulez rattacher'"
  [helpType]="'rattachment'"
  ></app-help-banner>
</ion-header>
<ion-content class="phone-number-attachment-container">
    <div class="phone-number-attachment-container-body">
        <form novalidate autocomplete="false">
          <mat-form-field class="scb-input-row dest-number-input scb-required font-size-20" appearance="outline">
              <mat-label>Numéro de mobile ou fixe &nbsp;&nbsp;</mat-label>
              <input
                  #otherDestNumber
                  matInput
                  type="tel"
                  (input)="enableNextBtn(otherDestNumber.value)"
              />
          </mat-form-field>
      </form>
      <div class="text-infos scb-text-gray">
        Le numéro peut être un numéro fixe ou mobile
      </div>
      <div *ngIf="hasError" class="text-infos scb-text-red-error error">
        {{ errorMsg }}
      </div>
      <div class="confirm-btn">
        <ion-button [disabled]="!isValidNumber || isProcessing" (click)="saveRattachmentNumber(otherDestNumber.value)" expand="block" shape="round" class="scb-btn-ion">Confirmer</ion-button>
        <mat-spinner mode="indeterminate" [diameter]="20" *ngIf="isProcessing"></mat-spinner>
      </div>
      </div>
</ion-content>
