@import 'src/app/app';

.creation-steps {
  padding: 0 15px;
  position: relative;
  .voir-intro {
    text-align: right;
    padding-top: 15px;
    font-size: 18px;
  }
  width: 100%;
  height: 100%;
  background: url('/assets/images/background_login_page.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
  .go-back{
    position: absolute;
    left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
  }
  .img-container {
    width: percentage(118/365);
    margin: 25px 0 20px;
    text-align: left;
    img {
      width: 100%;
      height: auto;
    }
  }
  .title {
    width: percentage(248/375);
    margin: 30px 0 10px;
    text-align: left;
    font-family: HelveticaNeueLTStd-Bd;
    font-size: 34px;
  }
  .sub-title {
    padding: 10px 0 20px;
    span {
      font-size: 16px;
      font-family: HelveticaNeueLTStd-Roman;
    }
  }
  .form-container {
    width: 100%;
    margin: 0 auto;
    .form-get-number {
      .get-number {
        font-style: italic;
        font-family: HelveticaNeueLTStd-Roman;
        font-size: 14px;
        padding: 15px;
        border: solid 2px $grey;
        border-radius: 7px;
      }
      .numero-container {
        padding: 15px;
        border: solid 2px $grey;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .phonenumber {
          font-family: HelveticaNeueLTStd-Bd;
          font-size: 24px;
        }
        .refresh {
          span {
            font-size: 14px;
          }
        }
      }
      .description {
        font-family: HelveticaNeueLTStd-Roman;
        font-size: 12px;
        margin-top: 10px;
      }
      .error-text {
        padding-bottom: 20px;
        font-family: HelveticaNeueLTStd-Roman, sans-serif;
        font-size: 12px;
      }
      button {
        margin-top: 20px;
        border-radius: 6px;
        position: relative;
        mat-spinner {
          position: absolute;
          top: 15px;
          right: 10px;
        }
        .mat-spinner::ng-deep circle {
          stroke: $white;
        }
      }
      .je-me-connecte {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
        .text-1 {
          font-family: HelveticaNeueLTStd-Roman;
          font-size: 14px;
        }
        .text-2 {
          font-family: HelveticaNeueLTStd-Bd;
          font-size: 18px;
        }
      }
    }
    form {
      .text-info {
        text-align: center;
        font-family: HelveticaNeueLTStd-Roman;
        font-size: 16px;
        line-height: 1.13;
        margin-bottom: 20px;
      }
      .error-text {
        padding-bottom: 20px;
        font-family: HelveticaNeueLTStd-Roman, sans-serif;
        font-size: 12px;
      }
      .accept-cgu {
        font-family: HelveticaNeueLTStd-Roman, sans-serif;
        font-size: 12px;
        .bold {
          font-family: HelveticaNeueLTStd-Bd, sans-serif;
        }
      }
      button {
        margin-top: 20px;
        border-radius: 6px;
        position: relative;
        mat-spinner {
          position: absolute;
          top: 15px;
          right: 10px;
        }
        .mat-spinner::ng-deep circle {
          stroke: $white;
        }
      }
      .resend-code {
        margin: 25px 0;
      }
    }
    .bottom-block {
      margin-top: 50px;
      .nav-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        .left-block {
          .titre {
            font-size: 16px;
            line-height: 1.25;
          }
          .sous-titre {
            font-family: HelveticaNeueLTStd-Roman, sans-serif;
            font-size: 12px;
            line-height: 1.33;
            margin-top: 5px;
          }
        }
        .right-block {
        }
      }
    }
  }
  .intro {
    text-align: center;
    margin: 50px 0 20px;
    font-family: HelveticaNeueLTStd-Bd;
    font-size: 18px;
  }
}

.page-success {
  // background-image: url('/assets/images/background_register_success.svg');
  // background-repeat: repeat;
  // background-size: cover;
  text-align: center;
  margin: 0 percentage(60/375);
  padding-top: 100px;

  .animation-icon {
    .thumbsup-icon {
      position: relative;
      width: 200px;
      height: 200px;
    }

    .thumbsup-icon svg {
      position: absolute;
      left: 25%;
    }

    .thumbsup-icon .stripes {
      fill: #f7f7f7;
      animation: 1300ms stripes-swing infinite ease-in-out;
    }

    .thumbsup-icon .stars {
      fill: #febb02;
    }

    .thumbsup-icon .star1 {
      animation: 1300ms star-fly1 infinite;
      z-index: 1;
    }

    .thumbsup-icon .star2 {
      animation: 1300ms star-fly2 infinite;
      z-index: 1;
    }

    .thumbsup-icon .star3 {
      animation: 1300ms star-fly3 infinite;
      z-index: 1;
    }

    .thumbsup-icon .star4 {
      animation: 1300ms star-fly4 infinite;
      z-index: 1;
    }

    .thumbsup-icon .star5 {
      animation: 1300ms star-fly5 infinite;
      z-index: 1;
    }

    .thumbsup-icon .thumbsup {
      animation: 1300ms thumbsup-shake infinite ease-in-out;
      z-index: 2;
    }

    @keyframes star-fly1 {
      0% {
        transform: translate(20%, 40%) scale(0.76, 0.76);
        opacity: 0;
      }
      12.8% {
        opacity: 1;
      }
      28.2% {
        transform: translate(0, 0) scale(1, 1);
      }
    }

    @keyframes star-fly2 {
      0% {
        transform: translate(-14%, 40%) scale(0.76, 0.76);
        opacity: 0;
      }
      12.8% {
        opacity: 1;
      }
      28.2% {
        transform: translate(0, 0) scale(1, 1);
      }
    }

    @keyframes star-fly3 {
      0% {
        transform: translate(5%, -35%) scale(0.76, 0.76);
        opacity: 0;
      }
      12.8% {
        opacity: 1;
      }
      28.2% {
        transform: translate(0, 0) scale(1, 1);
      }
    }

    @keyframes star-fly4 {
      0% {
        transform: translate(30%, 0) scale(0.76, 0.76);
        opacity: 0;
      }
      12.8% {
        opacity: 1;
      }
      28.2% {
        transform: translate(0, 0) scale(1, 1);
      }
    }

    @keyframes star-fly5 {
      0% {
        transform: translate(-20%, 0) scale(0.76, 0.76);
        opacity: 0;
      }
      12.8% {
        opacity: 1;
      }
      28.2% {
        transform: translate(0, 0) scale(1, 1);
      }
    }

    @keyframes thumbsup-shake {
      0% {
        transform: rotate(20deg) scale(0.74, 0.74);
        opacity: 0.1;
      }
      7.7% {
        opacity: 1;
        transform: rotate(0) scale(1, 1);
      }
      15.4% {
        transform: rotate(-11deg) scale(1.08, 1.08);
      }
      28.2% {
        transform: rotate(0) scale(1, 1);
      }
    }

    @keyframes stripes-swing {
      20.5% {
        transform: translate(4%, 0);
      }
      38.4% {
        transform: translate(-2%, 0);
      }
      59% {
        transform: translate(3.7%, 0);
      }
      79.5% {
        transform: translate(0, 0);
      }
    }
  }

  .bravo {
    font-family: HelveticaNeueLTStd-Bd;
    font-size: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    span {
      margin-right: 10px;
    }
  }
  .title {
    font-family: HelveticaNeueLTStd-Bd;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .text {
    font-family: HelveticaNeueLTStd-Roman;
    font-size: 12px;
    margin-bottom: 50px;
  }
  .btn-container {
    button {
      position: relative;
      mat-spinner {
        position: absolute;
        top: 15px;
        right: 10px;
      }
      .mat-spinner::ng-deep circle {
        stroke: $white;
      }
    }
  }
}
