<div class="creation-steps">
  <div class="go-back">
    <img (click)="goBack()" src="/assets/images/arrow-left.png" class="close-icon" alt="" />
  </div>
  <div class="img-container">
    <img src="/assets/images/sim-icon.svg" alt="" />
  </div>
  <div class="title">
    <span>Numéro de téléphone </span>
  </div>
  <div class="sub-title">
    <span class="scb-text-gray">Veuillez saisir votre numéro de téléphone
    </span>
  </div>
  <div class="form-container">
    <div class="form-get-number">
      <form [formGroup]="form" (ngSubmit)="checkNumber()" novalidate autocomplete="false">
        <mat-form-field class="scb-input-row" appearance="outline">
          <mat-label>Numéro de téléphone &nbsp;&nbsp;</mat-label>
          <input formControlName="msisdn" matInput type="tel" [id]="'login' | generateIdForTA" />
          <span matSuffix class="show-hide-text c-pointer" (click)="getNumber($event)">Rafraîchir</span>
        </mat-form-field>
      </form>
      <!-- <div *ngIf="numberGot && !gettingNumber" class="scb-text-gray numero-container">
        <div class="phonenumber scb-text-full-black">{{ phoneNumber }}</div>
        <div *ngIf="!hideRefresh" class="refresh" (click)="getNumber()">
          <span class="scb-text-orange">Rafraichir</span>
        </div>
      </div> -->
      <div *ngIf="showErrMessage" class="error-text">
        <span class="scb-text-red-error" (click)="getNumber()">
          {{ errorMsg }}
        </span>
      </div>
      <div *ngIf="isNumberAttachedError" class="error-text">
        <span class="scb-text-red-error">
          {{ errorMsg }}
        </span>
      </div>
      <button *ngIf="!showErrMessage" (click)="checkNumber()" class="scb-btn scb-btn-full scb-btn-orange" type="submit"
        [disabled]="!numberGot || checkingNumber || gettingNumber || !form?.valid">
        <span>Suivant</span>
        <mat-spinner mode="indeterminate" [diameter]="20" *ngIf="checkingNumber"></mat-spinner>
      </button>
    </div>
  </div>
</div>