<div class="creation-steps">
  <div class="scb-text-orange voir-intro" *ngIf="step === 'CHECK_NUMBER'">
    <span (click)="goIntro()">Voir l'intro</span>
  </div>
  <div class="img-container">
    <img src="/assets/images/sim-icon.svg" alt="" />
  </div>
  <div class="title">
    <span *ngIf="step === 'CHECK_NUMBER'">Numéro de téléphone</span>
    <span *ngIf="step === 'PASSWORD'">Je m'inscris</span>
  </div>
  <div class="sub-title">
    <span class="scb-text-gray" *ngIf="step === 'CHECK_NUMBER'"
      >Merci de patienter pendant que nous récupérons votre numéro
    </span>
    <span class="scb-text-gray" *ngIf="step === 'PASSWORD'"
      >Créer un nouveau mot de passe
    </span>
  </div>
  <div class="form-container">
    <div *ngIf="step === 'CHECK_NUMBER'" class="form-get-number">
      <div *ngIf="gettingNumber" class="scb-text-gray get-number">
        Récupération en cours...
      </div>
      <div
        *ngIf="numberGot && !gettingNumber"
        class="scb-text-gray numero-container"
      >
        <div class="phonenumber scb-text-full-black">{{ phoneNumber }}</div>
        <div class="refresh" (click)="getNumber()">
          <span class="scb-text-orange">Rafraichir</span>
        </div>
      </div>
      <div *ngIf="showErrMessage" class="error-text">
        <span class="scb-text-red-error" (click)="getNumber()">
          {{ errorMsg }}
        </span>
      </div>
      <button
        *ngIf="!showErrMessage"
        (click)="checkNumber()"
        class="scb-btn scb-btn-full scb-btn-orange"
        type="submit"
        [disabled]="!numberGot || checkingNumber || gettingNumber"
      >
        <span>Suivant</span>
        <mat-spinner
          mode="indeterminate"
          [diameter]="20"
          *ngIf="checkingNumber"
        ></mat-spinner>
      </button>
    </div>
    <form
      [formGroup]="formPassword"
      (submit)="createAccount()"
      *ngIf="step === 'PASSWORD'"
    >
      <mat-form-field class="scb-input-row" appearance="outline">
        <mat-label>Créez mot de passe &nbsp;&nbsp;</mat-label>
        <input
          formControlName="password"
          matInput
          [attr.type]="fields['password'].fieldType"
          #password
        />
        <span
          *ngIf="password.value"
          (click)="changePasswordVisibility('password')"
          matSuffix
          class="show-hide-text c-pointer"
        >
          {{ fields['password'].fieldType === 'text' ? 'Cacher' : 'Afficher' }}
        </span>
      </mat-form-field>
      <mat-form-field class="scb-input-row" appearance="outline">
        <mat-label>Confirmez le mot de passe &nbsp;&nbsp;</mat-label>
        <input
          formControlName="confirmPassword"
          matInput
          [attr.type]="fields['confirmPassword'].fieldType"
          #confirmPassword
        />
        <span
          *ngIf="confirmPassword.value"
          (click)="changePasswordVisibility('confirmPassword')"
          matSuffix
          class="show-hide-text c-pointer"
        >
          {{ fields['confirmPassword'].fieldType === 'text' ? 'Cacher' :
          'Afficher' }}
        </span>
      </mat-form-field>
      <div *ngIf="showErrMessage" class="error-text">
        <span class="scb-text-red-error"> {{ errorMsg }} </span>
      </div>
      <div class="accept-cgu scb-text-gray">
        En cliquant sur le bouton M'inscrire, vous acceptez
        <span class="scb-text-orange bold" (click)="openCguDialog()"
          >les conditions générales d'utilisation</span
        >
      </div>
      <button
        class="scb-btn scb-btn-full scb-btn-orange"
        type="submit"
        [disabled]="creatingAccount || !formPassword.valid"
      >
        <span>M'inscrire</span>
        <mat-spinner
          mode="indeterminate"
          [diameter]="20"
          *ngIf="creatingAccount"
        ></mat-spinner>
      </button>
    </form>
    <div class="bottom-block">
      <div
        class="nav-item"
        *ngFor="let item of navItems"
        (click)="doAction(item.action)"
      >
        <div class="left-block">
          <div class="titre">{{item.title}}</div>
          <div class="sous-titre scb-text-gray">{{item.subTitle}}</div>
        </div>
        <div class="right-block">
          <img src="/assets/images/long-arrow-right.png" alt="arrow-right" />
        </div>
      </div>
    </div>
  </div>
</div>
