<div
  class="buy-pass-internet-container"
  [ngClass]="{ 'success-custom-style': step === 5 }"
>
  <app-header
    *ngIf="step <= 4"
    [title]="title"
    (goBack)="goToPreviousStep()"
  ></app-header>
  <div class="buy-pass-body-block">
    <ng-container *ngIf="step === 0">
      <app-choose-payment-mod
        (paymentMod)="nextStepOfPaymentMod($event)"
        (chooseFavoris)="nextStepOfFavorisPass($event)"
      ></app-choose-payment-mod>
    </ng-container>

    <ng-container *ngIf="step === 10000">
      <app-select-recipient
        *ngIf="currentProfil !== PROFILE_TYPE_POSTPAID"
        (getDestinataire)="nextStepOfSelectDest($event)"
        (getContact)="contactGot($event)"
      ></app-select-recipient>
      <app-select-other-recipient
        (nextStepEmitter)="nextStepOfSelectDest($event)"
        *ngIf="currentProfil === PROFILE_TYPE_POSTPAID"
        [type]="'pass'"
      ></app-select-other-recipient>
    </ng-container>

    <ng-container *ngIf="step === 2">
      <app-list-pass-internet
        [destinataire]="destinataire"
        [paymentMode]="choosedPaymentMod"
        (getSelectedPassInternet)="nextStepOfChoosePassInternet($event)"
      >
      </app-list-pass-internet>
    </ng-container>

    <ng-container *ngIf="step === 3">
      <ng-container *ngIf="!passsFavorisChoosen">
        <app-operation-validation
          [operationType]="OPERATION_TYPE_PASS_INTERNET"
          [recipient]="destinataire"
          [buyForMe]="destinataire === currentUserNumber"
          [passIntChosen]="passInternetChoosen"
          [paymentMod]="choosedPaymentMod"
          [omRecipientFirstName]="recipientFirstName"
          [omRecipientLastName]="recipientLastName"
          (validate)="passInternetPurchase()"
        >
        </app-operation-validation>
      </ng-container>
      <!-- <ng-template #validationPageV2>
        <scb-acheter-pass-validation-v2-mobile
          [typeAchat]="OPERATION_TYPE_PASS_ILLIMIX"
          [passChoosedBy]="purchasePass"
          (goToSuccessStep)="passFavorisPurchased($event)"
        >
        </scb-acheter-pass-validation-v2-mobile>
      </ng-template> -->
    </ng-container>

    <ng-container *ngIf="step === 4">
      <app-activation-om
        [operation]="OPERATION_TYPE_PASS_INTERNET"
        [passToBuy]="purchasePass"
        (resultEmit)="omResultGot($event)"
      ></app-activation-om>
    </ng-container>

    <ng-container *ngIf="step === 5">
      <app-operation-success-or-fail
        [operationType]="OPERATION_TYPE_PASS_INTERNET"
        [failed]="failed"
        [passIntChosen]="purchasePass"
        [recipient]="destinataire"
        [errorMessage]="errorMsg"
        [buyForMe]="destinataire === currentUserNumber"
        [recipientFirstName]="recipientLastName"
        [recipientLastName]="recipientFirstName"
        (newOperation)="initialStep()"
      ></app-operation-success-or-fail>
    </ng-container>
  </div>
</div>
