<div class="buy-pass-internet-list-container">
  <div class="buy-pass-list-body-block">
    <div *ngIf="0" class="buy-pass-list-body-block-top-text">
      <span (click)="changeCategorie(0)" class="btn" [ngClass]="{ selected: activeTabIndex === 0 }">
        Catégories
      </span>
      <span *ngIf="0" class="btn" [ngClass]="{ selected: activeTabIndex === 1 }">
        Favoris
      </span>
    </div>
    <div class="buy-pass-list-body-block-list">
      <ion-slides #sliders pager="false" [options]="slideOpts" (ionSlideDidChange)="slideChanged()">
        <ion-slide>
          <div class="list-btns-filter">
            <ng-container *ngFor="let label of listCategory">
              <div
                mat-stroked-button
                (click)="filterPassBy(label)"
                [ngClass]="{
                  'list-btns-filter-item-selected': selectedCategory === label
                }"
                fxFlex="22.5%"
                class="list-btns-filter-item"
              >
                <span class="text">{{ label }}</span>
              </div>
            </ng-container>
          </div>

          <div fxLayout="column" fxLayoutGap="10px" class="list-pass-internet">
            <!-- Pass Internet JOUR -->

            <ng-container *ngFor="let pass of listPassInternetShown">
              <div
                (click)="selectPass(pass)"
                class="list-pass-internet-item"
                [ngClass]="{
                  'pass-internet-mois': pass?.bonusNuit && !pass?.promo,
                  'list-pass-internet-item-promo': pass?.passPromo && !pass?.bonusNuit,
                  'bonus-and-promo': pass?.passPromo && pass?.passPromo?.bonusNuit
                }"
              >
                <div class="promo-badge scb-text-white" *ngIf="pass?.passPromo">
                  <span class="nom-promo">{{ pass.description }}</span> jusqu'au
                  {{ pass?.dateFin | date: 'dd MMM' }}
                </div>
                <div class="list-pass-internet-item-text-block">
                  <span class="amount-data">
                    {{ !pass.passPromo ? pass?.volumeInternet : pass?.passPromo?.volumeInternet }}
                    -
                    <span class="scb-text-orange">
                      {{ !pass.passPromo ? pass?.tarif : pass?.passPromo?.tarif }}F
                    </span></span
                  >
                  <span class="max-duration scb-text-light-black"
                    >Valable 
                    <span
                      [ngSwitch]="
                        !pass?.passPromo ? pass?.categoriePass?.libelle : pass?.passPromo?.categoriePass?.libelle
                      "
                    >
                    <ng-container *ngSwitchCase="'Jour'">&nbsp; {{(!pass?.passPromo && pass?.validitePass) ? pass?.validitePass : ' 1 jour.' }} </ng-container>
                    <ng-container *ngSwitchCase="'Semaine'">&nbsp; {{(!pass?.passPromo && pass?.validitePass) ? pass?.validitePass : ' 7 jours.' }} </ng-container>
                    <ng-container *ngSwitchCase="'Mois'"> &nbsp;{{(!pass?.passPromo && pass?.validitePass) ? pass?.validitePass : ' 30 jours.' }}</ng-container>
                    <ng-container *ngSwitchCase="'Nuit'">&nbsp; {{(!pass?.passPromo && pass?.validitePass) ? pass?.validitePass : ' de 00h à 08h.' }}</ng-container>
                    <ng-container *ngSwitchDefault>&nbsp; {{(!pass?.passPromo && pass?.validitePass) ? pass?.validitePass : ' 3 jours.' }} </ng-container>
                    </span>
                  </span>
                </div>
                <div class="list-pass-internet-item-icon">
                  <img src="/assets/images/arrow-right.svg" alt="arrow-right" class="arrow-right" />
                </div>
                <div
                  *ngIf="!pass?.passPromo ? pass?.bonusNuit : pass?.passPromo?.bonusNuit"
                  class="list-pass-internet-item-bonus"
                >
                  <span class="text scb-text-white">{{
                    !pass.passPromo ? pass?.bonusNuit : pass?.passPromo?.bonusNuit
                  }}</span>
                </div>
              </div>
            </ng-container>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="spinner" *ngIf="!isLoaded">
      <mat-spinner mode="indeterminate" [diameter]="60"></mat-spinner>
    </div>
  </div>
</div>
