<ion-header [oemIonHeaderParallax]="90" >
  <ion-toolbar >
      <ion-buttons>
        <ion-back-button (click)="goBack()" icon="" class="oem-back-button" >
            <img src="/assets/images/arrow-left.png" alt="icon" />
        </ion-back-button>  
      </ion-buttons>
      <ion-title>Tous les services</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content  no-bounce has-bouncing="false" forceOverscroll="false" [scrollEvents]="true">
  <div class="oem-services-page">

    <oem-operations [operations]="operations"></oem-operations>
  </div>
</ion-content>

