@import 'src/app/app';

:host {
  width: percentage(135/375);
  margin-left: percentage(15/375);
}

.act-item {
  min-height: 100px;
  background-color: $white;
  border-radius: 10px;
  padding: 20px 15px;
  flex-shrink: 0;
  text-align: left;
  .img {
    width: percentage(47/135);
    margin-bottom: 3px;
  }
  .act-description {
    font-family: HelveticaNeueLTStd-Roman;
    font-size: 14px;
    line-height: 1.29;
  }
}

.item-action {
    display: flex;
    align-items: center;
    position: relative;
    padding: 18px 0;
    width: 100%;
    border-bottom: solid 1px #eeeeee;
  &:not(:last-child) {
    border-bottom: solid 1px $silver;
  }
  .action-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .action-text {
    margin: 4px 12px 0 10px;
    font-family: HelveticaNeueLTStd-Roman;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: normal;
    color: #000000;
    flex-grow: 1;
  }
  .arrow-right {
    width: 22px;
    height: 30px;
  }

}
