@import 'src/app/app';

.invoice-card {
  border-radius: 5px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  font-family: HelveticaNeueLTStd-Bd;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 15px 0px;
  &.with-border {
    border: solid 1px #ddd;
  }
  .section1 {
    display: flex;
    padding-bottom: 15px;
    .infos {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
      margin-top: 5px;
      .title {
        font-family: HelveticaNeueLTStd-Bd;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: #000000;
        padding-bottom: 2px;
      }
      .facture {
        font-family: HelveticaNeueLTStd-Roman;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #666666;
        margin-top: 10px;
      }
      .price-and-echeance {
        display: flex;
        justify-content: space-between;
        width: calc(100% + 50px);
        margin-top: 5px;
        align-items: flex-end;
        .date {
          font-family: HelveticaNeueLTStd-Roman;
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: normal;
          color: #666666;
          margin-top: 2px;
          &.echeance-depasse {
            color: $redError !important;
            font-family: HelveticaNeueLTStd-Bd;
            max-width: 40%;
          }
        }
        .bill-price {
          font-size: 20px;
          line-height: 1.1;
        }
      }
    }
    .logo {
      width: 50px;
      height: 50px;
      object-fit: contain;
      border: solid 1px #eeeeee;
      border-radius: 50%;
    }
  }
  .path {
    height: 1px;
    border: solid 1px #eeeeee;
  }
  .section2 {
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
    align-items: center;
    .s2-text {
      font-family: HelveticaNeueLTStd-Bd;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: normal;
      color: #ff7900;
    }
    .pay {
      color: $yellow;
      &.paid {
        color: $greenSuccess !important;
      }
      &.unpaid {
        color: $orange !important;
      }
    }
    .font-size-14 {
      font-size: 14px;
    }
    .color-green {
      color: green;
    }
    .s3-text {
      font-family: HelveticaNeueLTStd-Roman;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #666;
      display: flex;
      align-items: center;
    }
    .tel {
      margin-left: 5px;
    }
  }
}
