<div class="scb-menu-mobile-container">
  <div class="menu-close-icon">
    <ion-menu-toggle [id]="'close-menu' | generateIdForTA">
      <img src="/assets/images/close-ic-menu.svg" alt="">
    </ion-menu-toggle>
  </div>
  <div class="user-infos">
    <div class="avatar-block">
      <img [src]="avatarUrl" alt="profil-mob" (error)="setImgAvatarToDefault()" class="avatar-profil" />
    </div>
    <div class="user-name">{{ firstName }} {{ lastName }}</div>
    <div>
      <span class="edit-account scb-text-orange" [id]="'edit-account-btn' | generateIdForTA" (click)="goMyAccount()">
        <ion-menu-toggle>Editer mon compte</ion-menu-toggle>
      </span>
    </div>
  </div>
  <app-face-id-alert-popup *ngIf="isBiometricAvailable && userBiometricStatus !== FACE_ID_PERMISSION_ALLOWED && userBiometricStatus !== FACE_ID_PERMISSION_DENIED"></app-face-id-alert-popup>
	<app-pop-up-compte-om-bloqued *ngIf="omUserInfos?.active === false" (close)="closePopUpOM()"></app-pop-up-compte-om-bloqued>
  <div class="gerer-mes-lignes">
    <div class="text">
      <span class="mes-lignes">Mes lignes</span>
      <span class="scb-text-orange gerer" [id]="'rattached-lines-btn' | generateIdForTA" (click)="goToRattachedNumberPage()">
        <ion-menu-toggle>Gérer mes lignes</ion-menu-toggle>
      </span>
    </div>
    <div class="lignes">
      <div class="ligne-item" (click)="switchPhoneNumber(number.msisdn)" *ngFor="let number of numbers"
        [ngClass]="{'active': isActiveNumber(number)}">
        <ion-menu-toggle>
          <img *ngIf="isActiveNumber(number)" src="/assets/images/validate-green.svg" alt="" class="checkbox">
          <div class="circle"></div>
          <img src="/assets/images/sim-icon2.svg" alt="sim" class="sim-image">
          <div class="sim-number">{{number?.msisdn | phoneNumberDisplay}}</div>
          <div class="offer scb-text-light-black">{{number?.formule}}</div>
        </ion-menu-toggle>
      </div>
      <div class="ligne-item ligne-item-plus" (click)="openModalRattachNumber()">
        <ion-menu-toggle>
          <img src="assets/images/combined-shape.svg" alt="plus" class="img-plus">
        </ion-menu-toggle>
      </div>
    </div>
  </div>
  <div class="menu-items">
    <div class="item-option" [id]="'conso-entry' | generateIdForTA" (click)="goDetailsConso()">
      <ion-menu-toggle>
        <img src="/assets/images/icons-suivi-conso.svg" alt="" class="option-img">
        <span class="option-text">Détails suivi conso</span>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </ion-menu-toggle>
    </div>
    <div class="item-option" [id]="'om-infos' | generateIdForTA" (click)="openOMStatus()">
      <ion-menu-toggle>
        <img src="/assets/images/ic-orange-money-transactions.png" alt="" class="option-img">
        <span class="option-text">Vérifier votre plafond</span>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </ion-menu-toggle>
    </div>
    <div class="item-option" [id]="'my-formule-entry' | generateIdForTA" (click)="goFormule()">
      <ion-menu-toggle>
        <img src="/assets/images/icon-formule.svg" alt="" class="option-img">
        <span class="option-text">Formule</span>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </ion-menu-toggle>
    </div>
    <div class="item-option" [id]="'my-services-entry' | generateIdForTA" (click)="onOffreClicked()" *ngIf="currentProfile !== 'POSTPAID'">
      <ion-menu-toggle>
        <img src="/assets/images/icons-offres-service.svg" alt="" class="option-img">
        <span class="option-text">Offres et services</span>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </ion-menu-toggle>
    </div>
    <div class="item-option" [id]="'bills-entry' | generateIdForTA" (click)="goFacture()" *ngIf="currentProfile !== 'PREPAID' && currentProfile">
      <ion-menu-toggle>
        <img src="/assets/images/icons-facture.svg" alt="" class="option-img">
        <span class="option-text">Factures</span>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </ion-menu-toggle>
    </div>
    <div class="item-option" [id]="'sponsor-entry' | generateIdForTA" (click)="goParrainage()">
      <ion-menu-toggle>
        <img src="/assets/images/icons-parrainage.svg" alt="" class="option-img">
        <span class="option-text">Parrainages</span>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </ion-menu-toggle>
    </div>
    <div class="item-option" [id]="'samay-sargal-entry' | generateIdForTA" (click)="goToMyOfferPlans()" *ngIf="userSubscription?.code === SCOOL_CODE_FORMULE">
      <ion-menu-toggle>
        <img src="/assets/images/icons-bons-plan.svg" alt="" class="option-img">
        <span class="option-text">Samay Xeweel</span>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </ion-menu-toggle>
    </div>
    <div class="item-option" [id]="'bon-plan-sargal-entry' | generateIdForTA" (click)="goBPSargal()" *ngIf="showBonPlanSargal">
      <ion-menu-toggle>
        <img src="/assets/images/icons-offres-service.svg" alt="" class="option-img">
        <span class="option-text">Bons plans Sargal</span>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </ion-menu-toggle>
    </div>
    <div class="item-option" [id]="'assistance-entry' | generateIdForTA" (click)="goEmergencies()" *ngIf="currentProfile">
      <ion-menu-toggle>
        <img src="/assets/images/icons-urgence-et-depannage.svg" alt="" class="option-img">
        <span class="option-text">Assistance</span>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </ion-menu-toggle>
    </div>
    <div class="item-option" (click)="goToSatisfactionForm()">
      <ion-menu-toggle>
				<ion-icon name="star-outline" class="option-img"></ion-icon>
        <!--<img src="/assets/images/give-yo-opinion_icon.png" alt="" class="option-img">-->
        <span class="option-text">Donner nous votre avis</span>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </ion-menu-toggle>
    </div>
    <div class="item-option" [id]="'share-app-entry' | generateIdForTA" (click)="defaulSharingSheet()">
      <ion-menu-toggle>
        <img src="/assets/images/icons-partage.svg" alt="" class="option-img">
        <span class="option-text">Partager l’application</span>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </ion-menu-toggle>
    </div>
  </div>
  <div class="menu-items">
    <div class="submenu-title">Sécurité</div>
    <div class="item-option">
      <div class="item-container">
        <img src="/assets/images/icons-faceid.png" alt="" class="option-img">
        <div class="option-text">
          <span class="title1">Face ID/ Touch ID</span>
          <span class="text1 scb-text-gray">{{ isBiometricAvailable ? 'Activer/Désactiver FaceID' : 'Non disponible sur votre téléphone'}}</span>
        </div>
        <ion-toggle mode="ios" class="biometric-toggle" [disabled]="!isBiometricAvailable" (ionChange)="onChangedStatus($event)"
          [checked]="isBiometricAvailable && userBiometricStatus === FACE_ID_PERMISSION_ALLOWED"></ion-toggle>
      </div>
    </div>
    <div class="item-option" *ngIf="0" [id]="'about-the-app-entry' | generateIdForTA" (click)="goToAbout()">
      <div class="item-container">
        <img src="/assets/images/icons-mon-compte.png" alt="" class="option-img">
        <div class="option-text">
          <span class="title1">Mot de passe</span>
          <span class="text1 scb-text-gray">Changer mon mot de passe</span>
        </div>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </div>
    </div>
  </div>
  <div class="menu-items">
    <div class="submenu-title">À propos</div>
    <div class="item-option">
      <ion-menu-toggle>
        <span class="option-text">Version</span>
        <span class="scb-text-gray version">{{currentAppVersion}}</span>
      </ion-menu-toggle>
    </div>
    <div class="item-option" [id]="'about-the-app-entry' | generateIdForTA" (click)="goToAbout()">
      <ion-menu-toggle>
        <span class="option-text">Informations générales</span>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </ion-menu-toggle>
    </div>
  </div>
</div>