<div class="scb-menu-mobile-container">
  <div class="menu-close-icon">
    <ion-menu-toggle>
      <ion-icon name="close" class="close-icon"></ion-icon>
    </ion-menu-toggle>
  </div>
  <div class="user-infos">
    <div class="avatar-block">
      <img [src]="avatarUrl" alt="profil-mob" (error)="setImgAvatarToDefault()" class="avatar-profil" />
    </div>
    <div class="user-name">{{ lastName }} {{ firstName }}</div>
    <div>
      <span class="edit-account scb-text-orange" (click)="goMyAccount()">
        <ion-menu-toggle>Editer mon compte</ion-menu-toggle>
      </span>
    </div>
  </div>
  <div class="gerer-mes-lignes">
    <div class="text">
      <span class="mes-lignes">Mes lignes</span>
      <span class="scb-text-orange gerer" (click)="goToRattachedNumberPage()">
        <ion-menu-toggle>Gérer mes lignes</ion-menu-toggle>
      </span>
    </div>
    <div class="lignes">
      <div class="ligne-item" (click)="switchPhoneNumber(number.msisdn)" *ngFor="let number of numbers"
        [ngClass]="{'active': isActiveNumber(number)}">
        <ion-menu-toggle>
          <img *ngIf="isActiveNumber(number)" src="/assets/images/validate-green.svg" alt="" class="checkbox">
          <div class="circle"></div>
          <img src="/assets/images/sim-icon2.svg" alt="sim" class="sim-image">
          <div class="sim-number">{{number?.msisdn | phoneNumberDisplay}}</div>
          <div class="offer scb-text-light-black">{{number?.formule}}</div>
        </ion-menu-toggle>
      </div>
      <div class="ligne-item ligne-item-plus" (click)="openModalRattachNumber()">
        <ion-menu-toggle>
          <img src="assets/images/combined-shape.svg" alt="plus" class="img-plus">
        </ion-menu-toggle>
      </div>
    </div>
  </div>
  <div class="menu-items">
    <div class="item-option" (click)="goDetailsConso()">
      <ion-menu-toggle>
        <img src="/assets/images/icons-suivi-conso.svg" alt="" class="option-img">
        <span class="option-text">Détails suivi conso</span>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </ion-menu-toggle>
    </div>
    <div class="item-option" (click)="goFormule()">
      <ion-menu-toggle>
        <img src="/assets/images/icon-formule.svg" alt="" class="option-img">
        <span class="option-text">Formule</span>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </ion-menu-toggle>
    </div>
    <div class="item-option" (click)="onOffreClicked()" *ngIf="currentProfile !== 'POSTPAID'">
      <ion-menu-toggle>
        <img src="/assets/images/icons-offres-service.svg" alt="" class="option-img">
        <span class="option-text">Offres et services</span>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </ion-menu-toggle>
    </div>
    <div class="item-option" (click)="goFacture()" *ngIf="currentProfile !== 'PREPAID' && currentProfile">
      <ion-menu-toggle>
        <img src="/assets/images/icons-facture.svg" alt="" class="option-img">
        <span class="option-text">Factures</span>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </ion-menu-toggle>
    </div>
    <div class="item-option" (click)="goParrainage()">
      <ion-menu-toggle>
        <img src="/assets/images/icons-parrainage.svg" alt="" class="option-img">
        <span class="option-text">Parrainages</span>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </ion-menu-toggle>
    </div>
    <div class="item-option" (click)="goToMyOfferPlans()" *ngIf="currentProfile === 'PREPAID'">
      <ion-menu-toggle>
        <img src="/assets/images/icons-bons-plan.svg" alt="" class="option-img">
        <span class="option-text">Bons plans</span>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </ion-menu-toggle>
    </div>
    <div class="item-option" (click)="goEmergencies()">
      <ion-menu-toggle>
        <img src="/assets/images/icons-urgence-et-depannage.svg" alt="" class="option-img">
        <span class="option-text">Assistance</span>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </ion-menu-toggle>
    </div>
    <div class="item-option" (click)="goToAssistancePage()">
      <ion-menu-toggle>
        <img src="/assets/images/icons-communaute.svg" alt="" class="option-img">
        <span class="option-text">Communauté</span>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </ion-menu-toggle>
    </div>
    <div class="item-option" (click)="defaulSharingSheet()">
      <ion-menu-toggle>
        <img src="/assets/images/icons-partage.svg" alt="" class="option-img">
        <span class="option-text">Partager l’application</span>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </ion-menu-toggle>
    </div>
  </div>
  <div class="menu-items">
    <div class="submenu-title">À propos</div>
    <div class="item-option">
      <ion-menu-toggle>
        <span class="option-text">Version</span>
        <span class="scb-text-gray version">{{currentAppVersion}}</span>
      </ion-menu-toggle>
    </div>
    <div class="item-option" (click)="goToAbout()">
      <ion-menu-toggle>
        <span class="option-text">Informations générales</span>
        <img src="/assets/images/chevron-forward-outline.svg" alt="" class="arrow-right">
      </ion-menu-toggle>
    </div>
  </div>
</div>