<div class="scb-menu-mobile-container">
  <div class="menu-close-icon">
    <ion-menu-toggle>
      <ion-icon name="close" class="close-icon"></ion-icon>
    </ion-menu-toggle>
  </div>
  <div class="menu-user-infos">
    <div class="menu-user-infos-icon">
      <img
        [src]="avatarUrl"
        alt="profil-mob"
        (error)="setImgAvatarToDefault()"
        class="profil-icon"
      />
    </div>
    <div class="menu-user-infos-details">
      <div class="hello-user-block">
        <span class="bonjour scb-text-full-black"> Bienvenue </span>
        <span class="username scb-text-full-black"
          >{{ lastName }} {{ firstName }}</span
        >
      </div>
      <div class="user-number-block">
        <div class="numberblock">
          <span class="user-number scb-text-orange">{{ msisdn }}</span>
        </div>
        <div class="user-number-profil">
          <span class="profil scb-text-orange">
            {{ currentFormule }}
          </span>
        </div>
        <ion-menu-toggle>
          <div
            routerLink="/change-main-phone-number"
            class="changer-ligne-block"
            routerLinkActive
            #routerLinkActiveInstance="routerLinkActive"
            [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
            [class.list-item-active]="routerLinkActiveInstance.isActive"
          >
            <div class="changer-ligne-text">
              <span class="change scb-text-orange c-pointer"
                >Changer de ligne
              </span>
            </div>
            <div class="arrow-right-icon">
              <img
                src="/assets/images/arrow-right.svg"
                alt="keyboard-arrow-right-orange"
                class="arrow-right"
              />
            </div>
          </div>
        </ion-menu-toggle>
      </div>
    </div>
  </div>
  <div class="menu-list">
    <div class="menu-list-services">
      <ion-menu-toggle>
        <div
          routerLinkActive="menu-list-services-item-block-selected"
          #dashRLActive="routerLinkActive"
          routerLink="/dashboard"
          [attr.tabindex]="dashRLActive.isActive ? 0 : -1"
          [class.list-item-active]="dashRLActive.isActive"
          class="menu-list-services-item-block cclose-icon c-pointer"
          (click)="goDashboard()"
        >
          <div class="menu-list-services-item">
            <div class="services-item-icon">
              <img
                *ngIf="dashRLActive.isActive"
                src="/assets/images/suivi-conso.svg"
                alt="suivi-conso"
                class="item-icon"
              />

              <img
                *ngIf="!dashRLActive.isActive"
                src="/assets/images/suivi-conso-off.svg"
                alt="suivi-conso"
                class="item-icon"
              />
            </div>
            <div class="services-item-text">
              <span class="content"> Mon suivi Conso</span>
            </div>
          </div>
        </div>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <div
          routerLinkActive="menu-list-services-item-block-selected"
          #formuleRLActive="routerLinkActive"
          (click)="goFormule()"
          class="menu-list-services-item-block c-pointer"
          *ngIf="
            currentProfile === 'PREPAID' || currentProfile === 'Ligne Fixe'
          "
        >
          <div class="menu-list-services-item">
            <div class="services-item-icon">
              <img
                *ngIf="!formuleRLActive.isActive"
                src="/assets/images/formule.svg"
                alt="formule"
                class="item-icon"
              />
              <img
                *ngIf="formuleRLActive.isActive"
                src="/assets/images/formule-on.svg"
                alt="formule"
                class="item-icon"
              />
            </div>
            <div class="services-item-text">
              <span class="content">Ma formule</span>
            </div>
          </div>
        </div>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <div
          routerLinkActive="menu-list-services-item-block-selected"
          #offresRLActive="routerLinkActive"
          (click)="launchInProgressPage()"
          class="menu-list-services-item-block c-pointer"
          *ngIf="currentProfile !== 'POSTPAID'"
        >
          <div class="menu-list-services-item">
            <div class="services-item-icon">
              <img
                *ngIf="!offresRLActive.isActive"
                src="/assets/images/offres-services.svg"
                alt="offres-services"
                class="item-icon"
              />
              <img
                *ngIf="offresRLActive.isActive"
                src="/assets/images/offres-services-on.svg"
                alt="offres-services"
                class="item-icon"
              />
            </div>
            <div class="services-item-text">
              <span class="content">Mes offres et services</span>
            </div>
          </div>
        </div>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <div
          routerLinkActive="menu-list-services-item-block-selected"
          #billRLActive="routerLinkActive"
          class="menu-list-services-item-block c-pointer"
          (click)="goFacture()"
          *ngIf="currentProfile !== 'PREPAID'"
        >
          <div class="menu-list-services-item">
            <div class="services-item-icon">
              <img
                *ngIf="!billRLActive.isActive"
                src="/assets/images/bill_menu_icon.svg"
                alt="factures"
                class="item-icon"
              />
              <img
                *ngIf="billRLActive.isActive"
                src="/assets/images/bill_menu_icon_on.svg"
                alt="factures"
                class="item-icon"
              />
            </div>
            <div class="services-item-text">
              <span class="content">Mes factures</span>
            </div>
          </div>
        </div>
      </ion-menu-toggle>
    </div>
    <div class="menu-list-user-assistance">
      <ion-menu-toggle>
        <div
          (click)="goMyAccount()"
          #accountRLActive="routerLinkActive"
          routerLinkActive="user-assistance-account-block-selected"
          class="user-assistance-account-block"
          routerLink="/my-account"
        >
          <div class="assistance-icon">
            <img
              *ngIf="!accountRLActive.isActive"
              src="/assets/images/compte.svg"
              alt="compte"
              class="icon"
            />
            <img
              *ngIf="accountRLActive.isActive"
              src="/assets/images/compte-on.svg"
              alt="compte"
              class="icon"
            />
          </div>
          <div class="assistance-text">
            <span class="title">Mon compte</span>
            <span class="subtitle scb-text-light-black"
              >Modifier mes infos personnelles</span
            >
          </div>
        </div>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <div
          (click)="goToAssistancePage()"
          class="user-assistance-account-block"
        >
          <div class="assistance-icon">
            <img
              src="/assets/images/assistance.svg"
              alt="assistance"
              class="icon"
            />
          </div>
          <div class="assistance-text">
            <span class="title">Besoin d’aide</span>
            <span class="subtitle scb-text-light-black">Communauté</span>
          </div>
        </div>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <div
          routerLinkActive="user-assistance-account-block-selected"
          #centerRLActive="routerLinkActive"
          (click)="goEmergencies()"
          class="user-assistance-account-block"
        >
          <div class="assistance-icon">
            <img
              *ngIf="!centerRLActive.isActive"
              src="/assets/images/control-centre.svg"
              alt="urgence"
              class="icon"
            />
            <img
              *ngIf="centerRLActive.isActive"
              src="/assets/images/control-centre-on.svg"
              alt="urgence"
              class="icon"
            />
          </div>
          <div class="assistance-text">
            <span class="title">Assistance</span>
            <span class="subtitle scb-text-light-black"
              >Vous avez des soucis ?</span
            >
          </div>
        </div>
      </ion-menu-toggle>
    </div>
  </div>
</div>
