@import 'src/app/app';

:host {
  overflow-y: auto;
  height: 100%;
}
.scb-menu-mobile-container {
  position: relative;
  min-height: 100%;
  height: fit-content;
  min-width: $baseWidthMobile2;
  background-color: $grayDashboard;
  .menu-close-icon {
    position: absolute;
    right: percentage(15/375);
    top: 25px;
    background-color: $grayDashboard;
    border-radius: 50%;
    .close-icon {
      width: 40px;
      height: 40px;
    }
  }
  .user-infos {
    width: 100%;
    padding: 25px percentage(15/375);
    background-color: $white;
    .avatar-block {
      padding-bottom: 15px;
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 1px solid $orange;
      }
    }
    .user-name {
      font-family: HelveticaNeueLTStd-Bd, sans-serif;
      font-size: 30px;
      font-weight: bold;
      padding-bottom: 5px;
    }
    .edit-account {
      font-family: HelveticaNeueLTStd-Bd, sans-serif;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.88;
    }
  }
  .gerer-mes-lignes {
    padding: 30px 0 20px;
    margin-top: 10px;
    background-color: $white;
    .text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 percentage(15/375) 20px;
      .mes-lignes {
        font-family: HelveticaNeueLTStd-Bd, sans-serif;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.25;
      }
      .gerer {
        font-family: HelveticaNeueLTStd-Bd, sans-serif;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.88;
      }
    }
    .lignes {
      display: flex;
      overflow-x: auto;
      padding: 10px 0;
      &::-webkit-scrollbar {
        display: none;
      }
      .ligne-item {
        width: 120px;
        margin-left: percentage(10/375);
        padding: 11px 9px;
        text-align: center;
        border-radius: 10px;
        border: solid 1px $silver;
        position: relative;
        flex-shrink: 0;
        &:last-child {
          margin-right: percentage(15/375);
        }
        &-plus {
          background-color: $grayDashboard;
          display: flex;
          align-items: center;
          justify-content: center;
          .img-plus {
            width: 85px;
            height: auto;
          }
        }
        &.active {
          border: solid 2px $greenSuccess;
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        }
        .checkbox {
          width: 20px;
          height: 20px;
          position: absolute;
          top: 10px;
          right: 10px;
        }
        .circle {
          width: 20px;
          height: 20px;
          position: absolute;
          top: 10px;
          right: 10px;
          border-radius: 50%;
          border: 1px solid $lightBlack;
        }
        .sim-image {
          width: 20px;
          height: 30px;
          margin-bottom: 10px;
        }
        .sim-number {
          font-family: HelveticaNeueLTStd-Bd;
          font-size: 14px;
          margin-bottom: 5px;
        }
        .offer {
          font-family: HelveticaNeueLTStd-Roman;
          font-size: 12px;
        }
      }
    }
  }

  .menu-items {
    background-color: $white;
    margin-top: 10px;
    padding: 10px 15px;
    .submenu-title {
      font-family: HelveticaNeueLTStd-Bd;
      font-size: 24px;
      font-weight: bold;
      padding: 20px 0 4px;
    }
    .item-option {
      ion-menu-toggle {
        display: flex;
        align-items: center;
        position: relative;
        padding: 18px 0;
        width: 100%;
      }
      &:not(:last-child) {
        border-bottom: solid 1px $silver;
      }
      .option-img {
        width: 26px;
        height: 26px;
        margin-right: 10px;
      }
      .option-text {
        font-family: HelveticaNeueLTStd-Roman;
        font-size: 16px;
        line-height: 1.25;
      }
      .arrow-right {
        position: absolute;
        right: -6px;
        top: 20px;
        width: 22px;
      }
      .version {
        position: absolute;
        right: 0;
        top: 20px;
        font-family: HelveticaNeueLTStd-Roman;
        font-size: 16px;
      }
    }
  }
}
