<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="goBack()" class="ion-padding-start" slot="start">
      <img src="/assets/images/arrow-left.png" alt="icon" class="arrow-left" />
    </ion-buttons>
    <ion-title class="ion-no-padding">
      <span class="title1">
        Mes bons plans
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-header class="ion-padding-start" collapse="condense">
        <ion-toolbar>
          <span class="title">
              Mes bons plans
          </span>
        </ion-toolbar>
      </ion-header>
  <div class="offer-plans-container">
    <div class="header-image">
      <img src="/assets/images/bons-plan.png" alt="">
    </div>
    <div class="offer-plans-body">
      <div class="offer-plans-body-title">
        <span class="text scb-text-full-black">
          Retrouvez ici <span class="custom-style">
            votre bon plan du jour
          </span> 
        </span>
      </div>
      <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
      <div class="offer-plans-body-main">
        <ng-container *ngIf="!isLoading && !hasError">
          <div class="offer-plans-list-filter">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <ion-segment scrollable>
                      <ion-button (click)="onCategorySelected(category.value)" *ngFor="let category of listCategories" [ngClass]="{'filter-item-selected': categorySelected === category.value} " class="filter-item" expand="block" shape="round">
                          {{ category.label }}
                        </ion-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div class="offer-plans-list-content">
              <div *ngFor="let offerPlan of filteredListOfferPlans" (click)="goToPage(offerPlan.typeMPO.toLowerCase())" class="offer-plans-list-content-item">
                <div class="scb-arrow-right-gray">
                </div>
                <div class="item-left-block">
                  <span class="duree scb-text-full-black">{{ offerPlan.bpValidityDurability }}</span>
                </div>
                <div class="item-delimitation">
                </div>
                <div class="item-right-block">
                  <span class="text">
                    {{ offerPlan.bpTarget }}
                  </span>
                </div>
                <div class="scb-arrow-left-gray">
                  </div>
              </div>
          </div>
        </ng-container>
        <div *ngIf="!isLoading && hasError" class="has-error">
          Une erreur est survenue, veuillez recharger les données de la page en cliquant <span (click)="getUserOfferPlans()"> ici </span>
        </div>
        <div *ngIf="!isLoading && hasNoOfferPlans" (click)="getUserOfferPlans()" class="has-error">
          Vous n’avez pas de bon plan ce jour
        </div>
      </div>
    </div>
  </div>
</ion-content>
