<ion-header>
  <app-header [title]="'Mes bons plans'" (goBack)="goBack()"></app-header>
</ion-header>

<ion-content>
  <div class="offer-plans-container">
    <div class="header-image">
      <img src="/assets/images/bons-plan.png" alt="">
    </div>
    <div class="offer-plans-body">
      <div class="offer-plans-body-title">
        <span class="text scb-text-full-black">
          Retrouvez ici <span class="custom-style">
            votre bon plan du jour
          </span> 
        </span>
      </div>
      <div class="offer-plans-body-main">
        <div class="offer-plans-list-filter">
          <div class="filter-item">
              Recharge
          </div>
          <div class="filter-item">
              Pass Internet
          </div>
          <div class="filter-item filter-item-selected">
              Autres
          </div>
        </div>
        <div class="offer-plans-list-content">
          <div class="offer-plans-list-content-item">
            <div class="scb-arrow-right-gray">
            </div>
            <div class="item-left-block">
              <span class="percentage scb-text-orange">200%</span>
              <span class="duree scb-text-full-black">Valable 30 jours</span>
            </div>
            <div class="item-delimitation">
            </div>
            <div class="item-right-block">
              <span class="text">
                A partir de 500 F par Orange money Compteur bonus
              </span>
            </div>
            <div class="scb-arrow-left-gray">
              </div>
          </div>
          <div class="offer-plans-list-content-item">
            <div class="scb-arrow-right-gray">
            </div>
            <div class="item-left-block">
              <span class="percentage scb-text-orange">200%</span>
              <span class="duree scb-text-full-black">Valable 30 jours</span>
            </div>
            <div class="item-delimitation">
            </div>
            <div class="item-right-block">
              <span class="text">
                A partir de 500 F par Orange money Compteur bonus
              </span>
            </div>
            <div class="scb-arrow-left-gray">
              </div>
          </div>
          <div class="offer-plans-list-content-item">
            <div class="scb-arrow-right-gray">
            </div>
            <div class="item-left-block">
              <span class="percentage scb-text-orange">200%</span>
              <span class="duree scb-text-full-black">Valable 30 jours</span>
            </div>
            <div class="item-delimitation">
            </div>
            <div class="item-right-block">
              <span class="text">
                A partir de 500 F par Orange money Compteur bonus
              </span>
            </div>
            <div class="scb-arrow-left-gray">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
