<div class="oem-bottomsheet-container">
  <div class="title">
    Liste des transactions Orange Money
  </div>
  <div class="description">
    Choix de la transaction
  </div>
	<img src="/assets/images/close.svg" class="close-icon"  alt="close-ico" (click)="close()"/>
  <div class="recents">
    <ion-spinner *ngIf="isProcessing" name="crescent"></ion-spinner>

    <ng-container *ngIf="!isProcessing && !hasError">
      <ng-container *ngIf="!listTransactionsFiltered.length">
        Aucun transfert d'argent Orange Money n'a été retrouvé
      </ng-container>
      <app-item-historik-details-infos *ngFor="let item of listTransactionsFiltered" [purchaseInfos]="item" (selectedItem)="closeModal($event)">
      </app-item-historik-details-infos>
    </ng-container>
  </div>

  <div class="error-msg" *ngIf="!isProcessing && hasError">
    {{ errorMsg }}
  </div>
</div>
