@import 'src/app/app';
.common-issues-modal {
  height: 100%;
  .back-arrow {
    margin-bottom: 10px;
  }

  .title-achat-pass-internet {
    font-family: HelveticaNeueLTStd-Bd;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: normal;
    color: $fullBlack;
  }

  .title {
    font-family: HelveticaNeueLTStd-Bd;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    margin-bottom: 30px;
    width: 70%;
  }
  .title-content {
    display: block;
    font-family: HelveticaNeueLTStd-Roman;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #666666;
    margin-top: 10px;
    width: 130%;
  }
  .check-options-list {
    padding: 25px percentage(15/375) 50px;
    height: 100%;
    .check-item {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 25px;
      .index {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: solid 2px $black;
        border-radius: 50%;
        font-family: HelveticaNeueLTStd-Bd;
        font-size: 20px;
        margin-bottom: 10px;
      }
      .item-text {
        width: 100%;
        .text-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .titre {
            display: flex;
            align-items: center;
            width: 80%;
            font-family: HelveticaNeueLTStd-Bd;
            font-size: 16px;
            line-height: 1.25;
            margin-bottom: 5px;
          }
          .sous-option-width {
            width: 100%;
          }
          .arrow {
            transform: rotate(180deg);
          }
        }
        .subtitle {
          display: block;
          font-family: HelveticaNeueLTStd-Roman;
          font-size: 12px;
          line-height: 1.33;
          white-space: break-spaces;
        }
      }
    }
    .check-item:last-child {
      margin-bottom: 380px;
    }
  }

  .btn-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
    background-color: $white;
    .btn {
      border-radius: 10px;
      width: percentage(345/375);
      margin: 0 auto;
    }
  }
}
