<div class="issues-bottom-sheet">
  <div class="check-firstly-container">
    <div class="back-arrow" *ngIf="showSousOption">
      <img
        src="/assets/images/arrow-left.png"
        class="icon"
        alt=""
        (click)="goBack()"
      />
    </div>
    <div class="title">
      {{ popupTitle }}
    </div>

    <div class="check-otions-list">
      <div
        (click)="goSuboption(opt)"
        *ngFor="let opt of options; let i = index"
        class="check-item"
      >
        <div class="item-text">
          <div class="index" *ngIf="showSousOption">
            {{ i + 1 }}
          </div>
          <div class="text-content">
            <div
              class="titre"
              [ngClass]="{ 'sous-option-width': showSousOption }"
            >
              {{ opt.title }}
            </div>
            <div class="arrow" *ngIf="!showSousOption">
              <img src="/assets/images/arrow-left.png" class="icon" alt="" />
            </div>
          </div>
          <div>
            <span class="subtitle scb-text-gray">
              {{ opt.subtitle }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div (click)="close()" mat-raised-button class="btn scb-btn scb-btn-orange">
    C’est fait, continuer
  </div>
</div>
