@import 'src/app/app';
.beneficiary-number{
    position: relative;
    margin-top: 10px;
    .contact{
        display: flex;
        align-items: center;
        .icon{
            position: absolute;
            right: 80px;
            bottom: 43px;
        }
        .btn-contact{
                position: absolute;
                right: 15px;
                bottom: 40px;
                background-color: $white;
        }
    }
}