@import 'src/app/app';
.beneficiary-number{
    position: relative;
    margin-top: 15px;
    .scb-input-row{
        padding-bottom: none !important;
    }
    .contact{
        display: flex;
        position: absolute;
        align-items: center;
        right: 15px; 
        bottom: 36px;
        .icon{

        }
        .btn-contact{
padding-left: 5px;
                background-color: $white;
        }
    }
}