<div class="scb-filter-block" *ngIf="dataLoaded">
  <div
    class="select-counter-filter"
    *ngIf="currentProfil && currentProfil !== 'POSTPAID'"
  >
    <button class="mat-menu" mat-button [matMenuTriggerFor]="counters" #menuCompteur="matMenuTrigger">
      <div class="btn-class">{{ chargeType }}</div>

      <img *ngIf="!menuCompteur.menuOpen" src="/assets/images/arrow-down.svg" class="arrow-down" alt="">
      <img *ngIf="menuCompteur.menuOpen" src="/assets/images/keyboard-arrow-up-black.svg" class="arrow-up" alt="">
    </button>

    <mat-menu #counters="matMenu" class="left">
      <button
        (click)="selectedButton(chargeType)"
        mat-menu-item
        *ngFor="let chargeType of chargeTypes"
      >
        {{ chargeType }}
      </button>
    </mat-menu>
  </div>

  <div class="select-date-filter">
    <button class="mat-menu-2" mat-button [matMenuTriggerFor]="dates" #menuDate="matMenuTrigger">
      <div class="btn-class">{{ selectedDate?.title }}</div>

      <img *ngIf="!menuDate.menuOpen" src="/assets/images/arrow-down.svg" class="arrow-down" alt="">
      <img *ngIf="menuDate.menuOpen" src="/assets/images/keyboard-arrow-up-black.svg" class="arrow-up" alt="">
    </button>

    <mat-menu #dates="matMenu" class="right">
      <button
        *ngFor="let date of dateFilterItems; let i = index"
        (click)="getConso(date?.value)"
        mat-menu-item
      >
        {{ date?.title }}
      </button>
    </mat-menu>
  </div>
</div>

<div class="conso-rows-container">
  <div *ngIf="error" class="spinner">
    <span class="scb-text-full-black">
      Erreur lors du chargement des données
    </span>
  </div>
  <div *ngIf="notdata" class="empty-img">
      <img src="/assets/images/history-call-empty.png" alt="" />
  </div>

  
  <ng-container *ngIf="consoshistorique?.length">
        <app-item-historik-details-infos *ngFor="let historik of consoshistorique" [historikInfos]="historik" [userProfil]="currentProfil">
          </app-item-historik-details-infos>
  </ng-container>
</div>
