@import 'src/app/app';

label {
  display: block;
}
.scb-update-password-form-mobile-wrapper {
  padding: 10px;
}
.scb-update-password-header-separator-line {
  width: percentage(355px / $baseWidthMobile2);
  height: 1px;
  background-color: silver;
  margin-left: auto;
}

.scb-update-password-header-mobile {
  height: 50px;
  display: flex;
  align-items: center;

  .scb-arrow-left-update-password {
    margin-right: 15px;
  }
}
.scb-update-password-content-mobile {
  padding: 10px;
  margin-top: 43.5px;
}
.scb-field-description-label {
  display: block;

  margin-top: 15px;
  margin-bottom: 34px;
}
.scb-label-current-password {
  display: block;

  margin-bottom: 21px;
}
.scb-label-new-password {
  display: block;

  margin-top: 27px;
  margin-bottom: 15px;
}
.scb-field-description-label {
  display: block;

  margin-bottom: 45px;
}
.Pour-assurer-la-scu {
  font-family: HelveticaNeueLTStd-Roman, sans-serif;
  font-size: 14px;
}

.Nouveau-mot-de-passe {
  font-family: HelveticaNeueLTStd-Bd, sans-serif;
  font-size: 16px;
}

.Modifier-mot-de-pass {
  font-family: HelveticaNeueLTStd-Bd, sans-serif;
  font-size: 18px;
}
.Modifier-mot-de-pass,
.Nouveau-mot-de-passe,
.Pour-assurer-la-scu {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.error-block {
  font-family: HelveticaNeueLTStd-Bd, sans-serif;
  font-size: 12px;
}

.bottom-btns-block {
  margin-top: 20px;
  mat-spinner {
    position: absolute;
    top: 15px;
    right: 70px;
  }
  .mat-spinner::ng-deep circle {
    stroke: $white;
  }
}
