<div class="scb-update-password-form-mobile-wrapper">
  <div class="scb-update-password-header-mobile">
    <img
      routerLink="/my-account"
      src="/assets/images/arrow-left.png"
      class="scb-arrow-left-update-password"
      alt="arrow-left"
    />
    <div
      class="scb-update-password-header-label scb-text-full-black Modifier-mot-de-pass"
    >
      Modifier mon mot de passe
    </div>
  </div>
  <div class="scb-update-password-header-separator-line"></div>
  <form
    [formGroup]="form"
    class="scb-update-password-content-mobile"
    (submit)="changePassword()"
  >
    <label class="scb-label-current-password scb-text-full-black"
      >Mot de passe actuel</label
    >
    <mat-form-field class="scb-input-row scb-required">
      <input
        [attr.type]="getInputType(actualPwdVisible)"
        matInput
        #actualpwd
        type="password"
        placeholder="Entrez votre mot de passe actuel"
        value=""
        autocomplete="off"
        formControlName="oldPassword"
      />

      <span
        *ngIf="actualpwd.value"
        (click)="changeActualpwdVisibility()"
        matSuffix
        class="c-pointer"
      >
        {{ getInputType(actualPwdVisible) === 'text' ? 'Cacher' : 'Afficher' }}
      </span>
    </mat-form-field>
    <label
      class="scb-label-new-password  scb-text-full-blackNouveau-mot-de-passe"
      >Nouveau mot de passe</label
    >
    <div
      class="scb-field-description-label scb-text-light-black Pour-assurer-la-scu"
    >
      Pour assurer la sécurité de votre compte, votre mot de passe doit contenir
      au moins 5 caractères.
    </div>
    <mat-form-field class="scb-input-row scb-required scb-password-field">
      <input
        [attr.type]="getInputType(newPwdVisible)"
        #newPwd
        matInput
        type="password"
        placeholder="Entrez le nouveau mot de passe"
        value=""
        autocomplete="off"
        formControlName="newPassword"
      />
      <span
        *ngIf="newPwd.value"
        (click)="changeNewPwdVisibility()"
        matSuffix
        class="c-pointer"
      >
        {{ getInputType(newPwdVisible) === 'text' ? 'Cacher' : 'Afficher' }}
      </span>
    </mat-form-field>
    <mat-form-field
      class="scb-input-row scb-required scb-confirm-password-field"
    >
      <input
        [attr.type]="getInputType(confirmNewPwdVisible)"
        #confirmPwd
        matInput
        placeholder="Confirmation mot de passe"
        value=""
        formControlName="confirmPassword"
      />
      <span
        *ngIf="confirmPwd.value"
        (click)="changeConfPwdVisibility()"
        matSuffix
        class="c-pointer"
      >
        {{
          getInputType(confirmNewPwdVisible) === 'text' ? 'Cacher' : 'Afficher'
        }}
      </span>
    </mat-form-field>
    <div class="error-block scb-text-red-error" *ngIf="error !== ''">
      {{ error }}
    </div>
    <div class="bottom-btns-block">
      <button
        [disabled]="!form.valid || loading"
        type="submit"
        class="scb-btn-full scb-btn-orange"
        mat-stroked-button
      >
        <span>Confirmer</span>
        <mat-spinner
          mode="indeterminate"
          [diameter]="20"
          *ngIf="loading"
        ></mat-spinner>
      </button>
    </div>
  </form>
</div>
