<div
  class="scb-msg-line"
  [ngClass]="{
    'scb-received-msg': origin == 'received',
    'scb-sent-msg': origin == 'sent'
  }"
>
  <div
    class="scb-arrow-received"
    *ngIf="origin === 'received' && type !== 'question'"
  ></div>
  <div
    class="scb-msg-item scb-text-gray"
    (click)="clickOnMessage()"
    *ngIf="type !== 'question' && type !== 'button' && type !== 'question-info'"
  >
    <div class="scb-msg-content" *ngIf="type === 'text'">
      <div class="scb-msg-content-title" *ngIf="title">{{ title }}</div>
      <div class="scb-msg-content-text">
        <!-- Text -->
        <div>
          <span class="text-content">{{ content }}</span>
          <span
            class="scb-text-edit c-pointer"
            *ngIf="editable && origin === 'sent'"
            (click)="editValue()"
            >modifier</span
          >
        </div>
      </div>
    </div>
    <!-- loading -->
    <div class="scb-msg-content" *ngIf="type === 'loading'">
      <div class="scb-msg-content-text">
        <div class="scb-message-loading">
          <img
            src="/assets/images/Writing_Gif_1.gif"
            style="height: 10px"
            alt=""
          />
        </div>
      </div>
    </div>

    <!-- Password -->
    <div class="scb-msg-content" *ngIf="type === 'password'">
      <div class="scb-message-password">
        <span class="scb-message-password-dot"></span>
        <span class="scb-message-password-dot"></span>
        <span class="scb-message-password-dot"></span>
        <span class="scb-message-password-dot"></span>
        <span class="scb-message-password-dot"></span>
        <span class="scb-message-password-dot"></span>
        <span class="scb-message-password-dot"></span>
        <span class="scb-message-password-dot"></span>
        <span
          class="scb-text-edit c-pointer"
          *ngIf="editable && origin === 'sent'"
          (click)="editValue()"
          >modifier</span
        >
      </div>
    </div>

    <!-- success message -->
    <ng-container *ngIf="type === 'success'">
      <div class="scb-message-bravo">
        <img
          src="/assets/images/green_checkbox.svg"
          class="success-icon"
          alt=""
        />
        <div class="scb-message-title">
          <span class="text scb-text-gray"> Bravo </span>
        </div>
        <div class="scb-message-content scb-text-gray">
          <span class="title"> Ton espace client a bien été créé. </span>
          <span class="text">
            Tu peux maintenant t’y connecter avec ton numéro de mobile et ton
            mot de passe.</span
          >
        </div>
        <button
          class="scb-btn scb-btn-orange scb-btn-gologin"
          (click)="goLogin()"
        >
          Se connecter
        </button>
      </div>
    </ng-container>

    <!-- Link message -->
    <div *ngIf="type === 'link'" class="scb-msg-content">
      <a routerLink="/forgot-password">{{ content }}</a>
    </div>

    <!-- line choice message -->
    <div *ngIf="type === 'lineChoice'" class="image-choice-message">
      <div
        *ngFor="let line of lines.data; let i = index"
        (click)="selectLine(i)"
        [ngClass]="{
          'img-container-selected': line.choosen === true,
          'img-container-unselected': line.choosen === false,
          'img-container-disabled': line.name === 'fixe'
        }"
      >
        <div class="img-content">
          <img [src]="line.imageURL" class="img-choice" alt="" />
        </div>
        <div>
          <span>{{ line.name }}</span>
        </div>
      </div>
    </div>

    <!-- identifier choice message -->
    <div *ngIf="type === 'billOrIdenChoice'" class="image-choice-message">
      <div
        *ngFor="let choice of verificationSheets.data; let i = index"
        (click)="selectVerifSheet(i)"
        [ngClass]="{
          'img-container-selected': choice.choosen === true,
          'img-container-unselected': choice.choosen === false
        }"
      >
        <div class="img-content">
          <img [src]="choice.imageURL" class="img-choice" alt="" />
        </div>
        <div>
          <span>{{ choice.name }}</span>
        </div>
      </div>
    </div>

    <!-- passport CNI choice message -->
    <div *ngIf="type === 'passOrCardChoice'" class="image-choice-message">
      <div
        *ngFor="let choice of identificationSheets.data; let i = index"
        (click)="selectCniOrPass(i)"
        [ngClass]="{
          'img-container-selected': choice.choosen === true,
          'img-container-unselected': choice.choosen === false
        }"
      >
        <div class="img-content">
          <img [src]="choice.imageURL" class="img-choice" alt="" />
        </div>
        <div>
          <span>{{ choice.name }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="scb-arrow-sent" *ngIf="origin === 'sent'"></div>
</div>

<!-- Type Yes/No Question -->
<div *ngIf="type === 'question'" class="scb-message-yes-no-block">
  <button
    class="scb-btn scb-btn-orange"
    [disabled]="!editable"
    mat-stroked-button
    (click)="sendYesNo(true)"
  >
    Oui
  </button>
  <button
    class="scb-btn scb-btn-white"
    [disabled]="!editable"
    mat-stroked-button
    (click)="sendYesNo(false)"
  >
    Non
  </button>
</div>

<!-- Type RememberMe Question -->
<div *ngIf="type === 'question-info'" class="scb-question-block">
  <button
    class="scb-btn scb-btn-orange"
    mat-stroked-button
    (click)="answerRememberMe('yes')"
  >
    Oui
  </button>
  <button
    class="scb-btn scb-btn-white"
    mat-stroked-button
    (click)="answerRememberMe('no')"
  >
    Non
  </button>
  <button
    class="scb-btn scb-btn-dusk"
    mat-stroked-button
    (click)="answerRememberMe('info')"
  >
    ?
  </button>
</div>

<!-- Type Button resend Code -->
<div *ngIf="type === 'button'" class="resend-btn-block">
  <button
    class="scb-btn scb-btn-orange"
    mat-stroked-button
    (click)="resendCode()"
  >
    Renvoyez moi le code
  </button>
</div>
