
 <ion-header>   
    <ion-toolbar>
        <ion-buttons (click)="goToDashboard()" class="ion-padding-start" slot="start">
            <img src="/assets/images/arrow-left.png" alt="icon" class="arrow-left" />
        </ion-buttons>
      <ion-title class="ion-no-padding">
        <span class="title1">
            Choix du bénéficiaire
        </span>
       </ion-title>
    </ion-toolbar>
  </ion-header>
   <ion-content fullscreen="true">
        <ion-header class="ion-padding-start" collapse="condense">
            <ion-toolbar>
              <span class="title">
                  Choix du bénéficiaire
              </span>
            </ion-toolbar>
          </ion-header>
  
          <div class="select-beneficiary-container">
            <div class="choose-beneficiaries-button">
                <ion-radio-group  #radio class="radio-group" [value]="isUserRecipient">
                      <ion-item lines="none" (click)="selectUserAsBeneficiary()" class="beneficiary me" [ngClass]="{ 'selected': isUserRecipient } ">
                          <ion-label>  
                            <div class="icon">
                              <img src="/assets/images/ic-device-smartphone.png" alt="">
                            </div>
                            <div class="label scb-text-gray">
                                Pour moi
                            </div>
                          </ion-label>
                            <ion-radio mode="md" class="radio-btn" slot="end" [value]="true"></ion-radio>
                        </ion-item>
                      <ion-item lines="none" (click)="selectOtherAsBeneficiary()" class="beneficiary other" [ngClass]="{ 'selected': !isUserRecipient } ">
                          <ion-label>
                              <div class="icon">
                                <img src="/assets/images/ic-transfer-data.png" alt="">
                              </div>
                              <div class="label scb-text-gray">
                                    Pour un autre
                              </div>
                            </ion-label>
                          <ion-radio mode="md" class="radio-btn" slot="end" [value]="false"></ion-radio>
                        </ion-item>
                </ion-radio-group>

            </div>
            <ng-container *ngIf="isUserRecipient && isLoaded && !hasError">
              <div class="beneficiary-number">
                  <ion-label class="scb-text-gray">Sur mon numéro</ion-label>
                  <ion-select #selectNumbers [interfaceOptions]="customPopOverOptions" interface="popover" placeholder="Sur mon numéro" okText="OK" cancelText="Annuler" [value]="recipientNumber">
                    <ion-select-option [value]="mainPhoneNumber"> {{ mainPhoneNumber | phoneNumberDisplay }} </ion-select-option>
                    <ion-select-option *ngFor="let number of listUserNumber" [value]="number.msisdn"> {{ number.msisdn | phoneNumberDisplay }} </ion-select-option>
                  </ion-select>
              </div>
            </ng-container>
            <ng-container *ngIf="!isUserRecipient">
              <div class="beneficiary-number other">
                <ion-input maxlength="20" #inputTel inputmode="tel" clearInput placeholder="Numéro du bénéficiaire" [value]="recipientContactInfos"></ion-input>
                <span (click)="pickContact()" class="btn-contact scb-text-orange">Contact</span>
              </div>
              <div *ngIf="hasErrorGetContact" class="error-msg scb-text-text-error">
                 {{ errorGetContact }}
              </div>
            </ng-container>
            <div *ngIf="hasErrorProcessing" class="error-msg scb-text-text-error">
                {{ errorMsg }}
             </div>
            <div class="confirm-btn">
              <ion-button shape="round" [disabled]="isProcessing" (click)="processInfoUser()" routerDirection="forward" class="btn" expand="full" >Continuer</ion-button>
            </div>
          </div>
    </ion-content>