@import 'src/app/app';

.title {
  font-family: HelveticaNeueLTStd-Bd;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.28px;
}

.title1 {
  font-family: HelveticaNeueLTStd-Bd;
  font-size: 20px;
  padding: 0 10px;
}

ion-spinner {
  position: absolute;
  top: 10px;
  right: 15px;
  --color: #ff7900;
}
.achat-pass-internet {
  font-family: HelveticaNeueLTStd-Bd;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #000000;
}

.transferts-page {
  min-height: 100%;
  background-color: $grayDashboard;
  padding: 15px percentage(15/375);
  .ion-cards-container {
    display: flex;
    flex-wrap: wrap;
    .card {
      // width: percentage(($baseWidthMobile2 - 30px - 30px) / $baseWidthMobile2) / 3;
      &:not(:nth-child(3n)) {
        margin-right: percentage(15/345);
      }
      &:nth-child(n + 4) {
        margin-top: 15px;
      }
      &.disabled {
        opacity: 0.5;
      }
      width: percentage(105/345);
      height: 120px;
      --background: white;
      text-align: center;
      margin: 0;
      position: relative;
      display: flex;
      align-items: center;
      ion-card {
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
        --background: #ffffff;
        ion-card-content {
          padding-left: 0px !important;
          padding-right: 0px !important;
          .icon {
            width: 100%;
            height: 47px;
            margin-bottom: 4px;
            .img {
              display: inline-block;
              width: 47px;
              height: 47px;
              margin: auto;
            }
          }
          .text {
            .title {
              display: block;
              color: $gray;
              font-family: HelveticaNeueLTStd-Roman;
              font-size: 12px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.17;
            }
            .subtitle {
              font-family: HelveticaNeueLTStd-Bd;
              font-size: 16px;
              color: $fullBlack;
              display: block;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: normal;
            }
          }
        }
      }
      .badge-promo {
        position: absolute;
        top: 15px;
        right: -5px;
        // width: 18%;
        // min-width: 25px;
        .icon-container {
          font-family: HelveticaNeueLTStd-Roman, sans-serif;
          font-size: 10px;
          background-color: $lightBlue;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px 10px;
          width: 100%;
          border-radius: 5% 5% 0 5%;
          .percent {
            font-family: HelveticaNeueLTStd-Bd;
            font-size: 16px;
          }
          .new {
            font-family: HelveticaNeueLTStd-Bd;
            font-size: 10px;
          }
        }
        .triangle {
          width: 0;
          height: 0;
          border-top: 5px solid $bluePopUp;
          border-right: 5px solid transparent;
          float: right;
        }
      }
    }
  }
  .pass-usage-block {
    margin-top: 30px;
    .pass-usage-title {
      font-size: 20px;
      margin-bottom: 15px;
      line-height: 1.5;
    }
  }
  .loader-container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    .mat-spinner::ng-deep circle {
      stroke: $orange;
    }
  }
}

.favorite-pass-container {
  margin: 10px 0;
  .title {
    margin-bottom: 15px;
    .text {
      font-family: HelveticaNeueLTStd-Bd;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      color: $fullBlack;
    }
  }
	.list-pass {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 10px;
		overflow-x: auto;
		padding-bottom: 13px;
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
