<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"
        (click)="goToDashboard()"
        class="ion-padding-start" slot="start">
        <img src="/assets/images/arrow-left.png" alt="icon" />
    </ion-buttons>
    <ion-title class="title1">
        {{pageTitle}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" [scrollEvents]="true">
  <ion-header class="ion-padding-start" collapse="condense">
    <ion-toolbar>
      <span class="title">
        {{pageTitle}}
    </span>
    </ion-toolbar>
  </ion-header>
  <div class="transferts-page">
    <div class="ion-cards-container" *ngIf="options.length">
      <ion-card
        (click)="goTo(opt)"
        *ngFor="let opt of options"
        class="card"
        button="true"
      >
        <ion-card-content>
          <div class="icon">
            <img [src]="opt?.icon" alt="" />
          </div>
          <div class="text">
            <span class="title">
              {{opt.title}}
            </span>
            <span class="subtitle">
              {{opt.subtitle}}
            </span>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
