<ion-header [oemIonHeaderParallax]="90">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button
        (click)="goBack()"
        icon=""
        class="oem-back-button"
      >
        <img src="/assets/images/arrow-left.png" alt="icon" />
      </ion-back-button>
    </ion-buttons>
    <ion-title> {{pageTitle}} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content
  no-bounce
  has-bouncing="false"
  forceOverscroll="false"
  fullscreen="true"
  [scrollEvents]="true"
>
  <div class="transferts-page">
    <div class="ion-cards-container" *ngIf="options.length">
      <ng-container *ngFor="let opt of options">
        <div class="card" *ngIf="opt.type !== OPERATION_TYPE_PASS_ALLO" [ngClass]="{'disabled': !isServciceActivated(opt)}">
          <ion-card (click)="goTo(opt)" class="card-content" button="true">
            <ion-card-content>
              <div class="icon">
                <img [src]="opt?.icon" alt="" />
              </div>
              <div class="text">
                <span class="title"> {{opt.title}} </span>
                <span class="subtitle"> {{opt.subtitle}} </span>
              </div>
            </ion-card-content>
          </ion-card>
          <div
            class="badge-promo"
            *ngIf="displayBadgeBoosterPromoInOptionsForCategory(hasBoosterPromoActive, opt) || displayBadgeOfferPlanForInOptionsCategory(hasPromoPlanActive, opt)"
          >
            <div class="icon-container">
              <span class="percent scb-text-white"> % </span>
            </div>
            <div class="triangle"></div>
          </div>
          <div
            class="badge-promo"
            *ngIf="opt.type === OPERATION_TYPE_PASS_ALLO && showNewFeatureBadge$|async"
          >
            <div class="icon-container">
              <span class="new scb-text-white"> Nouveau </span>
            </div>
            <div class="triangle"></div>
          </div>
        </div>
      </ng-container>
    </div>
    <ng-container *ngIf="purchaseType === 'BUY' && ( favoritesPass && favoritesPass.passInternets.length || favoritesPass && favoritesPass.passIllimixes.length)">
      <div class="favorite-pass-container">
        <div class="title">
          <span class="text">
            Mes habitudes
          </span>
        </div>
        <ng-container  *ngIf="favoritesPass && favoritesPass.passInternets.length">
          <app-item-pass-internet *ngFor="let passInternet of favoritesPass.passInternets" [passInternet]="passInternet" (selectPass)="choosePass(passInternet, OPERATION_TYPE_PASS_INTERNET)">
          </app-item-pass-internet>
        </ng-container>
        <ng-container  *ngIf="favoritesPass && favoritesPass.passIllimixes.length">
          <app-item-pass-illimix *ngFor="let passIllimix of favoritesPass.passIllimixes" [passIllimix]="passIllimix" (selectPass)="choosePass(passIllimix, OPERATION_TYPE_PASS_ILLIMIX)">
          </app-item-pass-illimix>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="loadingServices">
      <div class="loader-container">
        <mat-spinner mode="indeterminate" [diameter]="50"></mat-spinner>
      </div>
    </ng-container>
    <ng-container>
      <div *ngIf="servicesHasError">
        <span class="scb-text-red-error" (click)="getActiveServices()">N'a pas pu charger les services. Réactualisez ici</span>
      </div>
    </ng-container>
  </div>

</ion-content>
