<div class="login-page-block-mobile">
  <div class="login-form-container-mobile">
    <div class="login-description-image-mobile">
      <img src="/assets/images/motdepasse.svg" alt="ibou-connection_mobile" width="65%"/>
    </div>
    <div class="login-form-block-mobile">
      <div class="scb-form-title-mobile">
        <span class="scb-f-30 scb-text-black">Création mot
          
         </span>
        <span class="scb-f-30 scb-text-black"
          ><br />
          de passe</span
        ><br/>
        <span class="new-password">Le mot de passe doit contenir<br/>
            au minimum 8 caractéres</span> <br/>
      </div>
      <br />
      <div>
        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          novalidate
          autocomplete="false"
        >
        <mat-form-field class="scb-input-row" appearance="outline">
            <mat-label>Entrez un mot de passe &nbsp;&nbsp;</mat-label>
          <input
            formControlName="pwd"
            [attr.type]="pFieldType"
            matInput
            #password
            value=""
            autocomplete="off"
            class="input-password"
          />
          <span
            *ngIf="password.value"
            (click)="changePasswordVisibility()"
            matSuffix
            class="show-hide-text c-pointer"
          >
            {{ pFieldType === 'text' ? 'Cacher' : 'Afficher' }}
          </span>
        </mat-form-field>

        <mat-form-field class="scb-input-row" appearance="outline">
            <mat-label>Confirmez le mot de passe &nbsp;&nbsp;</mat-label>
          <input
            formControlName="confirmPwd"
            [attr.type]="pFieldType"
            matInput
            #password
            value=""
            autocomplete="off"
            class="input-password"
          />
          <span
            *ngIf="password.value"
            (click)="changePasswordVisibility()"
            matSuffix
            class="show-hide-text c-pointer"
          >
            {{ pFieldType === 'text' ? 'Cacher' : 'Afficher' }}
          </span>
        </mat-form-field>

          <div *ngIf="showErrMessage" class="error-text">
            <span class="scb-text-red-error"> {{ errorMsg }} </span>
          </div>
          <div class="login-btns-block">
            <button
              type="submit"
              [disabled]="!form.valid || loading"
              class="scb-btn-full scb-btn-orange"
              mat-stroked-button
            >
              <span>Confirmer</span>
              <mat-spinner
                mode="indeterminate"
                [diameter]="20"
                *ngIf="loading"
              ></mat-spinner>
            </button>
            
          </div>
          <div class="Mobile-Connect-est-u scb-text-dusk">
            Déjà un compte ? <span routerLink="/login" class="scb-text-orange">Je me connecte</span>
          </div>
        </form>
      </div>
    </div>
    <div></div>
  </div>
</div>
