<ion-header [oemIonHeaderParallax]="90">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button
        (click)="goBack()"
        icon=""
        class="oem-back-button"
      >
        <img src="/assets/images/arrow-left.png" alt="icon" />
      </ion-back-button>
    </ion-buttons>
    <ion-title>
        {{title}}
    </ion-title>
  </ion-toolbar>
  <div class="banniere-container">
    <img src="/assets/images/achat-de-credit.svg" alt="header-transfer" />
  </div>
</ion-header>
<ion-content no-bounce has-bouncing="false" forceOverscroll="false" fullscreen="true" [scrollEvents]="true">
  <div class="transferts-page">

    <div class="amount-provider">
      <oem-amount-provider
        (onAmountSelected)="onAmountSelected($event)"
        (onInputAmount)="onInputSelected($event)"
        [value]="initialAmount"
      ></oem-amount-provider>
    </div>
    <div class="btn-container">
      <button
        class="scb-btn scb-btn-orange scb-btn-full"
        [disabled]="!opXtras?.amount || opXtras?.amount<=0"
        (click)="onContinue()"
      >
        <span>Continuer</span>
        <mat-spinner
          mode="indeterminate"
          [diameter]="20"
          *ngIf=""
        ></mat-spinner>
      </button>
    </div>
  </div>
</ion-content>
