<ion-header [oemIonHeaderParallax]="100">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" icon="" class="oem-back-button">
        <!-- <ion-button color="primary" > -->
        <img src="/assets/images/arrow-left.png" alt="icon" />
        <!-- </ion-button> -->
      </ion-back-button>
    </ion-buttons>
    <ion-title class="oem-top-title ion-padding-start">
      <span class="title1">
        {{title}}
      </span></ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" [scrollEvents]="true">
  <div class="transferts-page">
    <div class="banniere-container">
      <img src="/assets/images/achat-de-credit.svg" alt="header-transfer" />
    </div>
    <div class="amount-provider">
      <oem-amount-provider
        (onAmountSelected)="onAmountSelected($event)"
        (onInputAmount)="onInputSelected($event)"
        [value]="initialAmount"
      ></oem-amount-provider>
    </div>

    <div class="btn-container">
      <button
        class="scb-btn scb-btn-orange scb-btn-full"
        [disabled]="!opXtras.amount || opXtras.amount<=0"
        (click)="onContinue()"
      >
        <span>Continuer</span>
        <mat-spinner
          mode="indeterminate"
          [diameter]="20"
          *ngIf=""
        ></mat-spinner>
      </button>
    </div>
  </div>
</ion-content>
