<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="goBack()" class="ion-padding-start" slot="start">
      <img src="/assets/images/arrow-left.png" alt="icon" class="arrow-left" />
    </ion-buttons>
    <ion-title>
      <span class="title1">
        Achat pass international
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header class="ion-padding-start" collapse="condense">
    <ion-toolbar>
      <span class="title">
        Achat pass international
      </span>
    </ion-toolbar>
  </ion-header>
  <div class="list-pass-body">
    <div class="header-image">
      <img src="/assets/images/pass-allo-banniere.png" alt="" />
    </div>
    <div class="list-pass-body-main-content">
      <ng-container *ngIf="loading else passesList">
        <div class="profil-spinner">
          <mat-spinner mode="indeterminate" [diameter]="40"></mat-spinner>
        </div>
      </ng-container>
      <ng-template #passesList>
        <ng-container *ngIf="(passAfric?.length || passWorld?.length) else noPass">
          <div class="list-pass-body">
            <div class="tab-header">
							<ng-container *ngIf="fullList?.length else emptyList">
								<div *ngFor="let filter of fullList; let i=index" (click)="changeCategory(i)" class="tab-header-item"
									[ngClass]="{  'selected' : i === activeIndex} ">
									<span class="scb-text-light-black"> {{ filter?.label }}</span>
								</div>
							</ng-container>
							<ng-template #emptyList>
								<div class="empty-list scb-text-orange">
									Aucun pass n'a été trouvé pour ce numéro
								</div>
							</ng-template>
            </div>
            <div class="main-content">
              <ion-slides #sliders (ionSlideDidChange)="slideChanged()" [options]="slideOpts">
									<ion-slide *ngFor="let item of fullList">
										<div class="filtered-list-pass">
											<app-item-pass-illimix *ngFor="let pass of item?.pass" [passIllimix]="pass"
												(selectPass)="choosePass($event)"></app-item-pass-illimix>
										</div>
									</ion-slide>
              </ion-slides>
            </div>
          </div>
        </ng-container>
        <ng-template #noPass></ng-template>
      </ng-template>
    </div>
  </div>
</ion-content>