@import 'src/app/app';

.suivi-conso-header {
  padding: 17px 0 25px;
  background-image: linear-gradient(to bottom, #fff, #f2f2f7);
  .header-top-block {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    .title {
      font-size: 30px;
      letter-spacing: -0.34px;
    }
    .search-icon {
      font-size: 26px;
    }
  }
}

.suivi-conso-content {
  --ion-background-color: #f3f3f8;
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-top: 165px;
  --padding-bottom: 250px;
  transition: 0.28s linear;
  position: relative;

  ion-slides {
    .swiper-slide:not(.swiper-slide-active) {
      height: 100px;
    }
  }
}

.absolute-block {
  position: fixed;
  width: 100%;
  top: 76px;
  left: 0;
  background-color: #f3f3f8;
  z-index: 10;
  .search-bloc {
    margin-top: 15px;
    padding: 0 15px;
    ion-searchbar {
      background-color: $white;
      border: solid 2px $grayDashboard;
      border-radius: 10px;
    }
  }
  .suivi-conso-custom-tabs {
    display: flex;
    overflow-y: auto;
    margin-top: 15px;
    &::-webkit-scrollbar {
      display: none;
    }
    .conso-tab {
      padding: 15px 0;
      margin: 0 15px;
      white-space: nowrap;
      font-family: 'HelveticaNeueLTStd-Roman';
      font-size: 18px;
      line-height: 1.11;
      &.active-tab {
        color: $orange;
        font-family: 'HelveticaNeueLTStd-Bd';
        border-bottom: solid 3px $orange;
      }
    }
  }
}
.empty-div-effect {
  position: fixed;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 75px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1)
  );
}
