<ion-header [oemIonHeaderParallax]="90">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button (click)="goBack()" class="oem-back-button">
        <img src="/assets/images/arrow-left.png" alt="icon" />
      </ion-back-button>
    </ion-buttons>
    <ion-title>Opération rapido</ion-title>
  </ion-toolbar>
  <div class="banniere">
    <img
        src="assets/images/achat-de-credit.png"
        alt="banniere"
      />
  </div>
</ion-header>

<ion-content
  no-bounce
  has-bouncing="false"
  forceOverscroll="false"
  fullscreen="true"
  [scrollEvents]="true"
>
  <div class="operations">
    <div id="btn-solde-rapido" matRipple (click)="onOpSolde()" class="operation">
      <img src="assets/images/ic-gauge-counter@2x.png" class="oem-img" />
      <div class="name">Voir solde</div>
      <div class="description">Consulter mon solde Rapido restant</div>
    </div>
    <div id="btn-recharge-rapido" matRipple (click)="onOpRecharge()" class="operation">
      <img src="assets/images/ic-barcode-reader@2x.png" class="oem-img" />
      <div class="name">Recharger</div>
      <div class="description">Recharger ma carte Rapido</div>
    </div>
  </div>
</ion-content>
