<ion-header [oemIonHeaderParallax]="90">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button [id]="'goBackBtn' | generateIdForTA" mode="md" slot="start" (click)="goBack()" class="oem-back-button">
        <img src="/assets/images/arrow-left.png" alt="icon" />
      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">
      <ng-container [ngSwitch]="purchaseType">
        <span class="title1" *ngSwitchCase="OPERATION_TYPE_SEDDO_BONUS">
          Transfert de bonus
        </span>
        <span class="title1" *ngSwitchCase="OPERATION_TYPE_SEDDO_CREDIT">
          Transfert de crédit
        </span>
        <span class="title1" *ngSwitchCase="OPERATION_TYPE_CARD_TO_WALLET">
          Recharger son compte Orange Money par carte bancaire
        </span>
        <span class="title1" *ngSwitchDefault>
          Transfert d’argent
        </span>
      </ng-container>
    </ion-title>
    <!-- <ion-spinner *ngIf="loadingFees || loading" name="crescent" slot="end"></ion-spinner> -->
  </ion-toolbar>
</ion-header>

<ion-content no-bounce has-bouncing="false" forceOverscroll="false" fullscreen="true" [scrollEvents]="true">
  <div class="banniere-container">
    <img *ngIf="purchaseType !== OPERATION_TYPE_CARD_TO_WALLET" src="/assets/images/transfer-money-banniere.png" alt="header-transfer" />
    <img *ngIf="purchaseType === OPERATION_TYPE_CARD_TO_WALLET" src="/assets/images/banner_OM.svg" alt="header-transfer" />
  </div>
  <div class="transfer-page">
    <form class="transfer-settings" [formGroup]="setAmountForm" *ngIf="setAmountForm && !hasError">
      <div class="recipient-block">
        <div class="recu-par">Montant envoyé à</div>
        <div class="recipient">
          <div class="msisdn-id-block">
            <img [src]="country?.flagIcon" alt="" *ngIf="purchaseType === OPERATION_TYPE_INTERNATIONAL_TRANSFER">
            <div class="rec-msisdn id-msisdn" *ngIf="purchaseType === OPERATION_TYPE_INTERNATIONAL_TRANSFER">({{
              purchasePayload?.country?.callId}})</div>
            <div class="rec-msisdn">{{ purchasePayload?.recipientMsisdn | phoneNumberDisplay}}</div>
          </div>
          <div class="rec-name">{{purchasePayload?.recipientName}}</div>
        </div>
      </div>
      <div class="operation-description scb-text-gray">
        <ng-container [ngSwitch]="purchaseType">
          <ng-container *ngSwitchCase="OPERATION_TYPE_CARD_TO_WALLET">Renseignez le montant à recharger sur le compte Orange
            money. Vous allez être redirigé vers la plateforme BICIS pour terminer l’opération.</ng-container>
          <ng-container *ngSwitchDefault>Renseignez le montant à transférer </ng-container>
        </ng-container>
      </div>
      <div class="transfer-amount-block">
        <mat-form-field class="scb-input-row amount-input" appearance="outline">
          <mat-label>Montant à envoyer</mat-label>
          <input #amountInput formControlName="amount" matInput type="number" (input)="onAmountChanged($event)" />
          <div matSuffix class="scb-text-gray suffix">
            <span class="cfa-unit scb-text-gray">F CFA</span>
            <ng-container *ngIf="(purchaseType !== OPERATION_TRANSFER_OM_WITH_CODE && purchaseType !== OPERATION_TYPE_CARD_TO_WALLET) else feesTac">
              <div class="send-fee">
                <span class="send-fee-value scb-text-gray" *ngIf="+amountInput?.value">
                  Frais d'envoi {{sending_fees_Info.effective_fees}} F CFA</span>
                <span class="free-fees"
                  *ngIf="(+sending_fees_Info.effective_fees === 0 && setAmountForm?.value?.amount !== null) && 0">
                  Gratuit <span class="asterisk scb-text-red-error">*</span>
                </span>
                <ion-icon name="information-circle" class="info-icon" *ngIf="setAmountForm?.value?.amount !== null">
                </ion-icon>
              </div>
            </ng-container>
            <ng-template #feesTac>
              <div class="send-fee">
                <span class="send-fee-value scb-text-gray">{{ purchaseType === OPERATION_TRANSFER_OM_WITH_CODE ? 'Frais d\'envoi' : 'Frais'}} {{+fee | number}} F CFA</span>
                <ion-icon name="information-circle" class="info-icon" *ngIf="setAmountForm?.value?.amount !== null">
                </ion-icon>
              </div>
            </ng-template>
          </div>
        </mat-form-field>
        <div class="free-fees-description scb-text-red-error" *ngIf="0">
          Dans la limite de 2 transferts par jour
        </div>
      </div>
      <div class="error-display scb-text-red-error" *ngIf="error && amountInput.value">
        {{error}}
      </div>
      <div class="cashout-fees-block"
        *ngIf="0 && (purchaseType === OPERATION_TRANSFER_OM && setAmountForm?.value?.amount !== null)">
        <div class="cashout-fees-details">
          <div class="cashout-title">Ajouter les frais de retrait</div>
          <div class="toggle-content">
            <span class="cashout-fees-value scb-text-gray">+ {{+fee | number }} F CFA</span>
            <ion-toggle (ionChange)="handleFees($event, amountInput.value)" slot="end"></ion-toggle>
          </div>
        </div>
        <div class="cashout-fees-description scb-text-gray">Je prends en charge les frais de retrait</div>
      </div>
      <div class="irt-reason-block" *ngIf="purchaseType === OPERATION_TYPE_INTERNATIONAL_TRANSFER"
        (click)="openReasonModal()">
        <span class="reason-title scb-text-gray">Raison</span>
        <span class="transfer-reason">{{ reason ? reason?.value : 'Choisir une raison'}}</span>
      </div>
      <div class="toggle-tac-block"
        *ngIf="purchaseType !== OPERATION_TYPE_INTERNATIONAL_TRANSFER && purchaseType !== OPERATION_TYPE_CARD_TO_WALLET && purchaseType !== OPERATION_TYPE_SEDDO_BONUS && purchaseType !== OPERATION_TYPE_SEDDO_CREDIT">
        <span class="tac-title">Transfert avec code</span>
        <ion-toggle #transfertOMTypeToggle [disabled]="userHasNoOmAccount"
          (ionChange)="toggleTransferWithCode($event, amountInput.value)" [checked]="userHasNoOmAccount" slot="end">
        </ion-toggle>
      </div>
      <div class="tac-recipient-sup-infos" *ngIf="purchaseType === OPERATION_TRANSFER_OM_WITH_CODE">
        <mat-form-field class="scb-input-row scb-required" appearance="outline">
          <mat-label>Prénom du destinataire &nbsp;&nbsp;</mat-label>
          <input formControlName="recipientFirstname" type="text" matInput />
        </mat-form-field>
        <mat-form-field class="scb-input-row scb-required" appearance="outline">
          <mat-label>Nom du destinataire &nbsp;&nbsp;</mat-label>
          <input formControlName="recipientLastname" type="text" matInput />
        </mat-form-field>
      </div>
      <div class="btn-container">
        <button [id]="'btn-validate-amount-transfert' | generateIdForTA" class="scb-btn scb-btn-full scb-btn-orange"
          (click)="goNext()"
          [disabled]="!setAmountForm?.valid || checkingAmount || loadingFees || (purchaseType === OPERATION_TYPE_INTERNATIONAL_TRANSFER && !reason)">
          <span>Continuer ({{ totalAmount }} FCFA)</span>
          <mat-spinner mode="indeterminate" [diameter]="20" *ngIf="checkingAmount"></mat-spinner>
        </button>
      </div>
    </form>
    <div class="error-block scb-text-red-error" *ngIf="hasError" (click)="initFees()">{{FEES_ERROR}}</div>
  </div>
</ion-content>