<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="goBack()" class="ion-padding-start" slot="start">
      <img src="/assets/images/arrow-left.png" alt="icon" class="arrow-left" />
    </ion-buttons>
    <ion-title class="ion-no-padding">
      <span class="title1">
        Transfert d’argent
      </span>
    </ion-title>
    <ion-spinner *ngIf="loadingFees" name="crescent" slot="end"></ion-spinner>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header class="ion-padding-start" collapse="condense">
    <ion-toolbar>
      <span class="title">
        Transfert d’argent
      </span>
    </ion-toolbar>
  </ion-header>
  <div class="banniere-container">
    <img src="/assets/images/transfer-money-banniere.png" alt="header-transfer" />
  </div>
  <div class="transfer-page">
    <form class="transfer-settings" [formGroup]="setAmountForm" *ngIf="setAmountForm && !hasError">
      <div class="recipient-block">
        <div class="recu-par">Montant reçu par</div>
        <div class="recipient">
          <span class="rec-msisdn">{{ purchasePayload?.recipientMsisdn | phoneNumberDisplay}}</span>
          <span class="rec-name">{{purchasePayload?.recipientName}}</span>
        </div>
      </div>
      <div class="transfer-amount-block">
        <mat-form-field class="scb-input-row amount-input" appearance="outline">
          <mat-label>Saisir le montant reçu&nbsp;&nbsp;</mat-label>
          <input #amountInput formControlName="amount" matInput type="number" (input)="onAmountChanged($event)" />
          <div matSuffix class="scb-text-gray suffix">
            <span class="cfa-unit scb-text-gray">F CFA</span>
            <ng-container *ngIf="purchaseType === OPERATION_TRANSFER_OM else feesTac">
              <div class="send-fee">
                <span class="send-fee-value scb-text-gray" *ngIf="+amountInput?.value">
                  Frais d'envoi {{sending_fees_Info.effective_fees}} F CFA</span>
                <span class="free-fees"
                  *ngIf="(+sending_fees_Info.effective_fees === 0 && setAmountForm?.value?.amount !== null) && 0">
                  Gratuit <span class="asterisk scb-text-red-error">*</span>
                </span>
                <ion-icon name="information-circle" class="info-icon" *ngIf="setAmountForm?.value?.amount !== null">
                </ion-icon>
              </div>
            </ng-container>
            <ng-template #feesTac>
              <div class="send-fee">
                <span class="send-fee-value scb-text-gray">Frais d'envoi {{+fee | number}} F CFA</span>
                <ion-icon name="information-circle" class="info-icon" *ngIf="setAmountForm?.value?.amount !== null">
                </ion-icon>
              </div>
            </ng-template>
          </div>
        </mat-form-field>
        <div class="free-fees-description scb-text-red-error" *ngIf="0">
          Dans la limite de 2 transferts par jour
        </div>
      </div>
      <div class="error-display scb-text-red-error" *ngIf="error && amountInput.value">
        {{error}}
      </div>
      <div class="cashout-fees-block"
        *ngIf="purchaseType === OPERATION_TRANSFER_OM && setAmountForm?.value?.amount !== null">
        <div class="cashout-fees-details">
          <div class="cashout-title">Ajouter les frais de retrait</div>
          <div class="toggle-content">
            <span class="cashout-fees-value scb-text-gray">+ {{+fee | number }} F CFA</span>
            <ion-toggle (ionChange)="handleFees($event, amountInput.value)" slot="end"></ion-toggle>
          </div>
        </div>
        <div class="cashout-fees-description scb-text-gray">Je prends en charge les frais de retrait</div>
      </div>
      <div class="toggle-tac-block">
        <span class="tac-title">Transfert avec code</span>
        <ion-toggle #transfertOMTypeToggle [disabled]="userHasNoOmAccount"
          (ionChange)="toggleTransferWithCode($event, amountInput.value)" [checked]="userHasNoOmAccount" slot="end">
        </ion-toggle>
      </div>
      <div class="tac-recipient-sup-infos" *ngIf="purchaseType === OPERATION_TRANSFER_OM_WITH_CODE">
        <mat-form-field class="scb-input-row scb-required" appearance="outline">
          <mat-label>Prénom du destinataire &nbsp;&nbsp;</mat-label>
          <input formControlName="recipientFirstname" type="text" matInput />
        </mat-form-field>
        <mat-form-field class="scb-input-row scb-required" appearance="outline">
          <mat-label>Nom du destinataire &nbsp;&nbsp;</mat-label>
          <input formControlName="recipientLastname" type="text" matInput />
        </mat-form-field>
      </div>
      <div class="btn-container">
        <button [id]="'btn-validate-amount-transfert' | generateIdForTA" class="scb-btn scb-btn-full scb-btn-orange" (click)="goNext()"
          [disabled]="!setAmountForm?.valid || checkingAmount || error || loadingFees">
          <span>Continuer ({{ totalAmount }} FCFA)</span>
          <mat-spinner mode="indeterminate" [diameter]="20" *ngIf="checkingAmount"></mat-spinner>
        </button>
      </div>
    </form>
    <div class="error-block scb-text-red-error" *ngIf="hasError" (click)="initFees()">{{FEES_ERROR}}</div>
  </div>
</ion-content>