<ion-grid>
  <ion-row>
    <ng-container *ngFor="let operation of operations">
      <div matRipple (click)="onOperation(operation)" class="operation" [ngClass]="{'disabled': !operation.activated}"
        *ngIf="!isServiceHidden(operation)">
        <img [src]="operation.icone" class="operation-img" />
        <div class="operation-text">
          <span class="action">{{ operation.titre }} </span>
          <span class="target">{{ operation.description }}</span>
        </div>
        <div class="badge-promo" *ngIf="operation.nouveau">
          <div class="icon-container">
            <span class="new scb-text-white">
              Nouveau
            </span>
          </div>
          <div class="triangle"></div>
        </div>
      </div>
    </ng-container>
  </ion-row>
</ion-grid>