<div class="face-id-alert-page">
  <img src="/assets/images/information.svg" class="info-icon" alt="inf-ico"/>
  <img src="/assets/images/close.svg" class="close-icon"  alt="close-ico" (click)="close()"/>
  <div class="text-block">
    <div class="title">Valider avec Face ID/Touch ID</div>
    <div class="content">
      Désormais vous pouvez valider toutes vos opérations Orange Money sans saisir de code avec Face ID.
    </div>
    <div class="activate scb-text-orange" (click)="activate()">
      Activer Face ID/Touch ID
    </div>
  </div>
</div>