<ion-header>
  <div class="arrow-left-container">
    <img
      src="/assets/images/arrow-left.png"
      alt=""
      (click)="goToPreviousStep()"
    />
  </div>
</ion-header>

<ion-content>
  <div class="content-block">
    <div class="forgotpassword-icon">
      <img src="/assets/images/group-167.svg" alt="" />
    </div>
    <div class="forgotpassword-title">
      <span class="forgotpassword-title-part-2"
        >Je définis mon nouveau mot de passe</span
      >
    </div>

    <div class="forgotpassword-instruction">
      <span *ngIf="currentStep === 2"
        >Le mot de passe doit contenir au moins 5 caractères</span
      >
    </div>

    <div class="scb-form-block">
      <div
        class="form-get-number"
        autocomplete="false"
        *ngIf="currentStep === 1"
      >
        <div *ngIf="gettingNumber" class="scb-text-gray get-number">
          Récupération du numéro en cours...
        </div>
        <div *ngIf="numberGot" class="scb-text-gray numero-container">
          {{ phoneNumber }}
        </div>
        <div class="form-error-message form-error-message-input-text">
          <span class="form-error-message-style" (click)="getNumber()"
            >{{ error_message }}</span
          >
        </div>
        <div class="forgotpassword-btn-block">
          <button
            *ngIf="error_message === ''"
            (click)="checkNumber()"
            [disabled]="!numberGot || checkingNumber"
            type="submit"
            class="scb-btn-full scb-btn-orange"
            mat-stroked-button
          >
            Suivant
          </button>
        </div>
      </div>
      <form
        autocomplete="false"
        *ngIf="currentStep === 2"
        [formGroup]="formPassword"
        (submit)="onSubmitPassword()"
      >
        <div class="confirm-password">
          <mat-form-field class="scb-input-row scb-required">
            <input
              formControlName="password"
              [attr.type]="fields['password'].fieldType"
              matInput
              placeholder="Entrez ici votre mot de passe"
              autocomplete="off"
            />
            <mat-icon
              class="c-pointer"
              (click)="togglePasswordVisibility('password')"
              matSuffix
            >
              {{ fields['password'].visibilityIcon }}
            </mat-icon>
          </mat-form-field>
          <mat-form-field class="scb-input-row scb-required">
            <input
              formControlName="passwordConfirmation"
              [attr.type]="fields['confirmPassword'].fieldType"
              matInput
              placeholder="Entrez le mot de passe à nouveau"
              autocomplete="off"
            />
            <mat-icon
              class="c-pointer"
              (click)="togglePasswordVisibility('confirmPassword')"
              matSuffix
            >
              {{ fields['confirmPassword'].visibilityIcon }}
            </mat-icon>
          </mat-form-field>
          <div class="form-error-message form-error-message-input-password">
            <span class="form-error-message-style">{{ error_message }}</span>
          </div>

          <div class="forgotpassword-btn-block">
            <button
              [disabled]="!formPassword.valid || resetingPwd"
              type="submit"
              class="scb-btn-full scb-btn-orange"
              mat-stroked-button
            >
              Suivant
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>
