<div class="kiosk-locator-popup">
  <div class="kiosk-title">Kiosques à proximité</div>
  <div class="kiosk-text">
    <div class="description scb-text-gray">
      "Kiosques à proximité" est un service qui vous assiste dans la recherche des kiosques Orange Money les plus
      proches autour de nous. Pour accéder à ce service, <b class="scb-text-full-black">veuillez activer votre localisation.</b>
    </div>
    <div class="warning">
      <div class="icon-info">
        <img src="/assets/images/information.svg" />
      </div>
      <div class="warning-text">
        Attention. Ce service requiert internet
      </div>
    </div>
  </div>
  <div class="btn-container">
    <button class="scb-btn scb-btn-orange scb-btn-full" (click)="continue()">
      Continuer
    </button>
  </div>
</div>