<div class="buy-pass-internet-succeded-container">
	<div class="buy-pass-internet-succeded-text-title" *ngIf="type === 'sargal'">
		<span class="title" *ngIf="!failed">Conversion en {{ giftSargal?.categorieGift?.nom }} effectuée</span>
		<span class="title" *ngIf="failed">Conversion en {{ giftSargal?.categorieGift?.nom }} non effectuée</span>
	</div>
	<div class="buy-pass-internet-succeded-text-title" *ngIf="type !== 'sargal'">
		<span class="title" *ngIf="!failed">Achat de pass {{ type }} effectué</span>
		<span class="title" *ngIf="failed">Achat de pass {{ type }} non effectué</span>
	</div>
	<div class="buy-pass-internet-succeded-icon">
		<img *ngIf="type === 'internet' && !failed" src="/assets/images/achat-pass-success.svg" alt="achat-pass-success" />
		<img
			*ngIf="type === 'illimix' && !failed"
			src="/assets/images/achat-illimix-success.svg"
			alt="achat-pass-success"
		/>
		<img *ngIf="type === 'internet' && failed" src="/assets/images/achat-pass-echec.svg" alt="achat-pass-success" />
		<img *ngIf="type === 'illimix' && failed" src="/assets/images/achat-illimix-echec.svg" alt="achat-pass-success" />
		<img
			*ngIf="type === OPERATION_TYPE_RECHARGE_CREDIT && !failed"
			src="/assets/images/achat-credit-success.svg"
			alt="achat-credit-success"
		/>
		<img
			*ngIf="type === OPERATION_TYPE_RECHARGE_CREDIT && failed"
			src="/assets/images/achat-credit-echec.svg"
			alt="achat-credit-success"
		/>
		<img *ngIf="type === 'sos' && !failed" src="/assets/images/sos-success.svg" alt="achat-credit-success" />
		<img *ngIf="type === 'sos' && failed" src="/assets/images/sos-echec.svg" alt="achat-credit-success" />
		<img *ngIf="type === 'sargal' && !failed" src="/assets/images/sargal-success.svg" alt="achat-pass-success" />
		<img *ngIf="type === 'sargal' && failed" src="/assets/images/achat-illimix-echec.svg" alt="achat-pass-success" />
	</div>
	<div class="buy-pass-internet-succeded-text">
		<div class="buy-pass-internet-succeded-text-title" *ngIf="type === 'sos'">
			<span class="title" *ngIf="!failed">Votre souscription a été effectuée.</span>
			<span class="title" *ngIf="failed">Votre souscription n'a pas été effectuée.</span>
		</div>
		<div class="buy-pass-internet-succeded-text-content">
			<!-- amount -->
			<div *ngIf="type !== 'sargal'" class="info-div">
				<div class="item-title">Montant</div>
				<div class="item-desc-orange">
					{{ passInternetBought?.pass.montant ? passInternetBought?.pass.montant : passInternetBought?.pass.tarif }}
					FCFA
				</div>
			</div>
			<!-- product -->
			<div *ngIf="type !== 'sargal'" class="info-div">
				<div class="item-title">Pass {{ type }}</div>
				<div class="item-desc-bold">{{ passInternetBought?.pass.nom }}</div>
			</div>
			<!-- reciver -->
			<div *ngIf="type !== 'sargal'" class="info-div">
				<div class="item-title">Destinataire</div>
				<div class="item-desc-bold">{{ passInternetBought?.destinataire }}</div>
			</div>
			<!-- bonus -->
			<div class="info-div" *ngIf="passInternetBought?.pass.bonusNuit">
				<div class="item-title">Bonus</div>
				<div class="div-desc-blue">
					<div class="item-desc-blue">
						{{ passInternetBought?.pass.bonusNuit }}
					</div>
				</div>
			</div>

			<span class="content" *ngIf="failed">{{ errorMsg }}</span>
		</div>
		<div *ngIf="type === 'sargal' && !failed">
			<div class="sargal-operation">
				<div class="title scb-text-gray">Points convertis</div>
				<div class="price scb-text-orange">{{ giftSargal?.prix }} Pts</div>
			</div>
			<div class="sargal-operation">
				<div class="title scb-text-gray">
					{{ giftSargal?.categorieGift?.nom }}
				</div>
				<div class="price scb-text-black">{{ giftSargal?.nom }}</div>
			</div>
		</div>
	</div>
	<div class="buy-pass-internet-succeded-redirection">
		<button (click)="goToDashboardPage()" class="scb-btn redirection-home c-pointer" mat-stroked-button>
			<span class="text">Retour à l’accueil</span>
		</button>
		<div (click)="goToBuyPassPage()" class="redirection-buy-another-pass">
			<a class="scb-text-orange" *ngIf="!failed && type !== 'sos'">{{
				type === OPERATION_TYPE_RECHARGE_CREDIT ? 'Recharger du crédit' : 'Faire un autre achat de pass'
			}}</a>
			<a class="scb-text-orange" *ngIf="failed">Recharger du crédit</a>
		</div>
	</div>
</div>
