<ion-header [oemIonHeaderParallax]="100" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" icon="" class="oem-back-button">
        <img src="/assets/images/arrow-left.png" alt="icon" />
      </ion-back-button>
    </ion-buttons>
    <ion-title class="achat-pass-internet">
      <span>Mes factures</span>
    </ion-title>
  </ion-toolbar>
  <div class="banner-container">
    <div class="number">{{'774452916'|phoneNumberDisplay}}</div>
    <div class="change" (click)="onChangeLine()">Changer</div>
  </div>
  <div class="month-selection">
    <ion-list mode="ios">
      <ion-item mode="ios" lines="none">
        <ion-label mode="ios">Choisir un mois</ion-label>
        <ion-select
          [value]="months[0].code"
          interface="popover"
          noIonSelectArrow
          mode="ios"
        >
          <ion-select-option
            [value]="month.code"
            *ngFor="let month of months"
            mode="ios"
            ><span>{{month.name}} {{month.year}}</span></ion-select-option
          >
        </ion-select>
        <ion-icon name="arrow-down" mode="ios" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-header>
<ion-content #scrollArea [scrollEvents]="true" mode="ios" > 
  <div class="content">
    <div class="bordereau" *ngIf="(bordereau$|async) as bordereau">
      <div class="title">Bordereau</div>
      <invoice-card [invoice]="bordereau" [title]="'Facture globale'"></invoice-card>
    </div>
    <div class="factures"  *ngIf="(factures$|async) as factures">
      <div class="title">Factures</div>
      <invoice-card *ngFor="let facture of factures" [invoice]="facture" ></invoice-card>
    </div>
  </div>
</ion-content>
