<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="goBack()" class="ion-padding-start" slot="start">
      <img src="/assets/images/arrow-left.png" alt="icon" class="arrow-left" />
    </ion-buttons>
    <ion-title>
      <span *ngIf="purchaseType === OPERATION_INTERNET_TYPE" class="title1">
        Achat pass internet
      </span>
      <span *ngIf="purchaseType === OPERATION_ILLIMIX_TYPE" class="title1">
        Achat pass Illimix
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <ion-header class="ion-padding-start" collapse="condense">
    <ion-toolbar>
      <span *ngIf="purchaseType === OPERATION_INTERNET_TYPE" class="title">
        Achat pass internet
      </span>
      <span *ngIf="purchaseType === OPERATION_ILLIMIX_TYPE" class="title">
        Achat pass Illimix
      </span>
    </ion-toolbar>
  </ion-header>

  <div class="list-pass-body">
    <div class="header-image">
      <img
        src="/assets/images/pass-internet-page-header.svg"
        *ngIf="purchaseType === OPERATION_INTERNET_TYPE"
        alt=""
      />
      <img
        src="/assets/images/banniere-illimix.png"
        *ngIf="purchaseType === OPERATION_ILLIMIX_TYPE"
        alt=""
      />
    </div>
    <div class="list-pass-body-main-content">
      <!-- loader -->
      <div *ngIf="!isLoaded" class="profil-spinner">
        <mat-spinner mode="indeterminate" [diameter]="25"></mat-spinner>
      </div>

      <div *ngIf="isLoaded" class="list-pass-body">
        <div class="tab-header">
          <div
            *ngFor="let slide of fullListPass; let i=index"
            (click)="changeCategory(i)"
            class="tab-header-item"
            [ngClass]="{  'selected' : i === activeTabIndex} "
          >
            <span class="scb-text-light-black"> {{ slide.label }} </span>
          </div>
        </div>
        <div class="main-content">
          <ng-container *ngIf="purchaseType === OPERATION_INTERNET_TYPE">
            <ion-slides
              #sliders
              (ionSlideDidChange)="slideChanged()"
              [options]="slideOpts"
            >
              <ion-slide *ngFor="let slide of fullListPass">
                <div class="filtered-list-pass">
                  <app-item-pass-internet
                    *ngFor="let pass of slide.pass"
                    [passInternet]="pass"
                    (selectPass)="choosePass($event)"
                  ></app-item-pass-internet>
                </div>
              </ion-slide>
            </ion-slides>
          </ng-container>
          <ng-container *ngIf="purchaseType === OPERATION_ILLIMIX_TYPE">
            <ion-slides
              #sliders
              (ionSlideDidChange)="slideChanged()"
              [options]="slideOpts"
            >
              <ion-slide *ngFor="let slide of fullListPass">
                <div class="filtered-list-pass">
                  <app-item-pass-illimix
                    *ngFor="let pass of slide.pass"
                    [passIllimix]="pass"
                    (selectPass)="choosePass($event)"
                  ></app-item-pass-illimix>
                </div>
              </ion-slide>
            </ion-slides>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ion-content>
