<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="goBack()" class="ion-padding-start" slot="start">
      <img src="/assets/images/arrow-left.png" alt="icon" class="arrow-left" />
    </ion-buttons>
    <ion-title>
      <span class="title1">
        Pass Illiflex
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header class="ion-padding-start" collapse="condense">
    <ion-toolbar>
      <span class="title">
        Pass Illiflex
      </span>
    </ion-toolbar>
  </ion-header>
  <div class="select-illiflex-page">
    <div class="banniere-container">
      <img src="/assets/images/10-illustration-dalal-tones-copy.svg" alt="header-illiflex" />
    </div>
    <div class="description">
      <span class="text scb-text-gray">
        Compose ton propre pack Illimix en fonction de ton budget ou de tes usages (Pass Internet et Minutes d’appels).
      </span>
    </div>
    <div class="illiflex-title"><span class="titre">Je veux composer mon illiflex</span></div>
    <div class="illiflex-choices">
      <div class="illiflex-type" (click)="goConfigIlliflexPage(IlliflexOption.BUDGET)">
        <div class="icon-container">
          <img src="/assets/images/illiflex_budget.png" alt="budget">
        </div>
        <div class="illifflex-type-titre">Selon mon budget</div>
        <div class="illiflex-text scb-text-gray">Je saisis un montant inférieur à 15.000 FCFA et on me génére des illiflex.</div>
      </div>
      <div class="illiflex-type" (click)="goConfigIlliflexPage(IlliflexOption.USAGE)">
        <div class="icon-container">
          <img src="/assets/images/illiflex_usage.png" alt="usage">
        </div>
        <div class="illifflex-type-titre">Selon mes usages</div>
        <div class="illiflex-text scb-text-gray">Je saisis mes usages (internet, appels, durée) et on me génére des illiflex.</div>
      </div>
    </div>
  </div>
</ion-content>