<div class="login-page">
  <div class="go-back">
    <img id="btn-go-back" (click)="goBack()" src="/assets/images/arrow-left.png" class="close-icon" alt="">
  </div>
  <div class="scb-text-orange voir-intro">
    <span (click)="goBack()">Revoir l'intro</span>
  </div>
  <div class="img-container">
    <img src="/assets/images/login.svg" alt="" />
  </div>
  <div class="title">
    <span>Je me connecte</span>
  </div>
  <div class="sub-title">
    <span class="scb-text-gray">Saisie de mes identifiants </span>
  </div>
  <div class="form-container">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      novalidate
      autocomplete="false"
    >
      <mat-form-field class="scb-input-row" appearance="outline">
        <mat-label>Numéro de téléphone &nbsp;&nbsp;</mat-label>
        <input
          formControlName="username"
          matInput
          [(ngModel)]="subscribedNumber"
          type="tel"
        />
      </mat-form-field>
      <mat-form-field class="scb-input-row" appearance="outline">
        <mat-label>Mot de passe &nbsp;&nbsp;</mat-label>
        <input
          formControlName="password"
          [attr.type]="pFieldType"
          matInput
          #password
          value=""
          autocomplete="off"
          class="input-password"
        />
        <span
          *ngIf="password.value"
          (click)="changePasswordVisibility()"
          matSuffix
          class="show-hide-text c-pointer"
        >
          {{ pFieldType === 'text' ? 'Cacher' : 'Afficher' }}
        </span>
      </mat-form-field>

      <div *ngIf="showErrMessage" class="error-text">
        <span class="scb-text-red-error"> {{ errorMsg }} </span>
      </div>

      <div class="password-forgotten">
        <span id="btn-forgotten-pwd" routerLink="/forgotten-password" class="scb-text-gray">
          Mot de passe oublié ?
        </span>
      </div>
      <button
        type="submit"
        id="btn-login"
        [disabled]="!form.valid || loading"
        class="scb-btn-full scb-btn-orange"
        mat-stroked-button
      >
        <span>Me connecter</span>
        <mat-spinner
          mode="indeterminate"
          [diameter]="20"
          *ngIf="loading"
        ></mat-spinner>
      </button>
    </form>
    <div class="bottom-block">
      <div
        class="nav-item"
        *ngFor="let item of navItems"
        [id]="'btn-' + item?.action"
        (click)="doAction(item.action)"
      >
        <div class="left-block">
          <div class="titre">{{item?.title}}</div>
          <div class="sous-titre scb-text-gray">{{ item?.subTitle }}</div>
        </div>
        <div class="right-block">
          <img src="/assets/images/long-arrow-right.png" alt="arrow-right" />
        </div>
      </div>
    </div>
  </div>
</div>
