@import 'src/app/app';

:host {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  background: url('/assets/images/background_login_page.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

// Mobile CSS Section
.login-page {
  padding: 15px 15px 0;
  .voir-intro {
    text-align: right;
    font-size: 18px;
  }
  .img-container {
    width: percentage(118/365);
    margin: 25px 0 20px;
    text-align: left;
    img {
      width: 100%;
      height: auto;
    }
  }
  .title {
    // width: percentage(248/375);
    margin: 30px 0 10px;
    text-align: left;
    font-family: HelveticaNeueLTStd-Bd;
    font-size: 34px;
  }
  .sub-title {
    padding: 10px 0 20px;
    span {
      font-size: 16px;
      font-family: HelveticaNeueLTStd-Roman;
    }
  }
  .form-container {
    width: 100%;
    margin: 0 auto;
    form {
      .error-text {
        padding-bottom: 20px;
        span {
          font-family: HelveticaNeueLTStd-Roman, sans-serif;
          font-size: 12px;
        }
      }
      .password-forgotten {
        padding-bottom: 20px;
        span {
          font-family: HelveticaNeueLTStd-Roman, sans-serif;
          font-size: 12px;
        }
      }
      button {
        border-radius: 10px;
        position: relative;
        mat-spinner {
          position: absolute;
          top: 15px;
          right: 10px;
        }
        .mat-spinner::ng-deep circle {
          stroke: $white;
        }
      }
    }
    .bottom-block {
      margin-top: 50px;
      .nav-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        .left-block {
          .titre {
            font-size: 16px;
            line-height: 1.25;
          }
          .sous-titre {
            font-family: HelveticaNeueLTStd-Roman, sans-serif;
            font-size: 12px;
            line-height: 1.33;
            margin-top: 5px;
          }
        }
        .right-block {
        }
      }
    }
  }
}
