<div class="item-container" (click)="choosePass(passIllimix)">
    <div class="item-pass-internet">
      <div class="top-block">
          <span *ngIf="!passIllimix.passPromo" class="price scb-text-orange"> {{ +passIllimix.tarif ? passIllimix?.tarif + " FCFA" : passIllimix?.tarif }} </span>
          <span *ngIf="passIllimix.passPromo" class="price scb-text-orange"> {{ +passIllimix?.passPromo?.tarif || +passIllimix?.passPromo?.tarif === 0 ? passIllimix?.passPromo?.tarif + " FCFA" : passIllimix?.passPromo?.tarif }} </span>
      </div>
      <div class="bottom-block">
        <div class="item-details">
          <div *ngIf="passIllimix?.volumeInternet || passIllimix?.passPromo?.volumeInternet " class="infos left-side">
            <span class="item-volume">
                {{ !passIllimix.passPromo ? passIllimix?.volumeInternet : passIllimix?.passPromo?.volumeInternet }}
            </span>
            <span class="item-type scb-text-gray">
                Internet
            </span>
          </div>
          <div *ngIf="passIllimix?.dureeAppel || passIllimix?.passPromo?.dureeAppel" class="infos left-side">
            <span class="item-volume">
                {{ !passIllimix.passPromo ? passIllimix?.dureeAppel : passIllimix?.passPromo?.dureeAppel }}
            </span>
            <span class="item-type scb-text-gray">
                Appel*
            </span>
          </div>
          <div *ngIf="passIllimix?.nombreSms || passIllimix?.passPromo?.nombreSms" class="infos left-side">
            <span class="item-volume">
                {{ !passIllimix.passPromo ? passIllimix?.nombreSms : passIllimix?.passPromo?.nombreSms }}
            </span>
            <span class="item-type scb-text-gray">
                Messages
            </span>
          </div>
        </div>
        <div class="item-sub-details">
          <div class="left-side">
            <span class="item-validity scb-text-gray">
                *Appel tous réseaux
            </span>
          </div>
          <div class="right-side">
            <span *ngIf="!passIllimix?.passPromo" class="item-validity scb-text-gray">
              Valable
                <ng-container
                [ngSwitch]="
                  !passIllimix?.passPromo ? passIllimix?.categoriePass?.libelle : passIllimix?.passPromo?.categoriePass?.libelle
                "
              >
                <ng-container *ngSwitchCase="'Jour'"> 1 jour.</ng-container>
                <ng-container *ngSwitchCase="'Semaine'"> 7 jours.</ng-container>
                <ng-container *ngSwitchCase="'Mois'"> 30 jours.</ng-container>
                <ng-container *ngSwitchCase="'Nuit'"> de 00h à 08h.</ng-container>
                <ng-container *ngSwitchDefault> 3 jours.</ng-container>
            </ng-container>
            </span>
            <span *ngIf="passIllimix?.passPromo" class="item-validity scb-text-gray">
              Valable jusqu'au {{ passIllimix?.dateFin | date: 'dd MMM' }}
            </span>
            <span class="item-bonus scb-text-gray">
                {{
                  !passIllimix.passPromo ? passIllimix?.bonusNuit : passIllimix?.passPromo?.bonusNuit
                }}
            </span>
          </div>
        </div>
      </div>
      <div *ngIf="passIllimix?.passPromo" class="promo-block">
        <span class="description scb-text-white"> {{ passIllimix.description }}</span>
        <span class="arrow"></span>
      </div>
    </div>
  </div>