<div class="select-recipient-container">
  <img class="image" src="/assets/images/transfert-de-credit.svg" alt="" *ngIf="type === 'credit'" />
  <img class="image" src="/assets/images/pass-internet-by-om.svg" alt="" *ngIf="type !== 'credit'" />
  <form [formGroup]="formDest">
    <mat-form-field class="input-amount font-size-30">
      <input matInput type="tel" #input (input)="enableBtn(input.value)" placeholder="Entrez le numéro du destinataire" formControlName="phoneNumber" />
    </mat-form-field>
    <div class="button-container">
      <button class="scb-btn scb-btn-orange" [disabled]="!isValidNumber" (click)="suivant()">
        Suivant
      </button>
    </div>
    <div class="error-block scb-text-red-error" *ngIf="showErrorMsg">
      La formule du numéro bénéficiaire ne permet pas de souscrire à ce service.
    </div>
  </form>
  <div class="contact" (click)="pickContact()">
    <img class="contact-img" src="/assets/images/contact.svg" alt="contact-icon" />
    <span class="scb-text-orange contact-text">Mes contacts</span>
  </div>
</div>
