<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="goBack()" class="ion-padding-start" slot="start">
      <img src="/assets/images/arrow-left.png" alt="icon" class="arrow-left" />
    </ion-buttons>
    <ion-title>
      <span *ngIf="purchaseType === OPERATION_INTERNET_TYPE" class="title1">
        Achat pass internet
      </span>
      <span *ngIf="purchaseType === OPERATION_ILLIMIX_TYPE" class="title1">
        Achat pass Illimix
      </span>
      <span *ngIf="purchaseType === OPERATION_ALLO_TYPE" class="title1">
        Achat pass Allo
      </span>
      <span *ngIf="purchaseType === OPERATION_ABONNEMENT_WIDO" class="title1">
        Abonnement WIDO
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <ion-header class="ion-padding-start" collapse="condense">
    <ion-toolbar>
      <span *ngIf="purchaseType === OPERATION_INTERNET_TYPE" class="title">
        Achat pass internet
      </span>
      <span *ngIf="purchaseType === OPERATION_ILLIMIX_TYPE" class="title">
        Achat pass Illimix
      </span>
      <span *ngIf="purchaseType === OPERATION_ALLO_TYPE" class="title">
        Achat pass Allo
      </span>
      <span *ngIf="purchaseType === OPERATION_ABONNEMENT_WIDO" class="title1">
        Abonnement WIDO
      </span>
    </ion-toolbar>
  </ion-header>

  <div class="list-pass-body">
    <div class="header-image">
      <img
        src="/assets/images/pass-internet-page-header.svg"
        *ngIf="purchaseType === OPERATION_INTERNET_TYPE"
        alt=""
      />
      <img
        src="/assets/images/banniere-illimix.png"
        *ngIf="purchaseType === OPERATION_ILLIMIX_TYPE"
        alt=""
      />
      <img
        src="/assets/images/pass-allo-banniere.png"
        *ngIf="purchaseType === OPERATION_ALLO_TYPE"
        alt=""
      />
      <img
        src="/assets/images/pass-allo-banniere.png"
        *ngIf="purchaseType === OPERATION_ABONNEMENT_WIDO"
        alt=""
      />
    </div>
    <div class="list-pass-body-main-content">
      <!-- loader -->
      <div *ngIf="!isLoaded" class="profil-spinner">
        <ion-spinner name="crescent" ></ion-spinner>
      </div>

      <div *ngIf="isLoaded && listPass.length" class="list-pass-body">
        <div class="tab-header" *ngIf="purchaseType !== OPERATION_ALLO_TYPE && purchaseType !== OPERATION_ABONNEMENT_WIDO">
          <div
            *ngFor="let slide of fullListPass; let i=index"
            (click)="changeCategory(i)"
            class="tab-header-item"
            [ngClass]="{  'selected' : i === activeTabIndex} "
          >
            <span class="scb-text-light-black"> {{ slide?.label }}</span>
          </div>
        </div>
        <div class="main-content">
          <ng-container *ngIf="purchaseType === OPERATION_INTERNET_TYPE">
            <ion-slides
              #sliders
              (ionSlideDidChange)="slideChanged()"
              [options]="slideOpts"
            >
              <ion-slide *ngFor="let slide of fullListPass">
                <div class="filtered-list-pass">
                  <ng-container *ngIf="slide?.pass?.length">
                    <app-item-pass-internet
                      *ngFor="let pass of slide?.pass"
                      [passInternet]="pass"
                      [boosters]="getPassBoosters(pass)"
                      (selectPass)="choosePass($event)"
                    ></app-item-pass-internet>
                  </ng-container>
                  <ng-container *ngIf="!slide?.pass?.length">
                    {{ getErrorMessageNoPass() }}
                  </ng-container>
                </div>
              </ion-slide>
            </ion-slides>
          </ng-container>
          <ng-container
            *ngIf="purchaseType === OPERATION_ILLIMIX_TYPE || purchaseType === OPERATION_ALLO_TYPE"
          >
            <ion-slides
              #sliders
              (ionSlideDidChange)="slideChanged()"
              [options]="slideOpts"
            >
              <ng-container *ngIf="fullListPass.length">
                <ion-slide *ngFor="let slide of fullListPass">
                  <div class="filtered-list-pass">
                    <ng-container *ngIf="slide?.pass?.length">
                      <app-item-pass-illimix
                        *ngFor="let pass of slide.pass"
                        [passIllimix]="pass"
                        [boosters]="getPassBoosters(pass)"
                        (selectPass)="choosePass($event)"
                      ></app-item-pass-illimix>
                    </ng-container>
                    <ng-container *ngIf="!slide?.pass?.length">
                      {{ getErrorMessageNoPass() }}
                    </ng-container>
                  </div>
                </ion-slide>
              </ng-container>
              <ng-container *ngIf="!fullListPass.length">
                <ion-slide>
                  <div class="filtered-list-pass">
                    {{ getErrorMessageNoPass() }}
                  </div>
                </ion-slide>
              </ng-container>
            </ion-slides>
          </ng-container>
					<ng-container *ngIf="purchaseType === OPERATION_ABONNEMENT_WIDO">
						<div class="filtered-list-pass">
							<ng-container *ngIf="listPass?.length">
								<app-item-pass-wido
									*ngFor="let pass of listPass"
									[passWido]="pass"
									(selectPass)="choosePass($event)"
								></app-item-pass-wido>
							</ng-container>
							<ng-container *ngIf="!listPass.length">
								{{ getErrorMessageNoPass() }}
							</ng-container>
						</div>
					</ng-container>
        </div>
      </div>
    </div>
  </div>
</ion-content>
