<ion-header>
	<ion-toolbar>
		<ion-buttons (click)="goBack()" class="ion-padding-start" slot="start">
			<img src="/assets/images/arrow-left.png" alt="icon" class="arrow-left" />
		</ion-buttons>
		<ion-title class="ion-no-padding">
			<span class="title1">Déplafonnement OM</span>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="deplafonnement-content">
	<ion-header class="ion-padding-start" collapse="condense">
		<ion-toolbar>
			<span class="title">Déplafonner mon compte Orange Money</span>
		</ion-toolbar>
	</ion-header>
	<div class="deplafonnement-body">
		<div class="banniere-container">
			<img src="/assets/images/banniere-om-new-account.png" alt="header-om" />
		</div>
		<div class="all-informations-block" *ngIf="isElligibleToDeplafonnement(userOmStatus)">
			<div class="single-block">
				<div class="block-title">Numéro de téléphone</div>
				<div class="form-block">
					<div class="om-number-block scb-text-gray">
						<span *ngIf="omMsisdn" class="msisdn">{{(omMsisdn | phoneNumberDisplay) }}</span>
					</div>
					<div class="error-block scb-text-red-error" *ngIf="getMsisdnHasError" (click)="getOmMsisdn()">
						Une erreur est survenue. Réactualisez ici
					</div>
				</div>
			</div>
			<form class="form-block" [formGroup]="personalInfosForm">
				<div class="single-block">
					<div class="block-title">Infos personnelles</div>
					<ion-list mode="ios">
						<ion-item mode="ios" lines="none">
							<ion-label mode="ios" class="scb-text-gray">Civilité</ion-label>
							<ion-select interface="popover" noIonSelectArrow mode="ios" formControlName="civility">
								<ion-select-option value="monsieur" mode="ios"><span>Monsieur</span></ion-select-option>
								<ion-select-option value="madame" mode="ios"><span>Madame</span></ion-select-option>
							</ion-select>
							<ion-icon name="arrow-down" mode="ios" slot="end"></ion-icon>
						</ion-item>
					</ion-list>
					<mat-form-field class="scb-input-row" appearance="outline">
						<mat-label>Nom &nbsp;&nbsp;</mat-label>
						<input formControlName="lastname" matInput type="text" />
						<small class="text-danger"
							*ngIf="personalInfosForm.get('lastname').hasError('minlength')">
        					Le nombre minimal de caractères pour ce champ est {{personalInfosForm.get('lastname').errors.minlength.requiredLength}} caractères.
    					</small>
					</mat-form-field>
					<mat-form-field class="scb-input-row" appearance="outline">
						<mat-label>Prénom &nbsp;&nbsp;</mat-label>
						<input formControlName="firstname" matInput type="text" />
						<small class="text-danger"
							*ngIf="personalInfosForm.get('firstname').hasError('minlength')">
        					Le nombre minimal de caractères pour ce champ est {{personalInfosForm.get('firstname').errors.minlength.requiredLength}} caractères.
    					</small>
					</mat-form-field>
					<ion-datetime
						placeholder="Date de naissance"
						displayFormat="DD / MM / YYYY"
						doneText="Confirmer"
						cancelText="Annuler"
						formControlName="birthdate"
						display-timezone="utc"
						(ionChange)="checkAge($event)"
						[max]="maxBirthYearAuthorized"
					></ion-datetime>
					<div class="error scb-text-red-error" *ngIf="isUserAgeInvalid">
						Vous n'avez pas l'age requis pour déplafonner votre compte
					</div>
				</div>
				<div class="single-block">
					<div class="block-title">Preuve d’identité </div>
					<div class="radio-group">
						<mat-radio-group (change)="clearInput()" formControlName="identityType">
							<mat-radio-button [value]="'CNI'" #cni>
								<div class="identity-option scb-text-gray" [ngClass]="{'radio-selected': cni.checked}">
									Carte d'identité
								</div>
							</mat-radio-button>
							<mat-radio-button [value]="'PASSPORT'" #pass>
								<div class="identity-option scb-text-gray" [ngClass]="{'radio-selected': pass.checked}">Passport </div>
							</mat-radio-button>
						</mat-radio-group>
					</div>
					<mat-form-field class="scb-input-row" appearance="outline">
						<mat-label>Numéro de la pièce &nbsp;&nbsp;</mat-label>
						<input (input)="checkIdentityNumber($event)" formControlName="nIdentity" matInput [type]="cni.checked ? 'number' : 'text' " />
					</mat-form-field>
					<div class="error scb-text-red-error" *ngIf="isUserIDInvalid && cni.checked">
						Le champ numéro de CNI devra contenir au moins 13 caractères
					</div>
					<ion-datetime
						class="margin-b-20"
							placeholder="Date de délivrance"
							displayFormat="DD/MM/YYYY"
							doneText="Confirmer"
							cancelText="Annuler"
							formControlName="delivery_date"
							display-timezone="utc"
						></ion-datetime>
						<ion-datetime
						class="margin-b-20"
							placeholder="Date d'expiration"
							displayFormat="DD/MM/YYYY"
							doneText="Confirmer"
							cancelText="Annuler"
							formControlName="expiry_date"
							display-timezone="utc"
							[max]="maxYear"
						></ion-datetime>
						<label class="error scb-text-red-error"  *ngIf="(personalInfosForm?.get('expiry_date')?.dirty || personalInfosForm?.get('expiry_date')?.touched) && personalInfosForm?.errors?.dates">{{ personalInfosForm?.errors?.dates | json }} </label>
					<div class="photo-button" [ngClass]="{'field-filled': rectoFilled}" (click)="takePicture('recto')">
						<span class="pic-name scb-text-orange" [ngClass]="{'scb-text-green-success': rectoFilled}"
							>{{rectoFilled ? rectoFileName : 'Scanner recto pièce d’identité'}}</span
						>
						<ion-icon name="camera" class="scb-text-orange" *ngIf="!rectoFilled"></ion-icon>
						<ion-icon
							name="trash"
							class="delete-icon scb-text-green-success"
							*ngIf="rectoFilled"
							(click)="removePicture('recto')"
						>
						</ion-icon>
					</div>
					<div class="photo-button" [ngClass]="{'field-filled': versoFilled}" (click)="takePicture('verso')">
						<span class="pic-name scb-text-orange" [ngClass]="{'scb-text-green-success': versoFilled}"
							>{{versoFilled ? versoFileName : 'Scanner verso pièce d’identité'}}</span
						>
						<ion-icon name="camera" class="scb-text-orange" *ngIf="!versoFilled"></ion-icon>
						<ion-icon
							name="trash"
							class="delete-icon scb-text-green-success"
							*ngIf="versoFilled"
							(click)="removePicture('verso')"
						>
						</ion-icon>
					</div>
					<div class="photo-button" [ngClass]="{'field-filled': selfieFilled}" (click)="takePicture('selfie')">
						<span class="pic-name scb-text-orange" [ngClass]="{'scb-text-green-success': selfieFilled}"
							>{{selfieFilled ? selfieFileName : 'Prendre un selfie'}}</span
						>
						<ion-icon name="camera" class="scb-text-orange" *ngIf="!selfieFilled"></ion-icon>
						<ion-icon
							name="trash"
							class="delete-icon scb-text-green-success"
							*ngIf="selfieFilled"
							(click)="removePicture('selfie')"
						></ion-icon>
					</div>
				</div>
			</form>
			<div class="single-block">
				<div class="block-title">Confirmation</div>
				<div class="form-block">
					<div class="cgu-block">
						<mat-checkbox class="cgu-checkbox" [(ngModel)]="acceptCGU"> </mat-checkbox>
						<div class="scb-text-gray text" (click)="toggleAcceptCGU()">
							J’accepte les <span class="scb-text-orange cg">conditions générales</span> de déplafonnement de compte
							Orange Money.
						</div>
					</div>
					<div class="init-otp-error" *ngIf="hasErrorsubmit">{{ msgSubmitError  }}</div>
					<button
						[disabled]="generatingOtp || !omMsisdn || !personalInfosForm?.valid || !rectoFilled || !selfieFilled || !acceptCGU"
						class="scb-btn scb-btn-full scb-btn-orange"
						(click)="generateOtp()"
					>
						<span>Continuer</span>
						<mat-spinner mode="indeterminate" [diameter]="20" *ngIf="generatingOtp"></mat-spinner>
					</button>
				</div>
			</div>
		</div>
		<app-item-om-user-status-card-infos
			*ngIf="isElligibleToSuiviDeplafonnement(userOmStatus)"
			[userOmStatus]="userOmStatus"
			[typeDemande]="'DEPLAFONNEMENT'"
		>
		</app-item-om-user-status-card-infos>
		<div class="spinner-block" *ngIf="checkingStatus">
			<mat-spinner mode="indeterminate" [diameter]="40"></mat-spinner>
		</div>
		<div class="check-status-error scb-text-red-error" *ngIf="checkStatusError" (click)="checkStatus()">
			Erreur récupération statut. Réactualisez ici.
		</div>
	</div>
</ion-content>
