<div class="oem-bottomsheet-container">
  <div class="title">
    Choix du compteur
  </div>
  <div class="description">
    Renseignez le numéro du compteur
  </div>

  <div class="woyofal-number">
    <form novalidate autocomplete="false">
      <mat-form-field class="scb-input-row" appearance="outline">
        <mat-label>Numéro du compteur &nbsp;&nbsp;</mat-label>
        <input
          #numberInput
          matInput
          type="number"
          maxlength="20"
          (keyup)="onInputChange(numberInput.value)"
        />
      </mat-form-field>
    </form>
    <div class="card" (click)="onMyFavorites()" >
      <img class="icon" src="/assets/images/credit-card-front.png" alt="" />
      <span class="btn-card scb-text-orange"
        >Mes compteurs</span
      >
    </div>
  </div>

  <div class="recents" *ngIf="(woyofals$|async) as woyofals">
    <div class="description" *ngIf="woyofals.length">
      Récents
    </div>
    <div
      matRipple
      class="oem-item"
      (click)="onRecentWoyofalSelected(woyofal)"
      *ngFor="let woyofal of woyofals ; index as i; count as size"
    >
      <div class="logo">
        <img src="assets/images/woyofal@3x.png" />
      </div>
      <div class="labels" [ngClass]="i + 1 == size ? 'last-label' : ''">
        <span class="name"> {{ woyofal.name }}</span>
        <span class="number">{{ woyofal.counterNumber |codeFormat:2 }}</span>
      </div>
    </div>
  </div>

  <div class="btn-continue">
    <button mat-button [disabled]="isProcessing || !woyofalNumberIsValid" (click)="onContinue()">
      Continuer
    </button>
    <ion-spinner *ngIf="isProcessing" name="crescent"></ion-spinner>
  </div>
</div>
