<ion-header>
  <app-help-banner
  [text]="'Saisir le code client du numéro que vous voulez rattacher'"
  [helpType]="'rattachment-by-id'"
  ></app-help-banner>
</ion-header>
<ion-content class="phone-number-attachment-container">
    <div class="phone-number-attachment-container-body">
        <form novalidate autocomplete="false">
          <mat-form-field class="scb-input-row dest-number-input scb-required font-size-20" appearance="outline">
              <mat-label>Code client du numéro fixe &nbsp;&nbsp;</mat-label>
              <input
                  #idClient
                  matInput
                  type="text"
              />
          </mat-form-field>
      </form>
      <div class="text-infos scb-text-full-black">
        Comment retrouver son numéro client ?
      </div>
      <div class="img-illustrative">
          <img src="/assets/images/numero-client.png" alt="">
      </div>
      <div class="confirm-btn">
        <button [disabled]=" !idClient.value || isProcessing" (click)="saveRattachmentFixNumber(idClient.value)" class="scb-btn-full scb-btn-orange" mat-stroked-button>
          Confirmer
        </button>
        <mat-spinner mode="indeterminate" [diameter]="20" *ngIf="isProcessing"></mat-spinner>
      </div>
      </div>
</ion-content>
