@import 'src/app/app';

ion-content {
  background-color: $grayDashboard;
}

.init-header {
  .arrow-container {
    height: 40px;
    margin-bottom: 7px;
    img {
      position: fixed;
      top: 13px;
      left: 15px;
    }
  }
  .text-container {
    height: 40px;
    transition: linear 0.2s;
    font-family: HelveticaNeueLTStd-Bd, sans-serif;
    font-size: 24px;
    padding-left: 15px;
  }
}

.show-toolbar {
  .arrow-container {
    height: 40px;
  }
  .text-container {
    font-family: HelveticaNeueLTStd-Bd, sans-serif;
    font-size: 24px;
  }
  .banniere {
    // height: auto;
  }
}

.hide-toolbar {
  .arrow-container {
    height: 40px;
  }
  .text-container {
    font-size: 20px;
    min-height: 0px;
    height: 0px;
    opacity: 0px;
    padding: 0px;
    span {
      position: fixed;
      top: 10px;
      width: 100%;
      text-align: center;
    }
  }
  .banniere {
    // height: 0;
  }
}

.buy-pass-information {
  width: 100%;
  height: 100%;
  background-color: $grayDashboard;
  padding: 15px;
  :host {
    height: 100%;
  }
  .title {
    font-size: 20px;
    font-family: HelveticaNeueLTStd-Bd, sans-serif;
  }
  .card-container {
    margin: 15px 0;
  }
  .recipient-information {
    border-radius: 10px;
    width: 100%;
    padding: 15px 15px 20px;
    background-color: $white;
    .top-block {
      display: flex;
      justify-content: space-between;
      .title {
        font-family: HelveticaNeueLTStd-Bd;
        font-size: 20px;
        line-height: 1.5;
      }
      .recipient {
        display: flex;
        align-items: center;
        font-family: HelveticaNeueLTStd-Bd;
        font-size: 16px;
        line-height: 1.38;
      }
    }
    .bottom-block {
      font-family: HelveticaNeueLTStd-Roman;
      font-size: 12px;
      line-height: 1.33;
      text-align: right;
    }
  }
  button {
    width: calc(100% - 30px);
    height: 50px;
    font-size: 16px;
    position: absolute;
    left: 15px;
    bottom: 30px;
    border-radius: 10px;
    mat-spinner {
      position: absolute;
      top: 15px;
      right: 10px;
    }
    .mat-spinner::ng-deep circle {
      stroke: $white;
    }
  }
}
