<ion-header [myScrollVanish]="scrollArea">
  <div class="arrow-container">
    <img src="assets/images/long-arrow-left.png" alt="" (click)="goBack()" />
  </div>
  <div class="text-container">
    <ng-container [ngSwitch]="purchaseType">
      <span *ngSwitchCase="OPERATION_INTERNET_TYPE">Achat Pass Internet</span>
      <span *ngSwitchCase="OPERATION_ILLIMIX_TYPE">Achat Pass Illimix</span>
      <span *ngSwitchCase="OPERATION_TYPE_MERCHANT_PAYMENT"
        >Paiement Marchand</span
      >
      <span *ngSwitchCase="OPERATION_TRANSFER_OM_WITH_CODE"
        >Transfert d'argent</span
      >
      <span *ngSwitchCase="OPERATION_TRANSFER_OM">Transfert d'argent</span>
    </ng-container>
  </div>
  <div class="banner-container">
    <ng-container [ngSwitch]="purchaseType">
      <img
        *ngSwitchCase="OPERATION_INTERNET_TYPE"
        src="assets/images/pass-internet-banniere.png"
        alt="banniere"
        class="banniere"
      />
      <img
        *ngSwitchCase="OPERATION_ILLIMIX_TYPE"
        src="assets/images/banniere-illimix.png"
        alt="banniere"
        class="banniere"
      />
      <img
        *ngSwitchCase="OPERATION_TYPE_MERCHANT_PAYMENT"
        src="assets/images/banniere-payment.png"
        alt="banniere"
        class="banniere"
      />
      <img
        *ngSwitchCase="OPERATION_TRANSFER_OM"
        src="assets/images/achat-de-credit.png"
        alt="banniere"
        class="banniere"
      />
      <img
        *ngSwitchCase="OPERATION_TRANSFER_OM_WITH_CODE"
        src="assets/images/achat-de-credit.png"
        alt="banniere"
        class="banniere"
      />
    </ng-container>
  </div>
</ion-header>

<ion-content #scrollArea [scrollEvents]="true">
  <div class="recap-title">
    <span class="text-1">Récapitulatif</span>
    <ng-container [ngSwitch]="purchaseType">
      <span *ngSwitchCase="OPERATION_INTERNET_TYPE" class="text-2 scb-text-gray"
        >Vous allez recharger</span
      >
      <span *ngSwitchCase="OPERATION_ILLIMIX_TYPE" class="text-2 scb-text-gray"
        >Vous allez recharger</span
      >
      <span
        *ngSwitchCase="OPERATION_TYPE_MERCHANT_PAYMENT"
        class="text-2 scb-text-gray"
        >Vous allez transférer</span
      >
      <span
        *ngSwitchCase="OPERATION_TRANSFER_OM_WITH_CODE"
        class="text-2 scb-text-gray"
        >Vous allez transférer</span
      >
      <span *ngSwitchCase="OPERATION_TRANSFER_OM" class="text-2 scb-text-gray"
        >Vous allez transférer</span
      >
    </ng-container>
  </div>
  <div class="buy-pass-information">
    <ng-container [ngSwitch]="purchaseType">
      <div
        class="amount-to-transfer"
        *ngSwitchCase="OPERATION_TRANSFER_OM_WITH_CODE"
      >
        <span class="pass">Montant à transférer</span
        ><span class="modifier scb-text-orange">modifier</span>
      </div>
      <div class="amount-to-transfer" *ngSwitchCase="OPERATION_TRANSFER_OM">
        <span class="pass">Montant à transférer</span
        ><span class="modifier scb-text-orange">modifier</span>
      </div>
      <div class="amount-to-transfer" *ngSwitchCase="OPERATION_ILLIMIX_TYPE">
        <span class="pass">Pass sélectionné</span>
      </div>
      <div class="amount-to-transfer" *ngSwitchCase="OPERATION_INTERNET_TYPE">
        <span class="pass">Pass sélectionné</span>
      </div>
    </ng-container>
    <div class="card-container">
      <ng-container [ngSwitch]="purchaseType">
        <app-item-recharge-credit
          [amount]="amount"
          *ngSwitchCase="OPERATION_TYPE_MERCHANT_PAYMENT"
        >
        </app-item-recharge-credit>
        <app-item-recharge-credit
          [amount]="amount"
          *ngSwitchCase="OPERATION_TRANSFER_OM"
        ></app-item-recharge-credit>
        <app-item-recharge-credit
          [amount]="amount"
          *ngSwitchCase="OPERATION_TRANSFER_OM_WITH_CODE"
        >
        </app-item-recharge-credit>
        <app-item-pass-internet
          [passInternet]="passChoosen"
          *ngSwitchCase="OPERATION_INTERNET_TYPE"
        >
        </app-item-pass-internet>
        <app-item-pass-illimix
          [passIllimix]="passChoosen"
          *ngSwitchCase="OPERATION_ILLIMIX_TYPE"
        >
        </app-item-pass-illimix>
      </ng-container>
    </div>
    <div class="amount-to-transfer">
      <span class="pass">Bénéficiaire</span>
      <span
        class="modifier scb-text-orange"
        *ngIf="purchaseType !== OPERATION_ILLIMIX_TYPE && purchaseType !== OPERATION_INTERNET_TYPE"
        >modifier</span
      >
    </div>
    <div class="recipient-information">
      <div class="top-block">
        <span class="title"
          >{{purchaseType === OPERATION_TYPE_MERCHANT_PAYMENT ? merchantCode :
          recipientMsisdn | phoneNumberDisplay}}</span
        >
        <span class="recipient"
          >{{purchaseType === OPERATION_TYPE_MERCHANT_PAYMENT
          ?merchantName:recipientName}}</span
        >
      </div>
    </div>
    <button
      class="scb-btn scb-btn-orange"
      (click)="pay()"
      [disabled]="buyingPass"
    >
      <ng-container [ngSwitch]="purchaseType">
        <span class="text" *ngSwitchCase="OPERATION_ILLIMIX_TYPE"
          >Payer ({{!passChoosen?.passPromo ? passChoosen?.tarif :
          passChoosen?.passPromo?.tarif}} FCFA)</span
        >
        <span class="text" *ngSwitchCase="OPERATION_INTERNET_TYPE"
          >Payer ({{!passChoosen?.passPromo ? passChoosen?.tarif :
          passChoosen?.passPromo?.tarif}} FCFA)</span
        >
        <span class="text" *ngSwitchCase="OPERATION_TYPE_MERCHANT_PAYMENT"
          >Payer ({{amount}} FCFA)</span
        >
        <span class="text" *ngSwitchCase="OPERATION_TRANSFER_OM"
          >Transférer ({{amount}} FCFA)</span
        >
        <span class="text" *ngSwitchCase="OPERATION_TRANSFER_OM_WITH_CODE"
          >Transférer ({{amount}} FCFA)</span
        >
      </ng-container>
      <mat-spinner
        mode="indeterminate"
        [diameter]="20"
        *ngIf="buyingPass"
      ></mat-spinner>
    </button>
  </div>
</ion-content>
