<div class="list-preview-stories">
	<div (click)="presentModal()" class="preview-story">
		<div class="mask read">
			<img src="assets/images/onboarding4.png" alt="">
		</div>
		<div class="title">
			Promos
		</div>
	</div>
	<div (click)="presentModal()" class="preview-story">
		<div class="mask">
			<img src="assets/images/article-img.png" alt="">
		</div>
		<div class="title">
			Tutos
		</div>
	</div>
	<div class="preview-story">
		<div class="mask read">
			<img src="assets/images/04-boutons-01-illustrations-21-ibou-assistance.png" alt="">
		</div>
		<div class="title">
			Bons plans
		</div>
	</div>
	<div class="preview-story">
		<div class="mask">
			<img src="assets/images/04-boutons-01-illustrations-21-ibou-assistance.png" alt="">
		</div>
		<div class="title">
			Annonces
		</div>
	</div>
</div>