<ion-header>
  <div class="suivi_conso_label-and-arrow-block">
    <div class="arrow-left-container" routerLink="/dashboard">
      <img alt="arrow" src="/assets/images/arrow-left.svg" />
    </div>
  
    <div class="suivi_conso_label-container">
      <span>Suivi consommation</span>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="suivi_conso-page">
  
    <!-- loader -->
    <div class="profil-spinner" *ngIf="!currentProfil">
      <mat-spinner mode="indeterminate" [diameter]="60"></mat-spinner>
    </div>
  
    <div class="suivi-conso-page-body">
      <div class="tab-header">
        <ng-container *ngIf="currentProfil && currentProfil !== 'POSTPAID'">
          <div (click)="seeTab(0)" class="conso-tab-category tab-header-item" [ngClass]="{  'selected' :tabSelected === 0} ">
              <span class="scb-text-gray">Suivi conso </span>
              <div class="spinner" *ngIf="detailsLoading">
                  <mat-spinner mode="indeterminate" [diameter]="20"></mat-spinner>
              </div>
          </div>
          <div (click)="seeTab(1)" class="conso-tab-category tab-header-item" [ngClass]="{ 'selected': tabSelected === 1 } ">
              <span class="scb-text-gray">Historique communication</span>
              <div class="spinner" *ngIf="histLoading">
                  <mat-spinner mode="indeterminate" [diameter]="20"></mat-spinner>
              </div>
          </div>
          <div (click)="seeTab(2)" class="conso-tab-category tab-header-item" [ngClass]="{ 'selected': tabSelected === 2} ">
              <span class="scb-text-gray">Historique Souscriptions</span>
              <div class="spinner" *ngIf="histPurchaseLoading">
                  <mat-spinner mode="indeterminate" [diameter]="20"></mat-spinner>
              </div>
          </div>
        </ng-container>
        
        <ng-container *ngIf="currentProfil && currentProfil === 'POSTPAID'">
            <div class="conso-tab-category tab-header-item selected" >
                <span class="scb-text-gray">Historique communication</span>
                <div class="spinner" *ngIf="histLoading">
                    <mat-spinner mode="indeterminate" [diameter]="20"></mat-spinner>
                </div>
            </div>
        </ng-container>
      </div>
      <mat-tab-group #consoTab class="conso-page-tabs" >
        <ng-container *ngIf="currentProfil && currentProfil !== 'POSTPAID'">
          <mat-tab>
            <ng-container *ngIf="!detailsLoading">
              <app-suivi-conso [isLoading]="detailsLoading" (reloadConso)="getUserConsoInfos($event)" [consoDetails]="consoDetails"></app-suivi-conso>
          </ng-container>
          </mat-tab>
          <mat-tab>        
            <ng-container *ngIf="!histLoading">
              <app-historique-conso
                  [chargeTypes]="chargeTypes"
                  [dateFilterItems]="dateFilterItems"
                  [consoshistorique]="consoshistorique"
                  [error]="error"
                  [dataLoaded]="!histLoading"
                  [notdata]="notdata"
                  (getConsoByDay)="getConsoByDay($event)"
                  (selectedFilterButton)="selectedFilterButton($event)"
                  [chargeType]="chargeType"
                  [selectedDate]="selectedDate"
              >
              </app-historique-conso>
          </ng-container>
          </mat-tab>
          <mat-tab>
              <ng-container *ngIf="!histPurchaseLoading">
                  <app-historique-achat  [listTransactions]="listPurchaseForDayByType" [isLoading]="histPurchaseLoading" [hasError]="histPurchaseHasError" (getTransactionsByDay)="getTransactionsByDay($event)" (getTransactionsByFilter) ="getTransactionsByDay(purchaseDateFilterSelected,$event)"></app-historique-achat>
              </ng-container>
          </mat-tab>
        </ng-container>
        <ng-container *ngIf="currentProfil && currentProfil === 'POSTPAID'">
            <mat-tab>        
                <ng-container *ngIf="!histLoading">
                  <app-historique-conso
                      [chargeTypes]="chargeTypes"
                      [dateFilterItems]="dateFilterItems"
                      [consoshistorique]="consoshistorique"
                      [error]="error"
                      [dataLoaded]="!histLoading"
                      [notdata]="notdata"
                      (getConsoByDay)="getConsoByDay($event)"
                      (selectedFilterButton)="selectedFilterButton($event)"
                      [chargeType]="chargeType"
                      [selectedDate]="selectedDate"
                  >
                  </app-historique-conso>
              </ng-container>
              </mat-tab>
        </ng-container>
        </mat-tab-group>
  </div>
  </div>
</ion-content>
