<div class="suivi_conso-page">
  <div class="suivi_conso_label-and-arrow-block">
    <div class="arrow-left-container" routerLink="/dashboard">
      <img alt="arrow" src="/assets/images/arrow-left.svg" />
    </div>

    <div class="suivi_conso_label-container">
      <span>Suivi consommation</span>
    </div>
  </div>

  <!-- loader -->
  <div class="profil-spinner" *ngIf="!currentProfil">
    <mat-spinner mode="indeterminate" [diameter]="60"></mat-spinner>
  </div>

  <div class="suivi-conso-page-body">
    <mat-tab-group #consoTab class="pass-internet" mat-stretch-tabs>
        <mat-tab #conso *ngIf="currentProfil && currentProfil !== 'POSTPAID'">
          <ng-template mat-tab-label>
                <div class="conso-tab-category" [ngClass]="{  'selected' :conso.isActive} ">
                    <span class="scb-text-gray">Suivi conso</span>
                    <div class="spinner" *ngIf="detailsLoading">
                        <mat-spinner mode="indeterminate" [diameter]="20"></mat-spinner>
                    </div>
                </div>
          </ng-template>
          <ng-container>
            <app-suivi-conso [isLoading]="detailsLoading" (reloadConso)="getUserConsoInfos($event)" [consoDetails]="consoDetails"></app-suivi-conso>
        </ng-container>
        </mat-tab>
        <mat-tab #historik>
          <ng-template mat-tab-label>
                <div class="conso-tab-category" [ngClass]="{ 'selected': historik.isActive} ">
                    <span class="scb-text-gray">Historique</span>
                    <div class="spinner" *ngIf="histLoading">
                        <mat-spinner mode="indeterminate" [diameter]="20"></mat-spinner>
                    </div>
                </div>
          </ng-template>
          <ng-container>
            <app-historique-conso
                [chargeTypes]="chargeTypes"
                [dateFilterItems]="dateFilterItems"
                [consoshistorique]="consoshistorique"
                [error]="error"
                [dataLoaded]="!histLoading"
                [notdata]="notdata"
                (getConsoByDay)="getConsoByDay($event)"
                (selectedFilterButton)="selectedFilterButton($event)"
                [chargeType]="chargeType"
                [selectedDate]="selectedDate"
            >
            </app-historique-conso>
        </ng-container>
        </mat-tab>
        <mat-tab *ngIf="currentProfil && currentProfil === 'POSTPAID'">
          <ng-template mat-tab-label>
            <div class="details-historique-block-postpaid" >
                <div class="historique-onglet-postpaid">
                    <span (click)="historiqueSelected()">Historique</span>
                    <div class="spinner" *ngIf="histLoading">
                        <mat-spinner mode="indeterminate" [diameter]="20"></mat-spinner>
                    </div>
                </div>
            </div>
          </ng-template>
          <ng-container>
            <app-historique-conso
                [chargeTypes]="chargeTypes"
                [dateFilterItems]="dateFilterItems"
                [consoshistorique]="consoshistorique"
                [error]="error"
                [dataLoaded]="!histLoading"
                [notdata]="notdata"
                (getConsoByDay)="getConsoByDay($event)"
                (selectedFilterButton)="selectedFilterButton($event)"
                [chargeType]="chargeType"
                [selectedDate]="selectedDate"
            >
            </app-historique-conso>
        </ng-container>
        </mat-tab>
        <mat-tab #historikAchat>
            <ng-template mat-tab-label>
                    <div class="conso-tab-category" [ngClass]="{ 'selected': historikAchat.isActive} ">
                        <span class="scb-text-gray">Historique achats</span>
                        <div class="spinner" *ngIf="histLoading">
                            <mat-spinner mode="indeterminate" [diameter]="20"></mat-spinner>
                        </div>
                    </div>
            </ng-template>
            <ng-container>
                <app-historique-achat></app-historique-achat>
            </ng-container>
        </mat-tab>
      </mat-tab-group>
</div>
</div>
