<app-dashboard-header [firstName]="firstName"></app-dashboard-header>
<ion-content>
  <div class="dashboard-container-mobile">
    <div class="dashboard-block-conso">
      <div class="dashboard-block-conso-top-texts">
        <div><span class="suivi-conso">Suivi conso</span></div>
        <div
          (click)="goDetailsCom(0)"
          class="voir-details-text scb-text-orange"
        >
          Voir details
        </div>
      </div>
      <div class="dashboard-block-conso-btns">
        <ion-slides [options]="slideOpts">
          <ng-container *ngIf="isHyBride">
            <ion-slide>
              <div
                (click)="goDetailsCom()"
                class="scb-btn-blue scb-btn-balance"
              >
                <div class="scb-btn-top-block">
                  <img
                    class="scb-btn-top-block-icon"
                    src="/assets/images/orange-dialler-white.svg"
                    alt="curency-cfa-2-mob"
                  />
                  <div class="scb-btn-top-block-text">
                    <span class="text">Balance</span>
                  </div>
                </div>
                <div class="bottom-block">
                  <span class="value"
                    >{{ userCallConsoSummary?.balance }}
                    <span class="text-style-1"> FCFA </span></span
                  >
                </div>
                <div class="validity-text" *ngIf="balanceValidity">
                  valable jusqu'au {{ balanceValidity }}
                </div>
              </div>
            </ion-slide>
          </ng-container>
          <ion-slide>
            <div (click)="goDetailsCom()" class="scb-btn-green scb-btn-credit">
              <div class="scb-btn-top-block">
                <img
                  class="scb-btn-top-block-icon"
                  src="/assets/images/icon-call.svg"
                  alt="curency-cfa-3-mob"
                />
                <div class="scb-btn-top-block-text">
                  <span class="text">Crédit global</span>
                </div>
              </div>
              <div class="bottom-block">
                <span class="value"
                  >{{ userCallConsoSummary?.globalCredit }}
                  <span class="text-style-1"> FCFA </span></span
                >
              </div>
              <div class="validity-text" *ngIf="creditValidity">
                valable jusqu'au {{ creditValidity }}
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <app-om-button></app-om-button>
          </ion-slide>
          <ion-slide *ngIf="currentProfil && !isHyBride">
            <div
              class="scb-btn-black scb-btn-sargal"
              [ngClass]="{
              'btn-disabled': sargalUnavailable || userSargalData?.status === getSargalStatusUnsubscriptionOnGoing()
            }"
            >
              <div
                (click)="makeSargalAction()"
                [ngClass]="{
                'btn-no-action': sargalUnavailable || userSargalData?.status === getSargalStatusUnsubscriptionOnGoing()
              }"
                class="btn-container"
              >
                <div class="scb-btn-top-block">
                  <img
                    class="scb-btn-top-block-icon"
                    src="/assets/images/gift-sargal.svg"
                    alt="sargal-cfa-3-mob"
                  />
                  <div class="scb-btn-top-block-text">
                    <span class="text">Sargal</span>
                  </div>
                </div>
                <div *ngIf="!sargalDataLoaded" class="scb-block-spinner">
                  <mat-spinner
                    mode="indeterminate"
                    [diameter]="30"
                  ></mat-spinner>
                </div>
                <ng-container *ngIf="sargalDataLoaded">
                  <div class="bottom-block">
                    <span class="value" *ngIf="userSargalData?.totalPoints"
                      >{{ userSargalData.totalPoints | formatCurrency }}
                      <span class="text-style-1"> Pts </span></span
                    >
                    <span
                      *ngIf="userSargalData?.status === getSargalStatusNotSubscribed()"
                      class="show-solde-info-text"
                      >M'inscrire</span
                    >
                    <span
                      *ngIf="sargalUnavailable || userSargalData?.status === getSargalStatusUnsubscriptionOnGoing()"
                      class="show-solde-info-text"
                      >Service indisponible</span
                    >
                  </div>
                  <div
                    class="validity-text"
                    *ngIf="userSargalData?.totalPoints"
                  >
                    Mis à jour le {{ sargalLastUpdate }}
                  </div>
                </ng-container>
              </div>

              <div
                *ngIf="userSargalData?.status !== getSargalStatusNotSubscribed()"
                (click)="getSargalPoints()"
                class="scb-data-reload"
              >
                <img src="/assets/images/reload.png" alt="reload-icon" />
              </div>
            </div>
          </ion-slide>
        </ion-slides>
      </div>
      <div class="dashboard-block-conso-details">
        <div *ngIf="!dataLoaded" class="dashboard-block-spinner">
          <mat-spinner mode="indeterminate" [diameter]="60"></mat-spinner>
        </div>
        <div
          *ngIf="dataLoaded && error"
          (click)="getUserConsommations()"
          class="dashboard-block-conso-details-spinner"
        >
          <span class="scb-text-full-black">
            Erreur lors du chargement des données. Réactualiser
          </span>
        </div>
        <ng-container *ngIf="dataLoaded && !error">
          <ng-container *ngFor="let conso of userConsommationsCategories">
            <div class="dashboard-block-conso-details-item">
              <div class="conso-name-value-line">
                <span class="conso-name scb-text-gray"
                  >{{ conso.compteur }}</span
                >
                <span class="conso-value scb-text-full-black"
                  >{{ conso.montantFormat }}<span class="text-style-1"></span
                ></span>
              </div>
              <ng-container
                *ngIf="
                conso.code !== CODE_COMPTEUR_VOLUME_NUIT_1 &&
                  conso.code !== CODE_COMPTEUR_VOLUME_NUIT_2 &&
                  conso.code !== CODE_COMPTEUR_VOLUME_NUIT_3;
                else compteurNuit
              "
              >
                <div class="conso-expiration-line">
                  <span class="conso-expiration-date scb-text-light-black"
                    >Expire le {{ conso.dateExpiration }}</span
                  >
                </div>
              </ng-container>
              <ng-template #compteurNuit>
                <div class="conso-expiration-line">
                  <span class="conso-expiration-date scb-text-light-black"
                    >Utilisable de 00h à 08h</span
                  >
                </div>
              </ng-template>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="dashboard-block-offres">
      <div class="title">Je souhaite</div>
      <div class="dashboard-block-offres-top3">
        <div (click)="goToBuyPage()" class="dashboard-block-offres-top3-item">
          <div
            class="badge-promo"
            *ngIf="hasPromoBooster?.promoPass || hasPromoBooster?.promoRecharge || hasPromoPlanActive?.hasPassIllimix || hasPromoPlanActive?.hasPassInternet || hasPromoPlanActive?.hasRecharge"
          >
            <div class="icon-container">
              <span class="percent scb-text-white"> % </span>
            </div>
            <div class="triangle"></div>
          </div>
          <div class="item-icon">
            <img
              src="/assets/images/ic-package-services@2x.png"
              alt="credit-mob"
            />
          </div>
          <div class="item-text scb-text-black">
            <span class="recharger"
              >Acheter <br />
              <span class="text-style-1 scb-text-item-offre-black"
                >Crédit, pass</span
              >
            </span>
          </div>
        </div>
        <div
          (click)="goToTransfertsPage()"
          class="dashboard-block-offres-top3-item"
        >
          <div class="item-icon">
            <img
              src="/assets/images/ic-transfer-data.svg"
              alt="pass-internet-mob"
            />
          </div>
          <div class="item-text scb-text-black">
            <span
              >Transférer <br />
              <span class="text-style-1 scb-text-item-offre-black"
                >Argent, crédit</span
              >
            </span>
          </div>
        </div>
        <div (click)="onPayerFacture()" class="dashboard-block-offres-top3-item">
          <div class="item-icon">
            <img
              src="/assets/images/ic-orange-money.svg"
              alt="credit-mob.svg"
            />
          </div>
          <div class="item-text scb-text-black">
            <span
              >Payer <br />
              <span class="text-style-1 scb-text-item-offre-black"
                >Ma facture</span
              >
            </span>
          </div>
        </div>
      </div>
      <div class="dashboard-block-offres-top3">
        <div
          (click)="goMerchantPayment()"
          class="dashboard-block-offres-top3-item"
        >
          <div class="item-icon">
            <img src="/assets/images/ic-scan-ticket.svg" alt="group-56" />
          </div>
          <div class="item-text scb-text-black">
            <span class="transfert text"
              >Payer <br />
              <span class="text-style-1 scb-text-item-offre-black"
                >un marchand</span
              >
            </span>
          </div>
        </div>

        <div
          (click)="makeSargalAction()"
          class="dashboard-block-offres-top3-item"
        >
          <div class="item-icon">
            <img src="/assets/images/ic-reward.svg" alt="group-6" />
          </div>
          <div class="item-text scb-text-black">
            <span
              >Convertir <br />
              <span class="text-style-1 scb-text-item-offre-black">
                Points Sargal</span
              ></span
            >
          </div>
        </div>

        <div
          [ngClass]="{ 'disabled-block': !canDoSOS }"
          (click)="goToSOSPage()"
          class="dashboard-block-offres-top3-item"
        >
          <div class="item-icon">
            <img src="/assets/images/ic-emergency-sos@2x.png" alt="group-55" />
          </div>
          <div class="item-text scb-text-black">
            <span class="sos text"
              >Demander <br />
              <span class="text-style-1 scb-text-item-offre-black">un SOS</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="bons-plans" *ngIf="listBanniere && listBanniere.length">
      Bons Plans
    </div>
    <div
      *ngIf="showPromoBarner || (listBanniere.length && showPromoBarner)"
      class="dashboard-img-promo slide-container"
    >
      <ion-slides pager [options]="{loop: true}">
        <ng-container *ngFor="let banniere of listBanniere">
          <ion-slide>
            <span #error class="error-slide scb-text-full-black">
              Erreur lors du chargement de l'image</span
            >
            <div class="description" #description>
              <div class="title">
                {{getBanniereTitle(banniere.description)}}
              </div>
              <div class="text">
                {{getBanniereDescription(banniere.description)}}
              </div>
            </div>
            <div class="img-container" #imageContainer>
              <img
                #img
                (load)="onError([
                { el: error, display: false },
                { el: img, display: true },
                { el: description, display: true },
                { el: imageContainer, display: true }
              ])"
                (error)="
              onError([
                { el: error, display: true },
                { el: img, display: false },
                { el: description, display: false },
                { el: imageContainer, display: false }
              ])
            "
                [src]="banniere.image"
                alt="ban"
              />
            </div>
          </ion-slide>
        </ng-container>
      </ion-slides>
      <div class="close-icon" (click)="hidePromoBarner()" *ngIf="0">
        <img src="/assets/images/group-14.svg" alt="hide-banniere-promo" />
      </div>
    </div>
  </div>
</ion-content>
<div id="fab-background" *ngIf="fabOpened"></div>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="fabToggled()">
  <ion-fab-button>
    <img
      class="ibou-icon"
      src="/assets/images/avatar-ibou-update.svg"
      alt=""
      (tap)="fabToggled()"
    />
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button class="fab-item" (click)="openSocialNetworkModal()">
      <img src="/assets/images/share_fab_icon.svg" alt="" />
    </ion-fab-button>
    <ion-label (click)="openSocialNetworkModal()">
      Partager l’application
    </ion-label>

    <ion-fab-button class="fab-item" routerLink="/assistance">
      <img src="/assets/images/need_help_fab_icon.svg" alt="" />
    </ion-fab-button>
    <ion-label routerLink="/assistance"> Besoin d’aide ? </ion-label>

    <ion-fab-button class="fab-item" routerLink="/control-center">
      <img src="/assets/images/emergency_help_fab_icon.svg" alt="" />
    </ion-fab-button>
    <ion-label routerLink="/control-center" (click)="goAssistance()"
      >Assistance</ion-label
    >
  </ion-fab-list>
</ion-fab>
