@import 'src/app/app';

.dashboard-container-mobile {
  overflow-y: auto;
  background-color: $grayDashboard;
  min-height: 788px;
  position: relative;
  padding-bottom: 97px;

  .dashboard-block-offres {
    padding: 0 15px;
    .title {
      padding: 10px 0;
      font-family: HelveticaNeueLTStd-Bd, sans-serif;
      font-size: 24px;
    }
    &-top3 {
      min-height: 117px;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      &-item {
        width: percentage(105/345);
        background-color: $white;
        border-radius: 15px;
        position: relative;
        .badge-promo {
          position: absolute;
          top: 10px;
          right: -5px;
          width: 18%;
          min-width: 25px;
          .icon-container {
            font-family: HelveticaNeueLTStd-Roman, sans-serif;
            font-size: 10px;
            background-color: $lightBlue;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10%;
            width: 100%;
            border-radius: 5% 5% 0 5%;
            .percent{
              font-family: HelveticaNeueLTStd-Bd;
              font-size: 16px;
            }
          }
          .triangle {
            width: 0;
            height: 0;
            border-top: 5px solid $bluePopUp;
            border-right: 5px solid transparent;
            float: right;
          }
        }
        &.disabled-block {
          background-color: $grayDashboard;
          opacity: 0.4;
        }
        .item-text {
          // margin-left: (12px / 111px) * 100%;
          // margin-right: (12px / 111px) * 100%;
          font-family: HelveticaNeueLTStd-Bd, sans-serif;
          font-size: 16px;
          text-align: center;

          .text-style-1 {
            font-size: 14px;
            font-family: HelveticaNeueLTStd-Roman, sans-serif;
          }
          .badge-promo {
            width: 85%;
          }
        }

        .item-icon {
          width: percentage(47pommes / 105pommes);
          margin: 15px auto 5px;
          img {
            display: block;
            margin: 0 auto;
            width: 100%;
            height: auto;
          }
        }
      }
    }

    &-top2 {
      margin-top: 11px;
      min-height: 70px;
      border-radius: 3px;

      &-item {
        background-color: $white;
        display: flex;
        align-items: center;
        padding-right: percentage(6px / $baseWidthMobile2);

        &.disabled-block {
          background-color: $grayDashboard;
          opacity: 0.4;
        }
        .item-icon {
          width: percentage(60px / 172px);
          margin-left: 10px;
          img {
            display: block;
            margin: 0 auto;
            width: 100%;
            height: auto;
          }
        }

        .item-text {
          font-family: HelveticaNeueLTStd-Bd, sans-serif;
          font-size: 14px;
          line-height: 1.14;
          margin-left: 9px;
          flex: 1 1 auto;

          .text-style-1 {
            font-family: HelveticaNeueLTStd-Roman, sans-serif;
          }
        }

        .item-icon,
        .item-text {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

    &-top1 {
      display: flex;
      background-color: $white;
      align-items: center;
      width: (358px / $baseWidthMobile2) * 100%;
      height: 50px;
      border-radius: 3px;
      margin-top: 9px;
      margin-left: auto;
      margin-right: auto;

      .item-icon {
        display: inline-block;
        vertical-align: middle;
        margin: 12px percentage(11px / 358px);
      }

      .item-text {
        font-family: HelveticaNeueLTStd-Roman, sans-serif;
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;

        .text-style-1 {
          font-family: HelveticaNeueLTStd-Roman, sans-serif;
        }
      }
    }
  }

  .dashboard-block-conso {
    background-color: $white;
    margin: 10px 0;

    &-top-texts {
      display: flex;
      justify-content: space-between;
      padding: 20px percentage(15px / $baseWidthMobile2);
      .suivi-conso {
        font-size: 24px;
      }
      .voir-details-text {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-family: HelveticaNeueLTStd-Bd;
        font-size: 16px;
      }
    }

    &-btns {
      // height: 130px;
      // margin-top: -5px; // margin-top: 15px; // old value commented because of slides with native margin
      overflow-x: scroll;
      white-space: nowrap;
      display: flex;
      &::-webkit-scrollbar {
        display: none;
      }
      ion-slides {
        width: 100%;
        ion-slide {
          padding-left: 15px;
          display: flex;
          align-items: flex-start;
          // margin-top: 12px;
          // width: percentage(255/375) !important;
          // width: 66% !important;
          // min-width: 300px;
        }
      }
      app-om-button {
        // min-width: 63%;
        width: 100%;
        height: 110px;
        // margin-right: percentage(10px / 366px);
      }

      .scb-btn-balance,
      .scb-btn-credit,
      .scb-btn-sargal {
        text-align: left;
        // min-width: 63%;
        width: 100%;
        height: 110px;
        display: inline-block;
        padding: 12px 0 20px 15px;
        border-radius: 15px;
        // box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
        // margin-right: percentage(10px / 366px);
        .scb-btn-top-block {
          display: flex;
          align-items: center;
          &-icon {
            height: 24px;
            width: 24px;
            margin-right: 4px;
          }
          &-text {
            .text {
              font-family: HelveticaNeueLTStd-Roman, sans-serif;
              font-size: 18px;
            }
          }
        }

        .bottom-block {
          margin-top: 4px;
          .value {
            font-family: HelveticaNeueLTStd-Bd, sans-serif;
            font-size: 32px;

            .text-style-1 {
              // font-family: HelveticaNeueLTStd-Roman, sans-serif;
              font-size: 24px;
            }
          }
        }

        .validity-text {
          margin-top: 5px;
          font-family: HelveticaNeueLTStd-Roman;
          font-size: 9px;
        }

        .show-solde-info-text {
          font-family: HelveticaNeueLTStd-Bd, sans-serif;
          font-size: 16px;
          line-height: 1.14;
          display: inline-block;
          margin-top: 27px;
        }
      }

      .scb-btn-sargal {
        // background-image: url(/assets/images/background-sargal.svg);
        // background-size: cover;
        // position: relative;
        background-image: radial-gradient(
          circle at 77% 36%,
          #72e4ab,
          #3fad75 113%
        );
        .btn-container {
          width: 100%;
          background: transparent;
        }
        .scb-data-reload {
          position: absolute;
          right: 15px;
          top: 15px;
        }
        &.btn-disabled {
          background-color: $gray;
          .btn-no-action {
            pointer-events: none;
          }
        }
      }

      .scb-btn-balance {
      }

      .scb-btn-credit {
        background-image: radial-gradient(
          circle at 77% 36%,
          #b1a8f0,
          #4c77d7 113%
        );
      }
    }

    &-details {
      // margin: -15px 0 0 0;
      border-radius: 4px;
      padding: 25px percentage(15px / $baseWidthMobile2);

      &::-webkit-scrollbar {
        display: none;
      }

      .dashboard-block-spinner {
        display: flex;
        justify-content: center;
        padding-top: 10%;
      }

      .mat-spinner::ng-deep circle {
        stroke: $orange;
      }

      &-item {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 7px;
          padding-bottom: 5px;
          border-bottom: 1px solid $silver;
        }

        .conso-name-value-line {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .conso-name {
            font-family: HelveticaNeueLTStd-Roman, sans-serif;
            font-size: 18px;
          }

          .conso-value {
            font-family: HelveticaNeueLTStd-Roman, sans-serif;
            font-size: 18px;
          }
        }

        .conso-expiration-line {
          text-align: right;

          .conso-expiration-date {
            font-family: HelveticaNeueLTStd-Roman, sans-serif;
            font-size: 12px;
          }
        }
      }
    }
  }

  .bons-plans {
    font-family: HelveticaNeueLTStd-Bd, sans-serif;
    font-size: 24px;
    padding: 20px 0 10px 15px;
  }

  .dashboard-block-footer-container {
    position: fixed;
    right: 10px;
    bottom: 10px;
  }
}

ion-fab-button {
  margin-left: 140px;
  overflow: visible;
  position: relative;
}
ion-fab-list {
  ion-label {
    position: relative;
    top: 45px;
    right: 45px;
    color: white;
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
  }
}
ion-fab {
  ion-badge {
    position: relative;
    top: 10px;
    left: 140px;
  }
}

#fab-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
}

.fab-item {
  width: 50px;
  height: 50px;
}
