<div class="disable-dalal-modal">
  <div class="title">Désactiver Dalal</div>
  <div class="subtitle scb-text-gray">Êtes-vous sur de vouloir désactiver le Dalal ?</div>
  <app-dalal-card-item [dalal]="dalal" [disable]="true"></app-dalal-card-item>
  <div class="error-block scb-text-red-error" *ngIf="hasError">{{error}}</div>
  <div class="buttons-block">
    <button class="scb-btn scb-btn-orange scb-btn-full" [disabled]="loading" (click)="disableDalal()">
      <span>Oui, continuer</span>
      <mat-spinner
          mode="indeterminate"
          [diameter]="20"
          *ngIf="loading"
        ></mat-spinner>
    </button>
    <button class="scb-btn scb-btn-white scb-btn-full" (click)="close()">Non, Annuler</button>
  </div>
</div>