@import 'src/app/app';

.question-item {
  width: 100%;
  background-color: $white;
  padding: 20px percentage(15/345);
  border-radius: 5px;
  margin-bottom: 15px;
  .top-block {
    display: flex;
    justify-content: space-between;
    span {
      font-family: HelveticaNeueLTStd-Bd;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.25;
      width: 80%;
    }
    // img {
    //   width: 15px;
    //   height: auto;
    // }
  }
  .bottom-block {
    font-family: HelveticaNeueLTStd-Roman;
    font-size: 12px;
    line-height: 1.33;
    width: 80%;
    padding-top: 15px;
  }
}
