
 <ion-header>   
    <ion-toolbar>
        <ion-buttons class="ion-padding-start" slot="start">
            <img src="/assets/images/arrow-left.png" alt="icon" class="arrow-left" />
        </ion-buttons>
      <ion-title class="ion-no-padding">
        <span class="title1">
            Transfert d’argent
        </span>
       </ion-title>
    </ion-toolbar>
  </ion-header>
   <ion-content fullscreen="true">
        <ion-header class="ion-padding-start" collapse="condense">
            <ion-toolbar>
              <span class="title">
                  Transfert d’argent
              </span>
            </ion-toolbar>
          </ion-header>
          <div class="transferts-page">
              <div class="transferts-page-header-img">
                <img src="/assets/images/achat-de-credit.png" alt="">
              </div>
              <div class="transferts-page-title">
                <span class="text">Récapitulatif</span>
                <span class="subtitle">Vous allez transférer</span>
              </div>
              <div class="transferts-page-content">
                <div class="transferts-amount-summary">
                 <div class="amount">
                  <span class="value"> {{ transfertOMAmount }} </span>
                 </div>
                  <span class="update">Modifier</span>
                </div>
                <div class="transferts-beneficiary-info">
                  <div class="infos-block">
                    <span class="label">
                        Bénéficiaire
                    </span>
                    <div class="infos">
                      <span class="number">77 540 34 65</span>
                      <span class="other-infos">Vieux Mamadou Kassé</span>
                    </div>
                  </div>
                  <span class="update">
                      Modifier
                  </span>
                </div>
              </div>
              <div class="confirm-btn">
                  <ion-button shape="round" expand="block" >Continuer</ion-button>
              </div>
            </div>
    </ion-content>