@import 'src/app/app';
.transfer-mobile-page {
  height: 100%;

  .transfer-operations {
    height: 100%;
    padding: 0 10px;
    padding-top: 50px;
    background-color: #eeeeee;
    .transfer-title {
      height: 123px;
      text-align: center;
      padding: 40px percentage(70/375) 0 percentage(70/375);
      .title-text {
        font-family: HelveticaNeueLTStd-Roman, sans-serif;
        font-size: 18px;
      }
    }
    .seddo-credit {
      display: flex;
      justify-content: space-between;
      .img-container {
        width: percentage(110/168);
        margin: 0 auto;
        text-align: center;
        padding-top: 15px;
        img {
          width: 100%;
        }
      }
      .text-container {
        text-align: center;
        padding: 0 percentage(34px/168px);
        span {
          font-family: HelveticaNeueLTStd-Roman, sans-serif;
          font-size: 16px;
        }
        .text-bold {
          font-family: HelveticaNeueLTStd-Bd, sans-serif;
        }
      }
      &-recharge {
        background-color: #ffffff;
        width: percentage(168px/356px);
        padding-bottom: 10px;
      }
      &-bonus {
        width: percentage(168px/356px);
        background-color: #ffffff;
        padding-bottom: 10px;
      }
    }
    .seddo-pass {
      display: flex;
      margin-top: 20px;
      background-color: #ffffff;
      padding: 7px 0 13px percentage(46px/355px);
      .text-container {
        text-align: center;
        padding-left: percentage(7px/355px);
        padding-top: 32px;
        span {
          font-family: HelveticaNeueLTStd-Roman, sans-serif;
          font-size: 16px;
        }
        .text-bold {
          font-family: HelveticaNeueLTStd-Bd, sans-serif;
        }
      }
    }
  }
  .disabled-block {
    background-color: $grayDashboard;
    opacity: 0.4;
  }
}
