<div class="transfer-mobile-page">
  <!-- Transfer Types -->
  <div class="transfer-operations">
    <div class="transfer-title">
      <span class="title-text"
        >Quel service de transfert Seddo souhaitez vous utiliser?</span
      >
    </div>
    <div class="seddo-credit">
      <div
        class="seddo-credit-recharge"
        (click)="goNextStep(OPERATION_TYPE_SEDDO_CREDIT)"
        [ngClass]="{ 'disabled-block': canDoSOS }"
      >
        <div class="img-container">
          <img alt="" src="/assets/images/transfert-de-credit.svg" />
        </div>
        <div class="text-container">
          <span>Seddo credit </span> <span class="text-bold">recharge</span>
        </div>
      </div>
      <div
        class="seddo-credit-bonus"
        (click)="goNextStep(OPERATION_TYPE_SEDDO_BONUS)"
        [ngClass]="{ 'disabled-block': !canTransferBonus }"
      >
        <div class="img-container">
          <img alt="" src="/assets/images/seddo-recharge.png" />
        </div>
        <div class="text-container">
          <span>Seddo credit </span> <span class="text-bold">bonus</span>
        </div>
      </div>
    </div>
    <div
      *ngIf="0"
      class="seddo-pass"
      (click)="goNextStep(OPERATION_TYPE_SEDDO_PASS)"
    >
      <div class="img-container">
        <img alt="" src="/assets/images/seddo-pass.png" />
      </div>
      <div class="text-container">
        <span>Seddo </span> <span class="text-bold">Pass Internet</span>
      </div>
    </div>
  </div>
</div>
