<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button mode="md" defaultHref="/" class="oem-back-button">
        <img src="/assets/images/arrow-left.png" alt="icon" />
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      <span class="title1">
        {{ pageInfos?.title }}
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header class="ion-padding-start" collapse="condense">
    <ion-toolbar>
      <span class="title">
        {{ pageInfos?.title }}
      </span>
    </ion-toolbar>
  </ion-header>

  <div class="content-page">
    <div class="header-image">
      <img-loader class="icone" [src]="pageInfos?.banniere"
        fallbackUrl="/assets/images/pass-internet-page-header.svg" useImg></img-loader>
					<div class="select-ligne-block" (click)="openLinesModal()" >
						<span class="ligne-title scb-text-gray">Choisir la ligne</span>
						<span class="choosen-ligne">{{phone|phoneNumberDisplay}}</span>
						<ion-icon name="chevron-down-outline" class="ligne-icon"></ion-icon>
					</div>
    </div>
		<div class="body">
			<div class="list-offer">
				<app-offre-service-card-v2 *ngFor="let offer of listOffres" [phone]="phone" [currentPhoneOffer]="currentPhoneOffer"  [service]="offer" [style]="'v2'" ></app-offre-service-card-v2>
				<ion-spinner class="spinner" *ngIf="loadingServices" name="crescent"></ion-spinner>
				<span class="error-msg" *ngIf="errorMsg && !loadingServices">
					{{errorMsg}}
				</span>
			</div>

			<div *ngIf="phone" class="conso-fixe">
				<div class="title">
					Suivi Conso
				</div>
				<app-suivi-conso-ligne #suiviConsoFixe [hideCategoryTitle]="true"  [ligneNumber]="phone" ></app-suivi-conso-ligne>
			</div>
		</div>
  </div>
</ion-content>