<div class="container">
	<swiper [config]="config" [slidesPerView]="1" (swiper)="setSwiperInstance($event)" #slide (slideChange)="slideChange()"  >
		<ng-template *ngFor="let item of allStories; let id = index" swiperSlide>
			<app-visualize-stories [isVisibleForHigherView]="allStories[currentSlideIndex].categorie.id === item?.categorie?.id"
				[storyByCategory]="item" (action)="goNext($event)" [view]="'ALL_CATEGORIES'" (leaveStories)="close()">
			</app-visualize-stories>
		</ng-template>
	</swiper>
</div>