<div class="story-container">
<ion-spinner class="spinner" *ngIf="isLoading" name="crescent"></ion-spinner>

	<ng-container *ngIf="isCurrentStory">
		<ng-container *ngIf="story?.type !== 'VIDEO'">
			<img *ngIf="isWeb" [src]="story?.storyContent | displayFileManagerImage" alt="" (load)="imageLoaded($event)">
			<img-loader *ngIf="!isWeb" [src]="story?.storyContent | displayFileManagerImage" (load)="imageLoaded($event)" [imgAttributes]="imageAttributes" useImg ></img-loader>

			<audio #audioOrVideo *ngIf="story?.audio" class="hide" preload="metadata" (loadedmetadata)="getInfoMetaData($event)" (canplay)="canPlay($event)" autoplay>
				<source [src]="story?.audio | displayFileManagerImage" type="audio/mp3" />
				Your browser does not support the audio tag.
			</audio>
			<div *ngIf="story?.action" class="story-content" (click)="makeAction($event)" >
				<ion-button class="btn" color="primary-contrast" expand="block" fill="outline"> {{ story?.action?.label }} </ion-button>
			</div>

		</ng-container>
	</ng-container>

</div>