<div class="story-container" *ngIf="isCurrentStory">
	<ion-spinner class="spinner" *ngIf="isLoading" name="crescent"></ion-spinner>

	<ng-container *ngIf="story?.type !== 'VIDEO'">
		<img [src]="story?.storyContent | displayFileManagerImage" alt="" (load)="imageLoaded($event)">
		<audio #audioOrVideo *ngIf="story?.audio" class="hide" preload="metadata" (loadedmetadata)="getInfoMetaData($event)" (canplay)="canPlay($event)">
			<source [src]="story?.audio | displayFileManagerImage" type="audio/mp3" />
			Your browser does not support the audio tag.
		</audio>
		<div *ngIf="story?.action" class="story-content" (click)="makeAction($event)" >
			<ion-button class="btn" color="primary-contrast" expand="block" fill="outline"> {{ story?.action?.label }} </ion-button>
		</div>

	</ng-container>

</div>