<div class="banner" (click)="onBannerClicked()">
  <div class="triangle" [hidden]="!autre"></div>
  <div class="image">
    <img [src]="imageUrl"  alt=" " width="315" height="115" (error)="onErrorImg()">
  </div>
  <div class="banner-overlay">
    <div class="banner-left">
        <div class="title" *ngIf="title">{{ title }}</div>
        <div class="details" *ngIf="details">{{ details }}</div>
    </div>
    <div class="band" [hidden]="!autre">
      <div class="text">
        {{ autre }}
      </div>
    </div>
  </div>
</div>
