<div class="banner" (click)="onBannerClicked()">
  <div class="triangle" [hidden]="!autre"></div>
  <img [src]="FILE_BASE_URL+'/'+banniere.image" alt=""  class="image">
  <div class="banner-overlay">
    <div class="banner-left">
      <div class="banner-container">
        <div class="title">{{ title }}</div>
        <div class="details">{{ details }}</div>
      </div>
    </div>
    <div class="band" [hidden]="!autre">
      <div class="text">
        {{ autre }}
      </div>
    </div>
  </div>
</div>
