<div class="recharge-card-page">
  <app-help-banner [text]="'Je veux retrouver le numéro de ma carte recharge'" [helpType]="'carte'"></app-help-banner>
  <form [formGroup]="form" novalidate autocomplete="false" (submit)="getCodeCarte()">
    <mat-form-field class="scb-input-row scb-required">
      <input formControlName="numSerie" matInput placeholder="Entrez le numéro de série de la carte" type="number" />
      <mat-icon class="c-pointer help-icon" matSuffix (click)="getMoreInfos('numero')">help</mat-icon>
    </mat-form-field>
    <div class="error-block" *ngIf="errorNumSerie !== ''">
      <span class="scb-text-red-error">{{ errorNumSerie }}</span>
    </div>
    <mat-form-field class="scb-input-row scb-required">
      <input
        formControlName="fiveConsecutiveNumbers"
        matInput
        placeholder="Entrez 5 chiffres consécutifs visibles"
        type="number"
      />
      <mat-icon class="c-pointer help-icon" matSuffix (click)="getMoreInfos('consecutive')">help</mat-icon>
    </mat-form-field>
    <div class="error-block" *ngIf="errorFiveConsecutiveNumbers !== ''">
      <span class="scb-text-red-error">{{ errorFiveConsecutiveNumbers }}</span>
    </div>
    <button
      type="submit"
      class="scb-btn scb-btn-orange scb-btn-full"
      mat-stroked-button
      [disabled]="!form.valid || loading"
    >
      Confirmer
      <mat-spinner mode="indeterminate" [diameter]="20" *ngIf="loading"></mat-spinner>
    </button>
  </form>
</div>
