<ion-header [oemIonHeaderParallax]="90">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/dashboard" class="oem-back-button">
        <img src="/assets/images/arrow-left.png" alt="icon" />
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{ header.title }}</ion-title>
  </ion-toolbar>
  <div class="top">
    <div class="banner-image">
      <div class="banner-background">
        <div class="banner-container">
          <div class="number">{{phoneFix|phoneNumberDisplay}}</div>
          <div *ngIf="phoneFix" class="change" (click)="openLinesModal()" matRipple>Changer</div>
        </div>
      </div>
    </div>

    <div *ngIf="isInitRequests" class="spinner-wrapper">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>
</ion-header>
<ion-content
  no-bounce
  has-bouncing="false"
  forceOverscroll="false"
  fullscreen="true"
  mode="ios"
  [scrollEvents]="true"
>
  <div class="content">
    <div class="requests" *ngIf="phoneFix">
      <!-- <div class="head">
        Mes réclamations
      </div> -->
      <div class="requests" *ngIf="requests$ | async as requests">
        <div class="none" *ngIf="!requests.length">Aucune réclamation pour ce numéro</div>
          <ng-container *ngIf="requests.length">
            <div class="title">
              Statut Actuel
            </div>
            <oem-request-card
              [request]="listRequestWithStatus?.current"
              (click)="onRequestChoosen(listRequestWithStatus?.current)"
              [fullDescription]="true"
            ></oem-request-card>
            <ng-container *ngIf="listRequestWithStatus?.next?.length">
              <div class="title">
                Prochaines étapes
              </div>
              <oem-request-card
                  *ngFor="let req of listRequestWithStatus?.next"
                [request]="req"
                (click)="onRequestChoosen(req)"
              ></oem-request-card>
            </ng-container>
            <ng-container *ngIf="listRequestWithStatus?.previous?.length">
              <div class="title">
                Anciennes étapes
              </div>
              <oem-request-card
              *ngFor="let req of listRequestWithStatus?.previous"
              [request]="req"
            (click)="onRequestChoosen(req)"
            
          ></oem-request-card>
            </ng-container>
          </ng-container>
      </div>
    </div>
    <div class="requests" *ngIf="!phoneFix && !isInitRequests">
      <span class="text">
        Aucune demande ou réclamation associée à ce numéro
      </span>
    </div>
    <div class="autre">
      <div class="head">
        Autres demandes ou réclamations
      </div>
      <div class="fieldArea">
        <form novalidate autocomplete="false">
          <mat-form-field class="scb-input-row" appearance="outline">
            <mat-label>Saisir numéro de suivi &nbsp;&nbsp;</mat-label>
            <input #numberInput matInput type="text" maxlength="20" />
          </mat-form-field>
        </form>
        <div
          class="confirmer"
          matRipple
          (click)="onConfirmer()"
          *ngIf="!isConfirm"
        >
          <span class="btn-confirmer">Confirmer</span>
        </div>
        <div class="is-confirmer" *ngIf="isConfirm">
          <mat-spinner mode="indeterminate" [diameter]="20"></mat-spinner>
        </div>
        
      </div>
      <div *ngIf="noRequest" class="error-msg scb-text-red-error">
        Aucune demande ou incident ne correspond au numéro renseigné!
      </div>
      <div *ngIf="isNotValid" class="error-msg scb-text-red-error">
        Veuillez saisir un numéro correct
      </div>
    </div>
  </div>
</ion-content>
