<ion-header>
	<ion-toolbar>
		<ion-buttons (click)="goBack()" class="ion-padding-start" slot="start">
			<img src="/assets/images/arrow-left.png" alt="icon" class="arrow-left" />
		</ion-buttons>
		<ion-title class="ion-no-padding">
			<span class="title1">Débloquer mon compte	OM</span>
		</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-header class="ion-padding-start" collapse="condense">
		<ion-toolbar>
			<span class="title">
				Débloquer mon compte	Orange Money
			</span>
		</ion-toolbar>
	</ion-header>


	<div class="page-container">
		<div class="content">
			<span (click)="presentModal('CONDITIONS')" class="conditions scb-text-orange">
				Lire les conditions de déblocage.
			</span>
			<div class="header">
				Pour vous authentifier, veuillez nous indiquer votre nom, prénom, date de naissance et numéro de pièce d’identité.
			</div>

			<div class="om-choice-liste">
				<div *ngFor="let item of listItem" (click)="presentModal(item.code)" class="item-choice">
					<span class="label">
						{{ item.label }}
					</span>
					<span class="value">
						<span class="value-content">
							{{ item?.value ? item?.value : 'Choisir' }}
						</span>
						<div class="icon">
							<img src="assets/images/arrow-down.svg" alt="">
						</div>
					</span>
				</div>
			</div>
			<div class="btn-continue">
				<ion-button expand="block" (click)="process()" [disabled]="isLoading || isformInvalid">
					Continuer
				</ion-button>
				<ion-spinner *ngIf="isLoading"
					name="crescent"
				></ion-spinner>
			</div>
		</div>
	</div>
</ion-content>