<div class="set-merchant-code-page">
  <div class="text-block">
    <span class="title">Paiement marchand</span>
    <span class="sub-title scb-text-gray">Renseigner le code marchand</span>
  </div>
  <form
    action=""
    [formGroup]="merchantCodeForm"
    class="form"
    (submit)="checkMerchant()"
  >
    <mat-form-field class="scb-input-row" appearance="outline">
      <mat-label>Code marchand &nbsp;&nbsp;</mat-label>
      <input
        (input)="numberOnly($event)"
        formControlName="merchantCode"
        matInput
        type="number"
      />
      <span matSuffix class="scb-text-orange suffix" (click)="onMyFavorites()"
        >Mes marchands</span
      >
    </mat-form-field>
    <div *ngIf="hasErrorOnCheckMerchant" class="error scb-text-red-error">
      {{ errorMsg }}
    </div>
    <div class="loading-container" *ngIf="loadingRecents">
      <mat-spinner mode="indeterminate" [diameter]="30"></mat-spinner>
    </div>
    <div class="recents" *ngIf="recentMerchants$ | async as recentMerchants">
      <div class="description" *ngIf="recentMerchants.length">
        Récents
      </div>
      <div
        matRipple
        class="oem-item"
        [id]="'merchant_item_'+i"
        (click)="onRecentMerchantSelected(merchant)"
        *ngFor="let merchant of recentMerchants; let i = index"
      >
        <div class="logo scb-text-white">
          {{ merchant.name | acronym }}
        </div>
        <div class="labels">
          <span class="name"> {{ merchant.name }}</span>
          <span class="number scb-text-gray">{{ merchant.merchantCode }}</span>
        </div>
      </div>
    </div>
    <button
      class="scb-btn scb-btn-orange scb-btn-full"
      [disabled]="chekingMerchant || !merchantCodeForm.valid"
      id="btn-validate-merchant-code"
      type="submit"
    >
      <span>Continuer</span>
      <mat-spinner
        mode="indeterminate"
        [diameter]="20"
        *ngIf="chekingMerchant"
      ></mat-spinner>
    </button>
  </form>
</div>
