<ng-container>
  <div class="dashboard-block-conso-home">
    <div class="dashboard-block-conso-home-top-texts">
      <div><span class="suivi-conso">Suivi conso</span></div>
      <div (click)="goDetailsCom()">
        <span class="voir-details scb-text-orange">Voir details </span>
        <img src="/content/images/arrow-right.svg" alt="keyboard-arrow-right-orange-mob" />
      </div>
    </div>
    <div class="dashboard-block-conso-home-btns">
      <div (click)="goDetailsCom()" class="scb-btn-green scb-btn-forfait">
        <div class="scb-btn-top-block">
          <img class="scb-btn-top-block-icon" src="/content/images/orange-dialler-white.svg" alt="curency-cfa-3-mob" />
          <div class="scb-btn-top-block-text">
            <span class="text">Crédit mensuel</span>
          </div>
        </div>
        <div class="bottom-block">
          <span class="value">{{creditMensuelle | formatCurrency}} <span class="text-style-1"> FCFA </span></span>
        </div>
      </div>
    </div>

  </div>

  <div class="dashboard-block-bill">
      <div class="last-bill">
      <div class="last-bill-title">
        <div class="scb-text-l-black">Ma dernière facture</div>
        <div class="more-bills">
          <span class="scb-text-orange" routerLink="/bills">Voir tout </span>
          <img src="/content/images/arrow-right.svg" alt="keyboard-arrow-right-orange-mob" />
        </div>
      </div>
      <div class="last-bill-infos">
        <div class="last-bill-infos-utils">
          <div class="bill-img-container">
            <img alt="derniere-facture" src="/content/images/new_derniere-facture.svg" />
          </div>
          <div class="bill-infos-container">
            <div class="top-infos">
              <span>{{ months[lastSlip?.moisfact - 1] }} {{ lastSlip?.annefact }}</span>
              <span [ngClass]="{
                                  'paid-status': lastSlip?.statutFacture === 'PAYEE',
                                  'unpaid-status': lastSlip?.statutFacture !== 'PAYEE'
                              }"></span>
            </div>
            <div class="bottom-infos">
              <span class="scb-text-item-offre-black emiss-text">N° {{lastSlip?.ncli}}</span>
              <span class="price">{{ lastSlip?.total }} F</span>
            </div>
          </div>
        </div>
        <div class="last-bill-infos-dates">
          <div class="emission-date">
            <span class="scb-text-item-offre-black emiss-text"></span>
          </div>
          <div class="echeance-date" #detail>
            <span class="scb-text-item-offre-black emiss-text"> Echéance
              {{ lastSlip?.dateEchenace | formatBillDate }}</span>
            <img alt="" src="/content/images/keyboard-arrow-up-black.svg" *ngIf="detail.show"
              (click)="detail.show = !detail.show" />
            <img alt="" src="/content/images/arrow-down.svg" *ngIf="!detail.show"
              (click)="detail.show = !detail.show" />
          </div>
        </div>
        <div class="more-infos" *ngIf="detail.show">
          <div class="more-infos-item-block" (click)="0">
            <img alt="" src="/content/images/pdf-file-2.svg" class="img-icon" /><span
              class="scb-text-orange">Télécharger en PDF</span>
            <mat-spinner mode="indeterminate" *ngIf="lastSlip?.downloading" [diameter]="17"></mat-spinner>
          </div>
          <div (click)="0" class="more-infos-item-block" *ngIf="0">
            <img alt="" src="/content/images/pdf-file-copy-4.svg" class="img-icon" /><span
              class="scb-text-orange">Demande d'assistance</span>
          </div>
          <div *ngIf="0" class="more-infos-item-block">
            <img alt="" src="/content/images/pdf-file-copy-5.svg" class="img-icon" /><span class="scb-text-orange">Payer
              par Orange Money</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="error" class="error">
      <div class="error-message">
        <span>{{ message }}</span>
      </div>
    </div>
  </div>
</ng-container>