<ion-header [oemIonHeaderParallax]="90">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button mode="md" defaultHref="/dashboard" class="oem-back-button">
        <img src="/assets/images/arrow-left.png" alt="icon" />
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{title}} {{requestService.currentRequestStatusId}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content
  no-bounce
  has-bouncing="false"
  forceOverscroll="false"
  fullscreen="true"
  mode="ios"
  [scrollEvents]="true"
>
  <div class="content">
    <div class="requests">
      <div class="requests" >
        <div class="title">
          Statut Actuel
        </div>
        <oem-request-card
          [request]="listRequestWithStatus?.current"
          [fullDescription]="true"
        ></oem-request-card>
        <ng-container *ngIf="listRequestWithStatus?.next?.length">
          <div class="title">
            Prochaines étapes
          </div>
          <oem-request-card
              *ngFor="let req of listRequestWithStatus?.next"
            [request]="req"
            [fullDescription]="true"
          ></oem-request-card>
        </ng-container>
        <ng-container *ngIf="listRequestWithStatus?.previous?.length">
          <div class="title">
            Anciennes étapes
          </div>
          <oem-request-card
              *ngFor="let req of listRequestWithStatus?.previous"
            [request]="req"
            [fullDescription]="true"
          ></oem-request-card>
        </ng-container>
      </div>
    </div>

  </div>
</ion-content>
