@import "src/app/app";
@import "src/app/styles/bottomsheet.style";

.item{
  border: 1px solid $silver;
  border-radius: 10px;
  &.disable {
    pointer-events: none;
  }
}

ion-item {
  ion-thumbnail {
    width: 20px;
    height: 30px;
  }
  ion-label {
    ion-text {
      font-family: HelveticaNeueLTStd-Bd;
      font-size: 14px;
    }
    p {
      font-family: HelveticaNeueLTStd-Roman;
      font-size: 12px;
      color: $lightBlack;
    }
  }
  .icon {
    display: flex;
    align-items: center;
    height: 30px;
    img {
      height: 60%;
    }
  }
}
.btn-continue {
    position: absolute;
    bottom: 15px;
    height: 50px;
    width: 90%;
    ion-button {
        height: 100%;
        width: 100%;
        --background-activated: orange;
        --color-activated: white;
        --color: black;
        --border-radius: 10px;
        --border-color: black
    }
    ion-spinner {
      position: absolute;
      top: 10px;
      right: 20px;
    }
  }