<div class="rattach-by-id-card oem-bottomsheet-container">
  <div class="title">
    Rattacher une ligne
  </div>
  <div class="description">
    Sélectionner un numéro dans la liste de vos numéros identifiés
  </div>
  <div class="id-card-input">
    <ng-container *ngIf="!isLoading">
      <ng-container *ngIf="!hasError">
        <ion-list mode="ios" *ngIf="listIdentifiedNumeros.length">
          <ng-container *ngFor="let ligne of listIdentifiedNumeros;index as i">
            <ion-item class="ion-text-wrap" [ngClass]="{ 'disable': isAlreadyRattached(ligne) } " (click)="dismissModal(ligne)" lines="none" slot="start">
              <ion-text color="primary">
                <h5>{{ ligne }}</h5>
              </ion-text>
              <ion-text slot="end">
                <p>{{ isAlreadyRattached(ligne) ? 'Déja rattaché' : '' }}</p>
              </ion-text>
              <div class="icon" *ngIf="!isAlreadyRattached(ligne)" slot="end">
                <img src="/assets/images/arrow-right.svg" alt="arrow-right" class="arrow-right" />
              </div>
            </ion-item>
          </ng-container>
        </ion-list>
        <span *ngIf="!listIdentifiedNumeros.length">
          Aucun autre numéro identifié trouvé
        </span>
      </ng-container>
      <ng-container *ngIf="hasError">
        <span (click)="fetchIdentifiedNumbersList()">
          Une erreur est survenue. Cliquer pour réessayer. 
        </span>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="isLoading">
      <ion-spinner name="crescent"></ion-spinner>
    </ng-container>
  </div>

  <div class="btn-continue">
    <ion-button expand="block" fill="outline" (click)="dismissModal()">
      Entrer un autre numéro
    </ion-button>
  </div>

  
</div>
