@import "src/app/app";
@import "src/app/styles/bottomsheet.style";
.rattach-by-id-card {
  padding-bottom: 80px;
}

ion-item {
  &.disable {
    pointer-events: none;
  }
  border: 1px solid gray;
  border-radius: 5px;
  .icon {
    display: flex;
    align-items: center;
    height: 30px;
    img {
      height: 60%;
    }
  }
}
.btn-continue {
    position: absolute;
    bottom: 15px;
    height: 50px;
    width: 90%;
    ion-button {
        height: 100%;
        width: 100%;
        --background-activated: black;
        --color-activated: black;
        --border-radius: 10px;
    }
    ion-spinner {
      position: absolute;
      top: 10px;
      right: 20px;
    }
  }