<div class="modal-action-light">
  <div class="title">
    Veuillez vous inscrire ou vous connecter pour accéder à cette fonctionnalité
  </div>
  <div class="text scb-text-gray">
    En mode visiteur, vous avez un accés limité aux fonctionnalités. Découvrez le meilleur d'orange et moi personnalisé pour vous en vous connectant ou en créant un compte.
  </div>
  <div class="buttons-block">
    <button class="scb-btn scb-btn-full scb-btn-orange" (click)="goLogin()">Je me connecte</button>
    <button class="scb-btn scb-btn-full scb-btn-white" (click)="goRegister()">Je m'inscris</button>
  </div>
</div>