<div class="select-beneficiary-container">
  <div class="title">
    Choisir une ligne
  </div>

  <div class="number-options">
    <ng-container *ngIf="phones$ | async as phones">
      <mat-radio-group (change)="onOptionChange($event.value)" *ngIf="phones?.length else elseBlock">
        <mat-radio-button
          *ngFor="let phoneItem of phones$ | async as phones; index as i; count as size"
          [value]="phoneItem"
          [checked]=" phone ? phone === phoneItem.phone : i === 0 "
        >
          <div class="destination-number" [ngClass]="i===(size-1)?'last-number':''">
            <span> Mon numéro {{ size > 1 ? i + 1 : "" }} </span>
            <span>{{ phoneItem.phone | phoneNumberDisplay }}</span>
          </div>
        </mat-radio-button>
      </mat-radio-group>
      <ng-template #elseBlock>
        <div class="no-number">Pas de ligne {{phoneType=== MSISDN_TYPE_MOBILE ? ' mobile' : 'fixe'}} rattachée</div>
      </ng-template>
    </ng-container>
  </div>

  <div class="btn-continue">
    <button mat-button
      [disabled]="isProcessing"
      (click)="onConfirmer()"
      > <span style="line-height: 3.4">Confirmer</span> </button
    >
    <ion-spinner
      *ngIf="isProcessing"
      name="crescent"
    ></ion-spinner>
  </div>
</div>