<ion-item lines="none" class="ion-no-padding">
  <div class="item" [ngClass]="{'item-gray': disable}">
    <div class="artiste-img-container" *ngIf="dalal?.artiste?.image">
      <img [src]="downloadAvatarEndpoint + dalal?.artiste?.image" alt="art" />
    </div>
    <div class="infos-text">
      <div class="titre scb-text-orange">{{ dalal?.titre }}</div>
      <div class="artiste scb-text-dark-grey">
        {{ dalal?.artiste?.nom }}
      </div>
      <div class="artiste scb-text-dark-grey" *ngIf="dalal?.date">
        actif depuis {{ dalal?.date | date: 'dd/MM/yyyy' }}
      </div>
    </div>
    <div class="desactiver scb-text-orange" *ngIf="editable">Désactiver</div>
  </div>
</ion-item>