<div class="dalal-infos-modal">
  <ion-icon name="close" class="close-icon" (click)="close()"></ion-icon>
  <span class="dalal-title">Dalal tones</span>
  <div class="banniere-container">
    <img src="/assets/images/dalal-tones-banniere.png" alt="header-dalal">
  </div>
  <div class="dalal-text scb-text-gray">
    <p>Personnalisez votre sonnerie d’accueil et donner de la joie à ceux qui vous appellent le temps que vous décrochez !</p>

    <p>Dalal tones vous permet de sélectionner des chansons et de les regrouper dans un album. Grâce au service Dalal
    Tones, vous pouvez dédier une chanson à un contact ou à un groupe de contacts.</p>
  </div>
  <div class="dalal-tarification">
    <span class="tarif-title">Tarification</span>
    <div class="period-tarification">
      <div class="tarif">
        <span class="price scb-text-orange">12 FCFA </span>
        <span class="period scb-text-gray">/ jour</span>
      </div>
      <div class="tarif">
        <span class="price scb-text-orange">350 FCFA </span>
        <span class="period scb-text-gray">/ mois</span>
      </div>
    </div>
  </div>
  <div class="button-block">
    <button class="scb-btn scb-btn-white scb-btn-full" (click)="close()">Fermer</button>
  </div>
</div>