<div *ngIf="checkingToken" class="checking-token-block">
  <mat-spinner mode="indeterminate" [diameter]="60"></mat-spinner>
</div>
<div *ngIf="userNotRegisteredInOm" class="codeOTP-content">
  <div class="image-activationOM">
    <img
      src="/assets/images/activation-orange-money.png"
      alt="image-OM"
      class="image-header"
    />
  </div>
  <div class="activationOM-mobile-container-body-content">
    <span class="text scb-text-light-black"
      >Pour votre première utilisation de Orange Money dans Orange et Moi vous
      devez être identifié.</span
    >
    <div class="title-1 scb-text-gray">Choisir Le Numéro Orange Money</div>
    <div class="dropdown-numero">
      <mat-form-field>
        <mat-select [(ngModel)]="omPhoneNumber">
          <mat-option
            *ngFor="let number of allNumbers; let i = index"
            [value]="number"
          >
            {{ number }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button
      [disabled]="sendingOtp"
      class="confirm-btn scb-btn-full scb-btn-orange"
      (click)="sendOTPCode()"
    >
      <span>Confirmer</span>
      <mat-spinner
        mode="indeterminate"
        [diameter]="20"
        *ngIf="sendingOtp"
      ></mat-spinner>
    </button>

    <div class="error-message" *ngIf="errorOnOtp">
      <span>{{ errorOnOtp }}</span>
    </div>
  </div>
</div>
<div class="codeOTP-content" *ngIf="otpValidation">
  <div class="image-activationOM">
    <img
      src="/assets/images/activation-orange-money.png"
      alt="image-OM"
      class="image-header"
    />
  </div>
  <div class="activationOM-mobile-container-body-content">
    <span class="text scb-text-light-black"
      >Pour votre première utilisation de Orange Money dans Orange et Moi vous
      devez être identifié. Vous avez reçu un code par SMS, merci de le
      renseigner</span
    >
    <form
      [formGroup]="form"
      novalidate
      autocomplete="false"
    >
      <div class="otp-input">
        <mat-form-field class="material-input">
          <input
            formControlName="codeOTP"
            type="text"
            matInput
            placeholder="Entrez le code reçu"
            required
          />
        </mat-form-field>
        <div class="btn-info scb-text-white">
          ?
        </div>
      </div>

      <ion-button expand="block" *ngIf="!userHasOmToken" [disabled]="!form.valid || registering" class="confirm-btn" (click)="userRegisterOM()"
      >
        <span>Confirmer</span>
        <mat-spinner
          mode="indeterminate"
          [diameter]="20"
          *ngIf="registering"
        ></mat-spinner>
      </ion-button>
      <button
        (click)="sendOTPCode()"
        [disabled]="sendingOtp"
        *ngIf="resendCode"
        class="scb-btn scb-btn-orange resend-code"
      >
        Renvoyer le code
        <mat-spinner
          mode="indeterminate"
          [diameter]="20"
          *ngIf="sendingOtp"
        ></mat-spinner>
      </button>
    </form>
  </div>
  <div class="error-message" *ngIf="otpHasError">
    <span>{{ errorOnOtp }}</span>
  </div>
</div>
<div class="pinpad-v3" *ngIf="userHasOmToken">
  <ng-container *ngIf="operationType !== OPERATION_CHANGE_PIN_OM">
    <img src="/assets/images/password.png" alt="lock" />
    <div class="title">
      <span class="title-1" *ngIf="!canRetry">Mot de passe</span>
      <span class="subtitle scb-text-gray" *ngIf="!canRetry"
        >Veuillez entrer votre code de sécurité Orange Money</span
      >
    </div>
  </ng-container>
  <ng-container *ngIf="operationType === OPERATION_CHANGE_PIN_OM ">
    <img src="/assets/images/05-ic-nes-note-appli-copy.svg" alt="lock" />
    <div class="title">
      <span class="title-1">Nouveau code secret</span>
      <span class="subtitle scb-text-gray"
        >Le nouveau code secret doit être différent de votre date de naissance et les chiffres consécutifs ne sont pas autorisés</span
      >
    </div>
  </ng-container>
  <div class="bullet-container">
    <div class="bullets" *ngIf="!canRetry">
      <span
        class="bullet"
        *ngFor="let bullet of bullets, let i = index"
        [ngClass]="{'bullet-filled': codePin.length >= i+1, 'bullet-error': errorBulletActive}"
      ></span>
    </div>
    <div class="error-block scb-text-red-error" *ngIf="pinHasError" [ngClass]="{'big-text': canRetry}">
      {{pinError}}
    </div>
    <div class="confirm-block" *ngIf="canRetry">
      <button class="scb-btn scb-btn-orange" [disabled]="processingPin" (click)="retry('Capping-social-error')">
        Confirmer
      </button>
      <button class="scb-btn scb-btn-white cancel">Annuler</button>
    </div>
  </div>
  <div
    class="numbers-table"
    *ngIf="!processingPin && !recurrentOperation && !gettingPinpad"
  >
    <div
      class="number scb-text-black"
      *ngFor="let number of randomDigits, let i = index"
      (click)="type(number)"
    >
      <span *ngIf="i !== 9 && i !== 11" class="c-pointer"
        >{{ digitPadIsActive ? number : '' }}</span
      >
      <img
        *ngIf="i === 9"
        src="/assets/images/backspace@2x.png"
        alt="refresh"
        (click)="delete()"
      />
      <img
        *ngIf="i === 11"
        src="/assets/images/redo@2x.png"
        alt="clear"
        (click)="reintializePinpad()"
      />
    </div>
  </div>
  <div class="loading" *ngIf="processingPin || gettingPinpad">
    <ion-spinner name="crescent">
    </ion-spinner>
  </div>
</div>
