@import "src/app/app";
.title {
  font-family: HelveticaNeue;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #000000;
}
.dashboard-container-mobile {
  overflow-y: auto;
  background-color: $grayDashboard;
  min-height: 788px;
  position: relative;
  padding-bottom: 97px;

  .postpaid-dashboard-container {
    background-color: $grayDashboard;
    // overflow: auto;
    height: 100%;

    .dashboard-block-conso {
      background-color: $white;
      padding: 15px 0 10px 0;
      margin-bottom: 10px;
      margin-top: 10px;

      &-top-texts {
        display: flex;
        justify-content: space-between;
        padding: 0 percentage(10px / $baseWidthMobile2);
        .suivi-conso {
          font-size: 24px;
        }
        .voir-details-text {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          font-family: HelveticaNeueLTStd-Bd;
          font-size: 16px;
        }
      }

      &-btns {
        height: 130px;
        margin-top: -5px;
        overflow-x: scroll;
        white-space: nowrap;
        // padding-left: percentage(10px / $baseWidthMobile2);
        display: flex;
        &::-webkit-scrollbar {
          display: none;
        }
        ion-slides {
          ion-slide {
            padding-left: 10px;
            display: flex;
            align-items: flex-start;
            margin-top: 12px;
            // width: 66% !important;
            // min-width: 300px;
          }
        }
        app-om-button {
          min-width: 63%;
          width: 100%;
          height: 90px;
          margin-right: percentage(10px / 366px);
        }
        .scb-btn-balance,
        .scb-btn-credit,
        .scb-btn-pass,
        .scb-btn-sargal {
          text-align: left;
          width: 100%;
          min-width: 63%;
          height: 90px;
          display: inline-block;
          padding: 8px 0 10px 15px;
          border-radius: 15px;
          box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
          margin-right: percentage(10px / 366px);
          .scb-btn-top-block {
            &-icon,
            &-text {
              display: inline-block;
              vertical-align: middle;
            }

            &-icon {
              height: 24px;
              width: 24px;
              margin-right: 4px;
            }

            &-text {
              .text {
                font-family: HelveticaNeueLTStd-Roman, sans-serif;
                font-size: 18px;
              }
            }
          }

          .bottom-block {
            margin-top: 1px;
            .value {
              font-family: HelveticaNeueLTStd-Bd, sans-serif;
              font-size: 26px;

              .text-style-1 {
                font-family: HelveticaNeueLTStd-Roman, sans-serif;
                font-size: 18px;
              }
            }
          }

          .validity-text {
            margin-top: 6px;
            font-family: HelveticaNeueLTStd-Roman;
            font-size: 9px;
          }

          .show-solde-info-text {
            font-family: HelveticaNeueLTStd-Bd, sans-serif;
            font-size: 16px;
            line-height: 1.14;
            display: inline-block;
            margin-top: 27px;
          }
        }

        .scb-btn-sargal {
          background-image: url(/assets/images/background-sargal.svg);
          .btn-container {
            width: 100%;
            background: transparent;
          }
          .scb-data-reload {
            position: absolute;
            right: 15px;
            top: 15px;
          }
          &.btn-disabled {
            background-color: $gray;
            .btn-no-action {
              pointer-events: none;
            }
          }
          .scb-btn-top-block {
            &-icon,
            &-text {
              display: inline-block;
              vertical-align: middle;
            }

            &-icon {
              height: 24px;
              width: 24px;
              margin-right: 4px;
            }

            &-text {
              .text {
                font-family: HelveticaNeueLTStd-Roman, sans-serif;
                font-size: 18px;
              }
            }
          }

          .bottom-block {
            margin-top: 1px;
            .value {
              font-family: HelveticaNeueLTStd-Bd, sans-serif;
              font-size: 26px;

              .text-style-1 {
                font-family: HelveticaNeueLTStd-Roman, sans-serif;
                font-size: 18px;
              }
            }
          }

          .validity-text {
            margin-top: 6px;
            font-family: HelveticaNeueLTStd-Roman;
            font-size: 9px;
          }

          .show-solde-info-text {
            font-family: HelveticaNeueLTStd-Bd, sans-serif;
            font-size: 16px;
            line-height: 1.14;
            display: inline-block;
            margin-top: 27px;
          }
        }
      }

      &-details {
        margin: -15px 0 0 0;
        border-radius: 4px;
        padding: 5px percentage(10px / $baseWidthMobile2);
        .error {
          font-family: HelveticaNeueLTStd-Roman, sans-serif;
          font-size: 10px;
          padding: 5px 0;
        }

        &::-webkit-scrollbar {
          display: none;
        }

        .dashboard-block-spinner {
          display: flex;
          justify-content: center;
          padding-top: 10%;
        }

        .mat-spinner::ng-deep circle {
          stroke: $orange;
        }

        &-item {
          width: 100%;

          &:not(:last-child) {
            margin-bottom: 10px;
            padding-bottom: 9px;
            border-bottom: 1px solid $silver;
          }

          .conso-name-value-line {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .conso-name {
              font-family: HelveticaNeueLTStd-Roman, sans-serif;
              font-size: 16px;
            }

            .conso-value {
              font-family: HelveticaNeueLTStd-Bd, sans-serif;
              font-size: 16px;
              .text-style-1 {
                font-family: HelveticaNeueLTStd-Roman, sans-serif;
              }
            }
          }

          .conso-expiration-line {
            text-align: right;

            .conso-expiration-date {
              font-family: HelveticaNeueLTStd-Roman, sans-serif;
              font-size: 12px;
            }
          }

          .gauge {
            width: 70%;
            display: flex;
            align-items: center;
            .left {
              margin: 10px 0;
              height: 5px;
              background-color: $green;
              &-data {
                background-color: $purple;
              }
            }
            .consumed {
              margin: 10px 0;
              height: 3px;
              background-color: $grey;
            }
          }
        }
      }
    }

    .dashboard-block-operation {
      padding: 0 percentage(10/375);
      display: flex;
      justify-content: space-between;
      .operation-block {
        border-radius: 15px;
        background-color: $white;
        padding: 15px 0 21px 0;
        width: percentage(170/355);
        .operation-img-container {
          width: percentage(81/170);
          margin: 0 auto;
          img {
            width: 100%;
          }
        }
        .operation-title {
          width: percentage(138/170);
          margin: 0 auto;
          text-align: center;
          font-size: 14px;
          .light {
            font-family: HelveticaNeueLTStd-Roman, sans-serif;
          }
        }
      }
    }

    .dashboard-block-bill {
      margin: 0 20px;
      .error {
        font-family: HelveticaNeueLTStd-Roman, sans-serif;
        font-size: 10px;
        padding: 5px 0;
      }
      .last-bill {
        margin-bottom: 20px;
        &-title {
          margin-bottom: 20px;
          font-size: 20px;
          display: flex;
          justify-content: space-between;
          .more-bills {
            font-family: HelveticaNeue;
          font-size: 16px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.88;
          letter-spacing: normal;
          text-align: right;
          color: #ff7900;
          flex-grow: 1;
          }
        }

        &-infos {
          background-color: $white;
          padding: 7.5px 15.4px 0px 15.4px;
          .emiss-text {
            font-size: 14px;
            font-family: HelveticaNeueLTStd-Roman, sans-serif;
            padding-top: 7px;
          }

          &-utils {
            display: flex;
            padding-bottom: 10.7px;
            border-bottom: solid $silver;

            .bill-img-container {
              width: percentage(50px/310px);
              height: auto;
              max-height: 60px;

              img {
                width: 100%;
                height: 100%;
              }
            }

            .bill-infos-container {
              width: 100%;
              padding-left: 16.1px;

              .top-infos,
              .bottom-infos {
                display: flex;
                justify-content: space-between;
                width: 100%;

                .price {
                  font-size: 22px;
                  font-family: HelveticaNeueLTStd-Bd, sans-serif;
                }

                .paid-status {
                  color: $greenSuccess;
                  font-size: 14px;
                }

                .unpaid-status {
                  color: $redError;
                  font-size: 14px;
                }
              }
            }
          }

          &-dates {
            font-size: 14px;
            padding-top: 7px;
            padding-bottom: 15px;
            .echeance-date {
              display: flex;
              justify-content: space-between;
              width: 100%;
              padding-top: 10px;
            }
          }

          .more-infos {
            padding-top: 17px;
            border-top: solid #eeeeee;
            padding-left: percentage(7px/325px);
            padding-bottom: 2.5px;

            &-item-block {
              padding-bottom: 20px;

              span {
                font-family: HelveticaNeueLTStd-Roman, sans-serif;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                padding-left: percentage(15px/325px);
                display: inline-block;
                vertical-align: middle;
              }
              .mat-spinner::ng-deep {
                display: inline-block;
                vertical-align: middle;
                circle {
                  stroke: $orange;
                }
              }

              img {
                display: inline-block;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }

    .operations-rapides {
      .top {
        display: flex;
        padding: 15px 20px 5px 20px;

        .more {
          font-family: HelveticaNeue;
          font-size: 16px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.88;
          letter-spacing: normal;
          text-align: right;
          color: #ff7900;
          flex-grow: 1;
        }
      }
    }
    .bons-plans{
      display: flex;
      flex-direction: column;
      margin: 0px 20px 20px 20px;
      &>.title{
        margin: 5px 0px 10px 0px;
      }
      .dashboard-img-promo{
        margin:0px;
      }
    }
    .dashboard-block-footer-container {
      position: fixed;
      width: 201px;
      right: 10px;
      bottom: 30px;
      &-content {
        position: relative;
        padding-left: 14px;
        width: 100%;
        border-radius: 31px;
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
        height: 39px;
        line-height: 36px;
        background-color: $orange;
        .footer-text {
          font-family: HelveticaNeueLTStd-Bd, sans-serif;
          font-size: 16px;
          line-height: 0.94;
        }
      }
      .footer-ibou-icon {
        width: percentage(60px/380px);
        height: 60px;
        position: fixed;
        bottom: 4vh;
        right: 10px;
        .ibou-icon {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

ion-fab-button {
  margin-left: 140px;
  overflow: visible;
  position: relative;
}
ion-fab-list {
  ion-label {
    position: relative;
    top: 45px;
    right: 45px;
    color: white;
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
  }
}
ion-fab {
  ion-badge {
    position: relative;
    top: 10px;
    left: 140px;
  }
}

#fab-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
}

.fab-item {
  width: 50px;
  height: 50px;
}


