<div [id]="'fab-background' | generateIdForTA" *ngIf="fabOpened"></div>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="fabToggled()">
  <ion-fab-button>
    <img
      class="ibou-icon"
      src="/assets/images/04-boutons-01-illustrations-21-ibou-assistance.png"
      alt=""
    />
  </ion-fab-button>
  <!--<ion-fab-list side="top">
    <div (click)="goToSatisfactionForm()" class="fab-item-block">
      <div class="description">
        <span class="title scb-text-white">Donnez nous votre avis</span>
        <span class="subtitle scb-text-dark-grey">Aidez nous à améliorer l’appli</span>
      </div>
      <img src="/assets/images/give-yo-opinion_icon.png" alt="">
    </div>
    <div class="fab-item-block" (click)="goIbouPage()">
      <div class="description">
        <span class="title scb-text-white">Chat avec Ibou</span>
        <span class="subtitle scb-text-dark-grey">Discuter avec Ibou</span>
      </div>
      <img src="/assets/images/04-boutons-01-illustrations-21-ibou-assistance.png" alt="">
    </div>
    <div class="fab-item-block" (click)="defaulSharingSheet()">
      <div class="description">
        <span class="title scb-text-white">Partager l’application</span>
        <span class="subtitle scb-text-dark-grey">Parlez en à vos amis</span>
      </div>
      <img src="/assets/images/share_fab_icon.svg" alt="">
    </div>
    <div class="fab-item-block" (click)="goToBesoinAide()">
      <div class="description">
        <span class="title scb-text-white">Assistance</span>
        <span class="subtitle scb-text-dark-grey">Besoin d’aide ?</span>
      </div>
      <img src="/assets/images/emergency_help_fab_icon.svg" alt="">
    </div>
  </ion-fab-list>-->
</ion-fab>