@import 'src/app/app';

ion-fab-button {
  margin-left: 140px;
  overflow: visible;
  position: relative;
  img {
    width: 56px;
    height: auto;
  }
}
ion-fab-list {
  ion-label {
    position: relative;
    top: 45px;
    right: 45px;
    color: white;
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
  }
}
ion-fab {
  ion-badge {
    position: relative;
    top: 10px;
    left: 140px;
  }
}

#fab-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8) !important;
  backdrop-filter: blur(5px) !important;
}

.fab-item {
  width: 56px;
  height: 56px;
}
