<div id="fab-background" *ngIf="fabOpened"></div>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="fabToggled()">
  <ion-fab-button>
    <img
      class="ibou-icon"
      src="/assets/images/04-boutons-01-illustrations-21-ibou-assistance.png"
      alt=""
      (tap)="fabToggled()"
    />
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button class="fab-item" (click)="defaulSharingSheet()">
      <img src="/assets/images/share_fab_icon.svg" alt="" />
    </ion-fab-button>
    <ion-label (click)="defaulSharingSheet()">
      Partager l’application
    </ion-label>

    <ion-fab-button class="fab-item" (click)="goToBesoinAide()">
      <img src="/assets/images/need_help_fab_icon.svg" alt="" />
    </ion-fab-button>
    <ion-label (click)="goToBesoinAide()"> Besoin d’aide ? </ion-label>

    <ion-fab-button class="fab-item" (click)="goAssistance()">
      <img src="/assets/images/emergency_help_fab_icon.svg" alt="" />
    </ion-fab-button>
    <ion-label (click)="goAssistance()" >Assistance</ion-label
    >

    <ion-fab-button class="fab-item" (click)="goToSatisfactionForm()">
      <img src="/assets/images/emergency_help_fab_icon.svg" alt="" />
    </ion-fab-button>
    <ion-label (click)="goToSatisfactionForm()" >Votre avis ?</ion-label
    >
  </ion-fab-list>
</ion-fab>