<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.dimelo" version="1.0.0">
    <name>DimeloCordovaPlugin</name>
    <description>Cordova Device Plugin</description>
    <js-module src="www/DimeloCordovaPlugin.js" name="DimeloCordovaPlugin">
        <clobbers target="dimelo" />
    </js-module>
    <platform name="android">
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.dimelo.dimelosdk.main.ChatActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/>
            <activity android:name="com.dimelo.dimelosdk.main.ThreadsListActivity" android:theme="@style/DimeloTheme">
							<meta-data
									android:name="android.support.PARENT_ACTIVITY"
									android:value="com.orange.myorange.osn.MainActivity" />
            </activity>
						<receiver android:name="com.dimelo.dimelosdk.main.ConnectionChangeReceiver"  android:enabled="false" android:exported="true" >
							<intent-filter>
								<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
							</intent-filter>
        		</receiver>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA" />
        </config-file>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="DimeloCordovaPlugin">
                <param name="android-package" value="cordova.plugin.dimelo.DimeloCordovaPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/DimeloCordovaPlugin.java" target-dir="src/cordova/plugin/dimelo/" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="DimeloCordovaPlugin">
                <param name="ios-package" value="CDVWKDimelo" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/ios/CDVWKDimelo.h" />
        <source-file src="src/ios/CDVWKDimelo.m" />

        <podspec>
            <config>
                <source url="https://github.com/dimelo/Dimelo-iOS"/>
            </config>
            <pods use-frameworks="true">
                <pod name="Dimelo-iOS" git="https://github.com/dimelo/Dimelo-iOS"/>
            </pods>
        </podspec>
    </platform>

</plugin>