<ng-container *ngIf="!detail">
  <div class="bills-mobile-page">
      <!-- Header -->
      <div class="bills-mobile-header">
          <div class="arrow-left" routerLink="/dashboard">
              <img alt="" src="/assets/images/arrow-left.svg" />
          </div>
          <div class="title">
              <span>Mes factures {{ bordereau ? 'fixes' : 'mobiles' }}</span>
          </div>
      </div>

      <!-- loader -->
      <div class="spinner" *ngIf="loading">
          <mat-spinner mode="indeterminate" [diameter]="60"></mat-spinner>
      </div>
      <!-- error when loading bills -->

      <div class="error scb-text-red-error" *ngIf="error">
          N'a pas pu charger les factures.
          <span (click)="getBills()">Cliquez pour recharger</span>
      </div>

      <!-- BillsContainer -->
      <div class="bills-container" *ngIf="bills?.length > 0">
          <!-- last bill infos -->
          <div class="last-bill">
              <div class="last-bill-title">
                  <span class="scb-text-light-black bills-history-text">Ma dernière facture</span>
              </div>
              <div class="last-bill-infos">
                  <div class="last-bill-infos-utils">
                      <div class="bill-img-container">
                          <img alt="" src="/assets/images/group-39.svg" />
                      </div>
                      <div class="bill-infos-container">
                          <div class="top-infos">
                              <span
                              *ngIf=" bills[0]?.moisfact">{{months[bills[0]?.moisfact - 1] }}
                                  {{ bills[0]?.annefact }}</span
                              >
                              <span
                                  *ngIf=" bills[0]?.mois">{{ months[ bills[0]?.mois - 1] }}
                                      {{  bills[0]?.annee }}</span
                                  >
                              <span
                                  *ngIf="!bordereau"
                                  [ngClass]="{
                                      'paid-status': bills[0]?.statutFacture ==='paid',
                                    'unpaid-status': bills[0]?.statutFacture ==='unpaid'
                                }">{{ bills[0]?.statutFacture ==='paid'? 'Payée' : 'Impayée' }}</span>
                              <span *ngIf="bordereau" class="amount scb-text-orange">{{ bills[0].total }} F</span>
                          </div>
                          <div class="bottom-infos" *ngIf="!bordereau">
                              <span class="scb-text-item-offre-black emiss-text">N° {{ bills[0].nfact | formatBillNum }}</span>
                              <span class="price">{{ bills[0].total | formatCurrency }} F</span>
                          </div>
                      </div>
                  </div>
                  <div class="last-bill-infos-dates">
                      <div class="emission-date" *ngIf="!bordereau">
                          <span class="scb-text-item-offre-black emiss-text"
                              >Date d’emission {{ bills[0].dateFacture | formatBillDate }}</span
                          >
                      </div>
                      <div class="echeance-date" #detail>
                          <span class="scb-text-item-offre-black emiss-text">
                              Echéance {{ (bordereau ? bills[0].dateEcheance : bills[0].dateEcheance) | formatBillDate }}</span
                          >
                          <img
                              alt=""
                              src="/assets/images/keyboard-arrow-up-black.svg"
                              *ngIf="detail.show"
                              (click)="detail.show = !detail.show"
                          />
                          <img alt="" src="/assets/images/arrow-down.svg" *ngIf="!detail.show" (click)="detail.show = !detail.show" />
                      </div>
                  </div>
                  <div class="more-infos" *ngIf="detail.show">
                      <div class="more-infos-item-block" (click)="downloadBill(bills[0])">
                          <img alt="" src="/assets/images/pdf-file-2.svg" class="img-icon" /><span class="scb-text-orange"
                              >Télécharger en PDF</span
                          >
                          <mat-spinner mode="indeterminate" *ngIf="bills[0]?.downloading" [diameter]="17"></mat-spinner>
                      </div>
                      <div (click)="mailToCustomerService()" class="more-infos-item-block c-pointer">
                          <img alt="" src="/assets/images/pdf-file-copy-4.svg" class="img-icon" /><span class="scb-text-orange"
                              >Demande d'assistance</span
                          >
                      </div>
                      <div *ngIf="0" class="more-infos-item-block">
                          <img alt="" src="/assets/images/pdf-file-copy-5.svg" class="img-icon" /><span class="scb-text-orange"
                              >Payer par Orange Money</span
                          >
                      </div>
                      <div class="btn-container" *ngIf="bordereau">
                          <div class="button scb-text-white" (click)="goBillsDetails(bills[0])">Voir Détails</div>
                      </div>
                  </div>
              </div>
          </div>

          <!-- bills history -->
          <div class="bills-history">
              <div class="bills-history-title">
                  <span class="scb-text-light-black bills-history-text">Historique de mes factures</span>
              </div>
              <div class="bills-history-infos">
                  <div class="bills-history-infos-item" *ngFor="let bill of bills; let i = index">
                      <div *ngIf="i != 0">
                          <div class="item-bill-infos">
                              <div class="bill-status">
                                  <span
                                  *ngIf="bill?.moisfact">{{ months[bill?.moisfact - 1] }}
                                      {{ bill?.annefact }}</span
                                  >
                                  <span
                                  *ngIf="bill?.mois">{{ months[bill?.mois - 1] }}
                                      {{ bill?.annee }}</span
                                  >
                                  <span
                                      *ngIf="!bordereau"
                                      [ngClass]="{
                                        'paid-status': bill?.statutFacture === 'paid',
                                        'unpaid-status': bill?.statutFacture === 'unpaid'
                                    }"
                                      >{{ bill?.statutFacture ==='paid'? 'Payée' : 'Impayée' }}</span
                                  >
                                  <span *ngIf="bordereau" class="scb-text-orange amount">{{ bill?.total }} F</span>
                              </div>
                              <div class="bill-id" *ngIf="!bordereau">
                                  <span class="scb-text-item-offre-black emiss-text">N° {{ bill?.nfact | formatBillNum }}</span>
                                  <span class="price">{{ bill?.total | formatCurrency }} F</span>
                              </div>
                              <div class="bill-emission" #details>
                                  <span class="scb-text-item-offre-black emiss-text"
                                      >Date d’échéance {{ (bordereau ? bill?.dateEcheance : bill?.dateEcheance) | formatBillDate }}</span
                                  >
                                  <img
                                      alt=""
                                      src="/assets/images/keyboard-arrow-up-black.svg"
                                      *ngIf="details.show"
                                      (click)="details.show = !details.show"
                                  />
                                  <img
                                      alt=""
                                      src="/assets/images/arrow-down.svg"
                                      *ngIf="!details.show"
                                      (click)="details.show = !details.show"
                                  />
                              </div>
                          </div>

                          <div class="more-infos" *ngIf="details.show">
                              <div class="more-infos-item-block" (click)="downloadBill(bill)">
                                  <img alt="" src="/assets/images/pdf-file-2.svg" /><span class="scb-text-orange"
                                      >Télécharger en PDF</span
                                  >
                                  <mat-spinner mode="indeterminate" *ngIf="bill?.downloading" [diameter]="17"></mat-spinner>
                              </div>
                              <div (click)="mailToCustomerService()" class="more-infos-item-block c-pointer">
                                  <img alt="" src="/assets/images/pdf-file-copy-4.svg" /><span class="scb-text-orange"
                                      >Demande d'assistance</span
                                  >
                              </div>
                              <div *ngIf="0" class="more-infos-item-block">
                                  <img alt="" src="/assets/images/pdf-file-copy-5.svg" /><span class="scb-text-orange"
                                      >Payer par Orange Money</span
                                  >
                              </div>
                              <div class="btn-container" *ngIf="bordereau">
                                  <div class="button scb-text-white" (click)="goBillsDetails(bill)">Voir Détails</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</ng-container>
<ng-container *ngIf="detail">
  <app-bills-details-mobile [detailsParams]="detailParams" (goback)="hideDetails()"></app-bills-details-mobile>
</ng-container>
