@import 'src/app/app';

.horizontal-article-item {
  display: flex;
  background-color: $white;
  .img-container-block {
    width: percentage(105/345);
    flex-shrink: 0;
    .article-image {
      width: 100%;
      border-radius: 10px;
    }
  }
  .article-details {
    padding-left: 15px;
    .category {
      padding: 5px 10px;
      font-family: HelveticaNeueLTStd-Bd;
      font-size: 10px;
      background-color: $orange;
      width: fit-content;
      border-radius: 5px;
    }
    .article-title {
      font-family: HelveticaNeueLTStd-Bd;
      font-size: 16px;
      line-height: 1.38;
      margin: 5px 0 10px;
    }
    .more-infos {
      display: flex;
      .comments,
      .publication-date {
        font-family: HelveticaNeueLTStd-Roman;
        font-size: 12px;
        line-height: 1.33;
        display: flex;
        align-items: center;
        .icon {
          margin-right: 5px;
        }
        .text {
          font-family: HelveticaNeueLTStd-Roman;
          font-size: 12px;
          line-height: 1.33;
        }
      }
      .comments {
        margin-left: 20px;
      }
    }
  }
}
