<div class="horizontal-article-item">
  <div class="img-container-block">
    <img [src]="article?.imageHeader" alt="" class="article-image">
  </div>
  <div class="article-details">
    <div class="category scb-text-white">Bons plans</div>
    <div class="article-title">{{article?.titre}}</div>
    <div class="more-infos">
      <div class="publication-date">
        <img src="/assets/images/clock.png" alt="" class="icon">
        <span class="scb-text-gray text">il y a 5 min</span>
      </div>
      <div class="comments">
        <img src="/assets/images/comments.png" alt="" class="icon">
        <span class="scb-text-gray text">120 commentaires</span>
      </div>
    </div>
  </div>
</div>