
<ion-content>
  <div class="homepage-container">
    <div class="image">
      <img src="/assets/images/logo-orange.svg" class="orange-logo" alt="">
    </div>
    <div class="page-title">
      Bienvenue sur orange et moi
    </div>
    <div class="page-subtitle scb-text-gray">
      Comment souhaitez-vous continuer ?
    </div>
    <div class="homepage-container-main-content">
      <div *ngFor="let opt of options" (click)="goTo(opt)" class="options">
        <div class="options-text">
          <span class="title">
              {{opt.title}}
          </span>
          <span class="subtitle scb-text-gray">
              {{ opt.subtitle }}
          </span>
        </div>
        <div class="options-icon">
          <img src="/assets/images/arrow-left.png" alt="">
        </div>
      </div>
    </div>
  </div>
</ion-content>
