<div class="purchase-history-container">
  <div class="purchase-history-container-filter">

  </div>
  <div class="purchase-history-container-body">
    <div class="list-purchase">
       <div class="list-purchase-item">
         <div class="left-block">
           <span class="purchase-category">
               Achat de pass internet
           </span>
           <span class="purchase-channel">
             Orange & Moi
           </span>
         </div>
         <div class="right-block">
            <span class="purchase-amount scb-text-orange">
                - 5 000 FCFA
            </span>
            <span class="purchase-date">
               Samedi 10 Février 2020 à 10:30
            </span>
         </div>
       </div>
       <div class="list-purchase-item">
         <div class="left-block">
           <span class="purchase-category">
               Achat de pass internet
           </span>
           <span class="purchase-channel">
             Orange & Moi
           </span>
         </div>
         <div class="right-block">
            <span class="purchase-amount scb-text-orange">
                - 5 000 FCFA
            </span>
            <span class="purchase-date">
               Samedi 10 Février 2020 à 10:30
            </span>
         </div>
       </div>
       <div class="list-purchase-item">
         <div class="left-block">
           <span class="purchase-category">
               Achat de pass internet
           </span>
           <span class="purchase-channel">
             Orange & Moi
           </span>
         </div>
         <div class="right-block">
            <span class="purchase-amount scb-text-orange">
                - 5 000 FCFA
            </span>
            <span class="purchase-date">
               Samedi 10 Février 2020 à 10:30
            </span>
         </div>
       </div>
       <div class="list-purchase-item">
         <div class="left-block">
           <span class="purchase-category">
               Achat de pass internet
           </span>
           <span class="purchase-channel">
             Orange & Moi
           </span>
         </div>
         <div class="right-block">
            <span class="purchase-amount scb-text-orange">
                - 5 000 FCFA
            </span>
            <span class="purchase-date">
               Samedi 10 Février 2020 à 10:30
            </span>
         </div>
       </div>
       <div class="list-purchase-item">
         <div class="left-block">
           <span class="purchase-category">
               Achat de pass internet
           </span>
           <span class="purchase-channel">
             Orange & Moi
           </span>
         </div>
         <div class="right-block">
            <span class="purchase-amount scb-text-orange">
                - 5 000 FCFA
            </span>
            <span class="purchase-date">
               Samedi 10 Février 2020 à 10:30
            </span>
         </div>
       </div>
    </div>
  </div>
</div>