<div class="select-beneficiary-container">
  <div class="title">
    Choix du bénéficiaire
  </div>
  <div class="description">
    Renseigner le numéro du bénéficiaire
  </div>
  <div class="beneficiary-number">
    <form novalidate autocomplete="false">
      <mat-form-field class="scb-input-row" appearance="outline">
        <div matPrefix class="country-block" (click)="openSelectCountryModal($event)">
          <div class="country-block-container">
            <img [src]="country?.flagIcon" alt="" class="flag-icon">
            <img src="/assets/images/arrow-down.svg" alt="">
          </div>
        </div>
        <mat-label>
          &nbsp;Numéro de téléphone&nbsp;&nbsp;
        </mat-label>
        <input [ngClass]="{'empty': !inputTel.value}" [id]="'numero' | generateIdForTA" #inputTel matInput type="tel" [value]="otherBeneficiaryNumber" maxlength="20" />
      </mat-form-field>
    </form>
    <ng-container>
      <img class="icon" src="/assets/images/address-book.png" alt="" />
      <span (click)="pickContact()" class="btn-contact scb-text-orange">Contacts</span>
    </ng-container>
  </div>
  <div *ngIf="hasErrorGetContact" class="error-msg scb-text-red-error">
    {{ errorGetContact }}
  </div>
  <div class="loading-container" *ngIf="loadingRecents">
    <mat-spinner mode="indeterminate" [diameter]="30"></mat-spinner>
  </div>
  <div class="recents" *ngIf="recentsRecipients$ | async as recents">
    <div class="recent-description scb-text-full-black" *ngIf="recents.length">
      Récents
    </div>
    <div class="no-recent" *ngIf="!recents.length">{{NO_RECENTS_MSG}}</div>
    <div matRipple class="oem-item" *ngFor="let recent of recents"
      (click)="validateBeneficiary(recent.msisdn)">
      <ng-container>
        <div class="logo scb-text-white">
          {{ recent.name ? (recent.name | acronym) : 'C' }}
        </div>
        <div class="labels">
          <span class="name"> {{ recent.name }}</span>
          <span class="number scb-text-gray">{{ recent.msisdn | phoneNumberDisplay}}</span>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="confirm-btn">
    <button [disabled]="isProcessing || !htmlInput?.nativeElement?.value" shape="round"
      (click)="validateBeneficiary()" class="btn" expand="block" [id]="'btn-validate' | generateIdForTA">Continuer</button>
    <ion-spinner *ngIf="isProcessing" name="crescent"></ion-spinner>
  </div>
</div>