@import 'src/app/app';

.scb-btn-om {
  background-image: radial-gradient(circle at 75% -20%, #ffac62, #ff7900 114%);
  position: relative;
  display: inline-block;
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 12px 0 20px 15px;
  border-radius: 15px;
  // box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
  // margin-right: percentage(10px / 366px);
  &.btn-om-kirene {
    background-image: none;
    background-color: #d03c34;
    border-color: #d03c34;
  }
  .scb-btn-top-block {
    display: flex;
    align-items: center;
    &-icon {
      height: 24px;
      width: 24px;
      margin-right: 4px;
    }

    &-text {
      .text {
        font-family: HelveticaNeueLTStd-Roman, sans-serif;
        font-size: 18px;
      }
    }
  }

  .bottom-block {
    margin-top: 4px;
    .value {
      font-family: HelveticaNeueLTStd-Bd, sans-serif;
      font-size: 32px;

      .text-style-1 {
        // font-family: HelveticaNeueLTStd-Roman, sans-serif;
        font-size: 24px;
      }
    }
  }

  .validity-text {
    margin-top: 5px;
    font-family: HelveticaNeueLTStd-Roman;
    font-size: 9px;
  }

  .show-solde-info-text {
    font-family: HelveticaNeueLTStd-Bd, sans-serif;
    font-size: 16px;
    line-height: 1.14;
    display: inline-block;
    margin-top: 27px;
  }
  .om-solde-visibility {
    position: absolute;
    top: 12px;
    right: 12px;
    .refresh-icon {
      width: 16px;
      height: 16px;
    }
  }
  .arrow-right {
    margin-left: 5px;
  }
}
