<div class="scb-btn-orange scb-btn-om" [ngClass]="{ 'btn-om-kirene': isKirene }" (click)="showSoldeOM()">
    <img src="/assets/images/om_background_icon.png" alt="om-icon" class="om-icon"/>
  <div class="om-title">
    Orange Money
  </div>
  <div class="om-balance">
    <span *ngIf="balanceIsAvailable" class="value">{{ '2000' }} <span class="text-style-1"> Fcfa </span></span>
    <span *ngIf="!balanceIsAvailable" class="show-solde-info-text">Voir Mon Solde
      <img src="/assets/images/keyboard-arrow-right-white-mob.svg" alt="arrow-right" class="arrow-right" />
    </span>
  </div>
  <div class="om-last-check" *ngIf="balanceIsAvailable && lastUpdateOM && lastTimeUpdateOM">
    Mis à jour le {{ lastUpdateOM }} à {{ lastTimeUpdateOM }}
  </div>
  <div class="om-solde-visibility">
    <img *ngIf="balanceIsAvailable && 0" src="/assets/images/eye.png" alt="refresh-icon" />
  </div>
</div>