<ion-header [oemIonHeaderParallax]="90" >
  <ion-toolbar >
      <ion-buttons>
        <ion-back-button (click)="goBack()" icon="" class="oem-back-button" >
            <img src="/assets/images/arrow-left.png" alt="icon" />
        </ion-back-button>
      </ion-buttons>
      <ion-title>Payer ma facture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce has-bouncing="false" forceOverscroll="false" fullscreen="true" [scrollEvents]="true">
  <ion-grid >
    <ion-row *ngIf="companies?.length">
      <ng-container *ngFor="let company of companies">
        <div *ngIf="!isServiceHidden(company)" [ngClass]="{'disabled': !company.activated}" matRipple (click)="onCompanySelected(company)" class="oem-bloc-1" >
            <img-loader [spinner]="true" class="oem-img" [src]="company.icone" fallbackUrl="/assets/images/04-boutons-01-illustrations-01-acheter-credit-ou-pass.svg" useImg></img-loader>
        </div>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>
