<ion-header [oemIonHeaderParallax]="100" >
  <ion-toolbar >
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/dashboard" icon="" class="oem-back-button" >
            <img src="/assets/images/arrow-left.png" alt="icon" />
        </ion-back-button>  
      </ion-buttons>
      <ion-title class="oem-top-title ion-padding-start">Payer ma facture</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content [scrollEvents]="true">
  <ion-grid >
    <ion-row>
      <div matRipple (click)="onCompanySelected(company)" class="oem-bloc-1" *ngFor="let company of companies">
          <img [src]="company.logo" class="oem-img"/>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
