<ion-header [oemIonHeaderParallax]="90">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/dashboard" icon="" class="oem-back-button">
        <img src="/assets/images/arrow-left.png" alt="icon" />
      </ion-back-button>
    </ion-buttons>
    <ion-title>Mes services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce has-bouncing="false" forceOverscroll="false" [scrollEvents]="true">
  <div class="oem-services-page">
    <div class="banierres" *ngIf="banniereService.bannieres as bannieres">
      <div class="scroll" scrollX="true">
        <oem-banniere *ngFor="let banniere of bannieres" [banniere]="banniere" clas="scroll-item"></oem-banniere>
      </div>
    </div>
    <div *ngIf="isLoading" class="spinner-wrapper">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
    <div class="operations-main-content" *ngIf="categoriesOffreServiceLevel1">
      <div class="operations-body" *ngIf="!isLoading">
        <div class="tab">
          <div class="tab-header">
            <div *ngFor="let category of categoriesOffreServiceLevel1 ; index as i" (click)="changeTabHeader(i)"
              class="tab-header-item" [ngClass]="{  'selected' : i === activeTabIndex }">
              <span class="scb-text-light-black"> {{ category.libelle }}</span>
            </div>
          </div>
          <ng-container *ngIf="categoriesOffreServiceLevel1[activeTabIndex]?.categorieOffreServices as subCats">

            <div class="sub-category" *ngIf="subCats.length">
              <div class="scroll" scrollX="true">
                <div *ngFor="let subCategory of subCats ; index as i" (click)="onChangeSubCat(i)" class="sub-cat-item"
                  [ngClass]="{  'selected' : i === activeSubIndex } ">
                  <span class="name"> {{ subCategory?.libelle }}</span>
                </div>
              </div>
            </div>
          </ng-container>

        </div>
        <div class="main-content">
          <ion-slides #sliders (ionSlideDidChange)="slideChanged()" [options]="slideOpts">
            <ion-slide *ngFor="let category of categoriesOffreServiceLevel1; index as i">
              <ng-container *ngIf="category?.categorieOffreServices?.length">
                <div class="list-operations"
                  *ngIf="filteredServices as offreServices">
                  <ng-container *ngFor="let operation of offreServices; index as i">
                    <oem-offre-service-card
                      *ngIf="(operation.reasonDeactivation && operation.reasonDeactivation !== '') || operation.activated"
                      [service]="operation">
                    </oem-offre-service-card>
                  </ng-container>
                </div>
              </ng-container>
            </ion-slide>
          </ion-slides>
        </div>
      </div>
    </div>
  </div>
</ion-content>