<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="(0)" class="ion-padding-start" slot="start">
      <img src="/assets/images/arrow-left.png" alt="icon" class="arrow-left" />
    </ion-buttons>
    <ion-title class="ion-no-padding">
      <span class="title1">Dalal Tones</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="body-dalal-list">
  <ion-header class="ion-padding-start" collapse="condense">
    <ion-toolbar>
      <span class="title">Dalal Tones</span>
    </ion-toolbar>
  </ion-header>
  <div class="dalal-tones-page-body">
    <div class="banniere-container">
      <img src="/assets/images/dalal-tones-banniere.png" alt="header-dalal" />
    </div>
    <div class="description">
      <div class="text scb-text-gray">
        Avec <span class="scb-text-full-black">Dalal tones</span>, personnalisez
        votre sonnerie d’attente et donnez de la joie à ceux qui vous appellent
        le temps que vous décrochez
      </div>
      <div class="tarification">
        <div class="tarifs-infos">
          <span class="tarif scb-text-orange">12 FCFA</span>
          <span class="period scb-text-gray"> / jour</span>
        </div>
        <button class="scb-text-full-black" (click)="openMoreInfosPopup()">En savoir plus</button>
      </div>
    </div>
    <div class="filters-block">
      <ion-list>
        <ion-item
          *ngFor="let genre of genres$ | async; let i = index;"
          mode="ios"
          lines="none"
          [ngClass]="{'selected': checkCategorySelected(genre)}"
        >
          <!-- <ion-label *ngIf="!checkCategorySelected(genre)">{{genre?.nom}}</ion-label> -->
          <ion-label [ngClass]="{'label-selected': checkCategorySelected(genre)}">{{genre?.nom}}</ion-label>
          <ion-select
            mode="ios"
            interface="popover"
            noIonSelectArrow
            (ionChange)="selectGenre(genre, $event.detail.value)"
          >
            <ion-select-option
              *ngFor="let sousGenre of genre?.sousGenres"
              [value]="sousGenre.code"
              >{{sousGenre?.nom}}</ion-select-option
            >
          </ion-select>
          <ion-icon ios="md-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
    <div class="dalal-tones-block">
      <div class="active-dalal-block" *ngIf="currentActiveDalal$ | async as currentActiveDalal">
        <div class="dalal-en-cours">
          <span class="current-dalal">Mon Dalal en cours</span>
          <span class="scb-text-orange">Voir tout</span>
        </div>
        <app-dalal-card-item [dalal]="currentActiveDalal" (click)="openDisablePopup()"></app-dalal-card-item>
      </div>
      <div *ngIf="loadingDalal" class="loading-dalal-spinner">
        <mat-spinner mode="indeterminate" [diameter]="60"></mat-spinner>
      </div>
      <ion-list *ngIf="!loadingDalal && dalalTones && dalalTones.length">
        <div class="list-dalal-title">Dalal disponibles</div>
        <app-dalal-card-item
          *ngFor="let dalal of dalalTones"
          (click)="goDalalActivationRecapPage(dalal)"
          [dalal]="dalal"
        ></app-dalal-card-item>
      </ion-list>
      <div
        class="empty-array-message"
        *ngIf="!loadingDalal && dalalTones && !dalalTones.length && !loadingError"
      >
        Il n y a pas de Dalal Tone correspondant à ce(s) filtre(s)
      </div>
      <div
        class="error-block scb-text-red-error"
        *ngIf="loadingError"
        (click)="reloadDalalTones()"
      >
        N'a pas pu recupérer les Dalal. Cliquez pour réactualiser
      </div>
      <ion-infinite-scroll
        (ionInfinite)="doInfinite($event)"
        [disabled]="infiniteScrollDisabled"
      >
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Chargement en cours..."
        >
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>
</ion-content>
