<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button mode="md"></ion-back-button>
        </ion-buttons>
    <ion-title>Informations Legales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="infolegale">
    <p>
        <br />
      <span class="bold">Editeur</span><br /><br />
      Sonatel<br />
      64, Voie de Dégagement Nord (VDN),<br />
      Sacre Cœur Pyrotechnie<br />
      BP 69 Dakar - SENEGAL<br />
      Contact : 00221 33 839 12 00<br />
      Fax: 00221 839 12 12<br />
      www.orange.sn<br />
    </p>
    <p>
        <br />
      <span class="bold">Hébergement</span><br /><br />
      Orange<br />
      Société anonyme avec Conseil d’Administration au capital social de cinquante milliards (50 000 000 000) de francs CFA<br />
      RCS SN.DKR.74.B.61<br />
      Siège social : 64, Voie de Dégagement Nord (VDN), Dakar , Sénégal<br />
    </p>

    <p>
        <br />
        <span class="bold">Nous contacter</span><br /><br />
      Pour toute information sur l’application Orange et moi, contactez le
      service client au 1441.
    </p>
    <p>
        <br />
      <span class="bold">Information sur la consommation du volume data</span><br /><br />
      L’utilisation de l’application Orange et moi est gratuite sur le
      territoire du Sénégal (hors itinérance), excepté pour les coûts de
      connexion nécessaires au téléchargement de l’application. Les coûts de
      connexion peuvent varier selon l’offre data que vous utilisez. Les coûts
      de connexions sont débités du volume data de l'offre à laquelle vous avez
      souscrit.
    </p>
    <br />
  </div>
</ion-content>
