<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="goBack()" class="ion-padding-start" slot="start">
      <img src="/assets/images/arrow-left.png" alt="icon" class="arrow-left" />
    </ion-buttons>
    <ion-title class="ion-no-padding">
      <span class="title1">Recherche</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header class="ion-padding-start" collapse="condense">
    <ion-toolbar>
      <span class="title">Recherche</span>
    </ion-toolbar>
  </ion-header>
  <div class="search-page">
    <div class="search-bar-block" >
      <ion-item lines="none" class="item-has-value">
        <ion-input #searchInput  placeholder="Comment pouvons-nous vous aider ?" (ionChange)="onInputChange($event)"></ion-input>
        <ion-icon name="search" slot="end" *ngIf="displaySearchIcon"></ion-icon>
        <span class="effacer" *ngIf="!displaySearchIcon" (click)="onClear(searchInput)">Effacer</span>
      </ion-item>
    </div>

    <div class="search-result">
			<ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
      <ng-container *ngIf="listBesoinAides | searchAssistance : terms as filtredBas">

        <div class="result-count">Résultats({{filtredBas?.length}})</div>
        <ng-container *ngFor="let besoinAide of filtredBas , let i=index">
          <app-action-item class="app-action-item" [action]="besoinAide" [search]="true" *ngIf="besoinAide.typeService === 'ACTE' "></app-action-item>
          <app-faq-item [question]="besoinAide" *ngIf="besoinAide.typeService === 'FAQ' "></app-faq-item>
        </ng-container>
      </ng-container>

    </div>

  </div>
</ion-content>
