<div class="kiosk-infos-card">
  <div class="card-header">
    <span class="my-way">Mon itinéraire</span>
    <span class="sortir scb-text-orange">sortir</span>
  </div>
  <div class="position-bloc">
    <div class="fake-way"></div>
    <div class="position">
      <div class="img-container img-container-blue">
        <img [src]="avatarUrl" alt="av" class="user-img">
      </div>
      <span class="place">Ma position</span>
    </div>
    <div class="position">
      <div class="img-container img-container-orange scb-text-white">{{index}}</div>
      <span class="place">{{kiosk?.name}}</span>
    </div>
  </div>
  <div class="items-container">
    <div class="info-item">
      <img class="icone" src="assets/images/location-arrow.png" alt="loc">
      <span class="duration scb-text-gray">{{walkingMatrix?.rows[0]?.elements[0]?.distance?.text }}</span>
    </div>
    <div class="info-item">
      <ion-icon class="icone scb-text-gray" name="walk"></ion-icon>
      <span class="duration scb-text-gray">{{walkingMatrix?.rows[0]?.elements[0]?.duration?.text}}</span>
    </div>
    <div class="info-item">
      <ion-icon class="icone scb-text-gray" name="car"></ion-icon>
      <span class="duration scb-text-gray">{{drivingMatrix?.rows[0]?.elements[0]?.duration?.text}}</span>
    </div>
  </div>
</div>