<div
  class="buy-pass-internet-container"
  [ngClass]="{ 'custom-style': step == 3 }"
>
  <app-header
    *ngIf="step < 3"
    [title]="title"
    (goBack)="goToPreviousStep()"
  ></app-header>

  <div class="buy-pass-body-block">
      <ng-container *ngIf="step === 0">
        <ng-container *ngIf="!isProcessing">
          <app-select-other-recipient
            (nextStepEmitter)="nextStepOfSelectDest($event)"
            *ngIf="currentProfil === PROFILE_TYPE_POSTPAID"
            [type]="'credit'"
          ></app-select-other-recipient>
          <app-select-recipient
            [purchaseType]="OPERATION_TYPE_RECHARGE_CREDIT"
            (getDestinataire)="nextStepOfSelectDest($event)"
            (getContact)="contactGot($event)"
            *ngIf="currentProfil !== PROFILE_TYPE_POSTPAID"
          >
          </app-select-recipient>
        </ng-container>
        <ng-container *ngIf="isProcessing">
          <div class="loading">
            <ion-spinner name="crescent"></ion-spinner>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="step === 1">
        <app-set-operation-amount
          (showSolde)="showOMBalancePinPad()"
          [hideUserSolde]="hideUserSolde"
          [currentBalance]="currentOMBalance"
          (next)="setAmount($event)"
          [omBalance]="omBalance"
        >
        </app-set-operation-amount>
      </ng-container>

      <ng-container *ngIf="step === 2">
        <app-operation-validation
          [operationType]="OPERATION_TYPE_RECHARGE_CREDIT"
          [rechargeCreditAmount]="amount"
          [recipient]="destinatorPhoneNumber"
          [buyForMe]="isForMyOwnNumber"
          [paymentMod]="choosedPaymentMod"
          [omRecipientLastName]="recipientLastName"
          [omRecipientFirstName]="recipientFirstName"
          (validate)="payCredit()"
        ></app-operation-validation>
      </ng-container>

      <ng-container *ngIf="step === 3">
        <app-operation-success-or-fail
          [failed]="failed"
          [amountRecharged]="amount"
          [operationType]="OPERATION_TYPE_RECHARGE_CREDIT"
          [buyForMe]="isForMyOwnNumber"
          [recipient]="recipient"
          (newOperation)="initialStep()"
          [recipientFirstName]="recipientLastName"
          [recipientLastName]="recipientFirstName"
        ></app-operation-success-or-fail>
      </ng-container>
  </div>
</div>
