<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" (click)="goBack()" class="oem-back-button">
        <img src="/assets/images/arrow-left.png" alt="icon" />
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      Parrainage
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
	<ion-header class="ion-padding-start" collapse="condense">
		<ion-toolbar>
			<span class="title">
				Parrainage
			</span>
		</ion-toolbar>
	</ion-header>

<div class="parrainage-page">
	<div class="banner-container">
		<img src="/assets/images/parrainage-banner.png" alt="banniere">
	</div>
  <div class="parrainage-page-body">
    <div class="description">
      Invite tes proches à télécharger et créer un compte sur l’appli Orange et Moi.
    </div>
    <div class="title">Mes parrainages ({{listSponsee?.length}})</div>
    <div class="filters" *ngIf="!loadingSponsees && !hasLoadingError">
      <div (click)="filterBy('INSCRITS')" class="filter" [ngClass]="{'filter-active': selectedFilter === 'INSCRITS'}">
        <span>Inscrits ({{effectiveNumber}})</span>
        <img *ngIf="selectedFilter === 'INSCRITS'" src="/assets/images/close-white.svg" alt="close"></div>
      <div (click)="filterBy('NON_INSCRITS')" class="filter"
        [ngClass]="{'filter-active': selectedFilter === 'NON_INSCRITS'}"><span>Non inscrits ({{notEffectiveNumber}})</span>
        <img *ngIf="selectedFilter === 'NON_INSCRITS'" src="/assets/images/close-white.svg" alt="close">
      </div>
    </div>
    <div class="sponsees">
      <!-- loader -->
      <div class="spinner" *ngIf="loadingSponsees">
        <mat-spinner mode="indeterminate" [diameter]="50"></mat-spinner>
      </div>
      <!-- list-sponsee -->
      <div class="list-sponsees" *ngIf="listSponseeShown && listSponseeShown?.length">
        <div class="sponsee" *ngFor="let sponsee of listSponseeShown">
          <div class="top-block">
            <div class="sponsee-infos">
              <div class="name scb-text-orange">{{(sponsee?.firstName && sponsee?.firstName !== '') ? sponsee?.firstName : 'Inconnu'}}</div>
              <div class="msisdn scb-text-dark-grey">(+221) {{sponsee?.msisdn}}</div>
            </div>
            <div class="sponsee-status">
              <img src="/assets/images/statut-inscrit.svg" alt="registered" *ngIf="sponsee?.effective">
              <img src="/assets/images/statut-non-inscrit.svg" alt="not-registered" *ngIf="!sponsee?.effective">
            </div>
          </div>
          <div class="rappel-block scb-text-orange" *ngIf="!sponsee?.effective">
            <span (click)="sendCallback(sponsee)">Envoyer un rappel</span>
            <span class="sms-status scb-text-green" *ngIf="sponsee?.CallbackSent">envoyé</span>
            <span class="sms-status scb-text-red-error" *ngIf="sponsee?.CallbackNotSent">non envoyé</span>
            <mat-spinner mode="indeterminate" [diameter]="20" *ngIf="sponsee?.sendingCallback"></mat-spinner>
          </div>
        </div>
      </div>
      <!-- error -->
      <div class="error scb-text-red-error" *ngIf="hasLoadingError" (click)="getAllSponsees()">Erreur lors du
        chargement. <span>Cliquez pour
          recharger</span></div>
      <!-- empty list -->
      <div class="empty" *ngIf="listSponseeShown && !listSponseeShown?.length">
        <span [ngSwitch]="selectedFilter">
          <span *ngSwitchCase="'INSCRITS'">
            Vous n'avez aucun <span class="bold">filleul</span> avec le statut <span class="bold">"inscrit".</span>
          </span>
          <span *ngSwitchCase="'NON_INSCRITS'">
            Vous n'avez aucun <span class="bold">filleul</span> avec le statut <span class="bold">"non inscrit".</span>
          </span>
          <span *ngSwitchCase="'NONE'">
            Vous n'avez pas de filleul actuellement.
          </span>
        </span>
      </div>
    </div>
  </div>
  <button class="scb-btn scb-btn-orange scb-btn-full" (click)="openModalNewSponsee()">Parrainer un nouveau
    contact</button>
</div>
</ion-content>