<div class="favorite-page oem-bottomsheet-container">
  <div matRipple class="arrow-left" (click)="navigateBack()">
    <img alt="" src="/assets/images/arrow-left.png" />
  </div>
  <div class="title">
    Sélectionner un compteur
  </div>
  <div class="description">
    Choisissez sur la liste
  </div>
  <div class="recents content">

    <div 
      matRipple
      class="oem-item"
      (click)="onFavoriteCounterSlected(counter)"
      *ngFor="let counter of counters$ | async; index as i; count as size"
    >
      <div class="logo">
        <img src="assets/images/woyofal@3x.png" />
      </div>
      <div class="labels" [ngClass]="i + 1 == size ? 'last-label' : ''">
        <span class="name"> {{ counter.name }}</span>
        <span class="number">{{ counter.counterNumber }}</span>
      </div>
    </div>
  </div>
</div>
