<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="goBack()" class="ion-padding-start" slot="start">
      <img src="/assets/images/arrow-left.png" alt="icon" class="arrow-left" />
    </ion-buttons>
    <ion-title class="ion-no-padding">
      <span class="title1">Communauté S’Cool</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header class="ion-padding-start" collapse="condense">
    <ion-toolbar>
      <span class="title">Bienvenue dans la communauté S’Cool</span>
    </ion-toolbar>
  </ion-header>
  <div class="community-page-body">
    <div class="search-bar-block">
      <ion-item lines="none">
        <ion-input placeholder="Rechercher dans la communauté"></ion-input>
        <ion-icon name="search" slot="end"></ion-icon>
      </ion-item>
    </div>
    <div class="body-content-block">
      <div class="categories-block">
        <div class="title-and-more">
          <span class="block-title">Les catégories</span>
          <span class="scb-text-orange voir-tout" (click)="openAllCategories()">Voir tout</span>
        </div>
        <div class="categories-list">
          <ng-container *ngIf="loadingFavoriteCategories">
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ng-container>          
          <ng-container *ngIf="categories && categories.length">
            <app-category-article-item (click)="goToCategory(category)" [category]="category" *ngFor="let category of categories"></app-category-article-item>
          </ng-container>
          <ng-container *ngIf="categoriesHasError">
            <div class="error-block">
              <span class="error-msg">{{errorMessage}}</span>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="recommended-articles-block">
        <div class="title-and-more">
          <span class="block-title">Vous intéresse</span>
          <span class="scb-text-orange voir-tout">Voir tout</span>
        </div>
        <div class="recommended-list">
          <ng-container *ngIf="loadingRecommendedArticles">
            <app-article-skeleton-loader [isVertical]="true"></app-article-skeleton-loader>
            <app-article-skeleton-loader [isVertical]="true"></app-article-skeleton-loader>
          </ng-container>
          <ng-container *ngIf="articlesRecommendations && articlesRecommendations.length">
            <app-vertical-article-item (click)="goToArticle(article)" [article]="article" *ngFor="let article of articlesRecommendations"></app-vertical-article-item>
          </ng-container>
          <ng-container *ngIf="recommendedHasError">
            <div class="error-block">
              <span class="error-msg scb-text-red-error" (click)="getRecommendedArticles()">{{errorMessage}}</span>
            </div>
          </ng-container>
          <ng-container *ngIf="!loadingRecommendedArticles && articlesRecommendations && !articlesRecommendations.length">
            <div class="empty-array">
              <span class="empty-array-msg">{{noArticleMsg}}</span>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="famous-articles-block">
        <div class="title-and-more">
          <span class="block-title">Populaires</span>
          <span class="scb-text-orange voir-tout">Voir tout</span>
        </div>
        <div class="famous-list">
          <ng-container *ngIf="loadingFamousArticles">
            <app-article-skeleton-loader></app-article-skeleton-loader>
            <app-article-skeleton-loader></app-article-skeleton-loader>
          </ng-container>
          <ng-container *ngIf="famousArticles && famousArticles.length">
            <app-horizontal-article-item (click)="goToArticle(article)" [article]="article" *ngFor="let article of articlesRecommendations"></app-horizontal-article-item>
          </ng-container>
          <ng-container *ngIf="famousHasError">
            <div class="error-block">
              <span class="error-msg scb-text-red-error" (click)="getFamousArticles()">{{errorMessage}}</span>
            </div>
          </ng-container>
          <ng-container *ngIf="!loadingFamousArticles && famousArticles && !famousArticles.length">
            <div class="empty-array">
              <span class="empty-array-msg">{{noArticleMsg}}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  </ion-content>