<div class="container-text-avantages">
  <div class="icon-info">
    <img src="/assets/images/information.svg" alt="" />
  </div>
  <div *ngIf="type !== 'novo-fees'" (click)="closeDialog()" class="icon-close">
    <img src="/assets/images/close-icon-blue.svg" alt="" />
  </div>
  <div class="container-text-avantages-body">
      <div class="scb-text-blue-popup title">
        <div *ngIf="type ==='illimix'">Nouveaux avantages</div>
        <div *ngIf="type ==='otp'">Attention aux arnaqueurs</div>
      </div>
      <div>
        <div *ngIf="type ==='illimix'" class="scb-text-blue-popup text">
            J’achète un illimix pendant que j’en ai un qui est valide,les contenus mn,sms,internet s’ajouteront. La
            validité sera celle de l’illimix qui a la plus longue durée. <br> Mon illimix a expiré depuis moins de 24h, j’en
            achète
            un nouveau, les
            minutes restantes seront ajoutées au nouveau. La durée de validité sera celle du nouvel illimix.
        </div>
        <div *ngIf="type ==='otp'" class="scb-text-blue-popup text">
          Vous allez recevoir un code par SMS. Ne communiquez ce code à personne, il est confidentiel.
        </div>
        <div *ngIf="type ==='novo-fees'" class="scb-text-blue-popup text">
          vous allez payer <span class="new_fees"> {{ +details?.sending_fees_Info?.effective_fees + details?.fee}}FCFA </span> de frais au lieu de <span class="old_fees"> {{ +details?.sending_fees_Info?.old_fees }} FCFA </span> grâce à nos nouveaux tarifs
        </div>
      </div>
    </div>
</div>