<div class="container-text-avantages">
  <div class="icon-info">
    <img src="/assets/images/information.svg" alt="" />
  </div>
  <div (click)="closeDialog()" class="icon-close">
    <img src="/assets/images/close-icon-blue.svg" alt="" />
  </div>
  <div class="container-text-avantages-body">
    <div class="scb-text-blue-popup title">
        Attention arnaques !
    </div>
    <div class="scb-text-blue-popup text">
        Vous allez recevoir un code par SMS. Ne communiquez ce code à personne, il est confidentiel.
    </div>
  </div>
</div>