<ion-header class="dashboard-top-block">
  <div class="dashboard-top-block-menu">
    <ion-menu-button
      ><img class="icon-menu" src="/assets/images/menu@3x.png" alt=""
    /></ion-menu-button>
  </div>
  <div class="dashboard-top-block-user">
    <span class="user-hello"
      >Bienvenue <span class="user-name">{{ firstName }}</span></span
    >
  </div> 
  <div (click)="goToMyAccount()" class="avatar">
    <img [src]="avatarUrl" alt="profil-mob" (error)="onErrorImgAvatar()" />
  </div>
</ion-header>
