@import 'src/app/app';

.dashboard-top-block {
  background-color: $white;
  position: relative;
  height: 50px;
  width: 100%;
  padding: 15px percentage(40px / $baseWidthMobile2) 15px
    percentage(40px / $baseWidthMobile2);
  text-align: center;
  &-menu {
    position: absolute;
    left: 10px;
    top: 14.5px;
    .icon-menu {
      width: 24px;
      height: 21px;
    }
  }

  &-user {
    .user-hello {
      font-family: HelveticaNeueLTStd-Roman, sans-serif;
      font-size: 20px;

      .user-name {
        font-family: HelveticaNeueLTStd-Bd, sans-serif;
      }
    }
  }

  .icon-notif {
    position: absolute;
    right: 10px;
    top: 15px;
  }
}
