<ion-header class="dashboard-top-block">
  <div class="dashboard-top-block-menu">
    <ion-menu-button [id]="'menu-icon' | generateIdForTA" (click)="openMenu()"
      ><img class="icon-menu" src="/assets/images/menu@3x.png" alt=""
    /></ion-menu-button>
  </div>
  <div class="dashboard-top-block-user">
    <span class="user-hello"
      >Bienvenue <span class="user-name">{{ firstName?.split(' ')[0] }}</span></span
    >
  </div>
  <div (click)="launchQrCode()" class="avatar">
		<ion-icon name="qr-code-outline" class="bell-icon"></ion-icon>
  </div>
</ion-header>
