@import 'src/app/app';

.select-beneficiary-container {
  padding: 30px 15px;
  --height: 300px;
  .title {
    font-size: 24px;
    font-family: HelveticaNeueLTStd-Bd;
    line-height: 1.25;
    color: $fullBlack;
    margin-bottom: 10px;
  }
  .description {
    font-family: HelveticaNeueLTStd-Roman;
    font-size: 16px;
    line-height: 1.25;
    color: $gray;
  }
  .beneficiary-number {
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;

		.transactions-label {

		}
    .country-block {
      width: 53px;
      height: 1px;
      .country-block-container {
        display: flex;
        position: absolute;
        top: -22px;
        .flag-icon {
          margin-right: 10px;
        }
      }
    }

    input {
      font-family: HelveticaNeueLTStd-Roman !important;
      height: 25px;
      padding-left: 12px;
      &.empty {
        height: unset !important;
      }
    }

    .icon {
      position: absolute;
      right: 122px;
      bottom: 43px;
    }
    .btn-contact {
      position: absolute;
      right: 15px;
      bottom: 40px;
      background-color: $white;
    }
  }
  .error-msg {
    margin-top: 10px;
    font-family: HelveticaNeueLTStd-Roman;
    font-size: 12px;
  }
  .loading-container {
    height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    .mat-spinner::ng-deep circle {
      stroke: $orange;
    }
  }
  .recents {
    height: 215px;
    margin-top: 15px;
    .recent-description {
      font-family: HelveticaNeueLTStd-Bd;
      font-size: 20px;
      line-height: 1.5;
      margin-bottom: 15px;
    }
    .oem-item {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      border-bottom: 1px solid $grayDashboard;
      padding-bottom: 15px;
      .logo {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $grayDashboard;
        font-family: HelveticaNeueLTStd-Bd;
        font-size: 12px;
        line-height: 1.33;
      }
      .labels {
        width: calc(100% - 24px);
        margin-left: 10px;
        span {
          display: block;
        }
        .name {
          font-family: HelveticaNeueLTStd-Roman;
          font-size: 16px;
          line-height: 1.38;
        }
        .number {
          font-family: HelveticaNeueLTStd-Roman;
          font-size: 12px;
          line-height: 1.33;
        }
      }
      .transaction-item {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-left: 35px;
        width: 100%;
        .transfer-ico {
          position: absolute;
          width: 25px;
          height: 25px;
          top: 0;
          left: 0;
        }
        .transfer-info-blc {
          display: flex;
          flex-direction: column;
          .rec-msisdn {
            font-size: 18px;
            font-family: 'HelveticaNeueLTStd-Roman';
            margin-bottom: 5px;
          }
          .op-ref {
            font-size: 12px;
            font-family: 'HelveticaNeueLTStd-Roman';
          }
        }
      }
    }
  }
  .access-recents {
    font-family: HelveticaNeueLTStd-Roman;
    font-size: 12px;
    margin: 20px 0 40px;
    .link {
      text-decoration: underline;
      font-family: HelveticaNeueLTStd-Bd;
    }
  }
  .confirm-btn {
    // position: relative;
    //position: absolute;
    width: 100%;
    bottom: 10px;
    // left: percentage(15/375);
    button {
      height: 50px;
      border-radius: 10px;
      background-color: #ff7900;
      text-transform: capitalize;
      font-family: HelveticaNeueLTStd-Roman !important;
      font-size: 16px;
      margin: 0px;
      color: white;
      width: 100%;
      font-weight: bold;
      &[disabled][disabled] {
        color: #ffffff;
        background-color: #cccccc;
      }
    }
    ion-button {
      height: 50px;
      --border-radius: 10px;
      --background-activated: #ff7900;
    }
    ion-spinner {
      position: absolute;
      top: 10px;
      right: 20px;
    }
  }
}
