@import 'src/app/app';

:host {
  width: 100%;
  height: 100%;
  position: relative;
}

.om-hub-header {
  padding: 17px 0 25px;
  background-image: linear-gradient(to bottom, #fff, #f2f2f7);
  // background-color: $white;
  text-align: left;
  .header-top-block {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    .title {
      font-size: 30px;
      letter-spacing: -0.34px;
    }
    .search-icon {
      font-size: 26px;
    }
  }
}

.universe-om-content {
  --ion-background-color: #f3f3f8;
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-top: 30px;
  --padding-bottom: 250px;
  transition: 0.28s linear;
  position: relative;
  .om-hub-actions {
    .actions-loader-block {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .action-loader {
        width: 48%;
        height: 130px;
        border-radius: 10px;
        margin-bottom: 10px;
      }
    }
    .om-services-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      app-action-item {
        width: 48%;
        margin-left: 0 !important;
        margin-bottom: 15px;
      }
    }
    .no-services {

    }
    .services-error {

    }
  }
  .recent-transactions {
    margin-top: 30px;
    .title-recent {
      text-align: left;
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 1.5;
    }
    .transactions-loader-block {
      position: relative;
      .line-divs-block {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 0 12px;
        .line-div {
          width: 100%;
          height: percentage(1/3);
          &:not(:last-child) {
            border-bottom: solid 2px $white;
          }
        }
      }
      .transaction-loader {
        height: 285px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
      }
    }
    .om-transactions-list {
      border-radius: 10px;
      background-color: $white;
      padding: 30px 18px 30px 12px;
      display: flex;
      flex-direction: column;
      app-transaction-item {
        &:not(:first-child) {
          padding-top: 15px;
        }
        &:not(:last-child) {
          border-bottom: solid 2px $silver;
          padding-bottom: 15px;
        }
      }
    }
  }
}