<app-dashboard-header [firstName]="firstName"></app-dashboard-header>
<ion-content>
  <div class="dashboard-container-mobile">
    <div class="dashboard-block-conso">
      <div class="dashboard-block-conso-top-texts">
        <div><span class="suivi-conso">Suivi conso</span></div>
        <div
          (click)="goDetailsCom(0)"
          class="voir-details-text scb-text-orange"
        >
          Voir details
        </div>
      </div>
      <div class="dashboard-block-conso-btns">
        <ion-slides [options]="slideOpts">
          <ion-slide>
            <div (click)="goDetailsCom()" class="scb-btn-purple scb-btn-pass">
              <div class="scb-btn-top-block">
                <img
                  class="scb-btn-top-block-icon"
                  src="/assets/images/data-services.svg"
                  alt="curency-cfa-3-mob"
                />
                <div class="scb-btn-top-block-text">
                  <span class="text">Pass total restant</span>
                </div>
              </div>
              <div class="bottom-block">
                <span class="value"
                  >{{ userCallConsoSummary?.consoData |
                  passVolumeDisplay}}</span
                >
              </div>
              <div
                class="validity-text"
                *ngIf="internetValidity && userCallConsoSummary?.consoData"
              >
                Expire le {{ internetValidity }}
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div (click)="goDetailsCom()" class="scb-btn-green scb-btn-credit">
              <div class="scb-btn-top-block">
                <img
                  class="scb-btn-top-block-icon"
                  src="/assets/images/orange-dialler-white.svg"
                  alt="curency-cfa-3-mob"
                />
                <div class="scb-btn-top-block-text">
                  <span class="text">Crédit global</span>
                </div>
              </div>
              <div class="bottom-block">
                <span class="value"
                  >{{ userCallConsoSummary?.globalCredit }} FCFA
                </span>
              </div>
              <div
                class="validity-text"
                *ngIf="creditValidity && userCallConsoSummary?.globalCredit"
              >
                Expire le {{ creditValidity }}
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <app-om-button></app-om-button>
          </ion-slide>
        </ion-slides>
      </div>
      <div class="dashboard-block-conso-details">
        <div *ngIf="loadingConso" class="dashboard-block-spinner">
          <mat-spinner mode="indeterminate" [diameter]="60"></mat-spinner>
        </div>
        <div
          *ngIf="errorOnLoadingConso"
          class="dashboard-block-conso-details-spinner"
          (click)="getConso()"
        >
          <span class="scb-text-full-black">
            Erreur lors du chargement des données. Réactualiser
          </span>
        </div>
        <ng-container *ngFor="let conso of userConsommationsCategories">
          <div class="dashboard-block-conso-details-item" *ngIf="!loadingConso">
            <div class="conso-name-value-line">
              <span class="conso-name scb-text-gray">{{ conso.compteur }}</span>
              <span class="conso-value scb-text-full-black"
                >{{ conso.montantFormat }}<span class="text-style-1"></span
              ></span>
            </div>
            <ng-container
              *ngIf="
            conso.code !== 184 && conso.code !== 196 && conso.code !== 77;
            else compteurNuit
          "
            >
              <div class="conso-expiration-line">
                <span class="conso-expiration-date scb-text-light-black"
                  >Expire le {{ conso.dateExpiration }}</span
                >
              </div>
            </ng-container>
            <ng-template #compteurNuit>
              <div class="conso-expiration-line">
                <span class="conso-expiration-date scb-text-light-black"
                  >Utilisable de 00h à 08h</span
                >
              </div>
            </ng-template>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="pass-container" *ngIf="listPass.length">
      <div class="title">Acheter un pass internet</div>
      <div class="list-pass">
        <div
          class="item"
          *ngFor="let pass of listPass"
          (click)="selectPass(pass?.id)"
        >
          <div class="pass-infos">
            <div class="price">
              <span class="scb-text-black"
                >{{ !pass.passPromo ? pass?.volumeInternet :
                pass?.passPromo?.volumeInternet }} -
              </span>
              <span class="scb-text-orange"
                >{{ !pass.passPromo ? pass?.tarif : pass?.passPromo?.tarif }}
                F</span
              >
            </div>
            <div class="validity scb-text-light-black">
              Valable
              <span
                [ngSwitch]="
              !pass?.passPromo
                ? pass?.categoriePass?.libelle
                : pass?.passPromo?.categoriePass?.libelle
            "
              >
                <span *ngSwitchCase="'Jour'">24 heures.</span>
                <span *ngSwitchCase="'Semaine'">7 jours.</span>
                <span *ngSwitchCase="'Mois'">1 mois.</span>
                <span *ngSwitchCase="'Nuit'">de 00h à 08h.</span>
                <span *ngSwitchDefault>3 jours.</span>
              </span>
            </div>
          </div>
          <div class="img-container">
            <img src="/assets/images/arrow-right.svg" alt="arrow-right" />
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="showPromoBanner || (listBanniere.length && showPromoBanner)"
      class="dashboard-img-promo slide-container"
    >
      <ion-slides pager [options]="{loop: true}">
        <ng-container *ngFor="let banniere of listBanniere">
          <ion-slide>
            <span #error class="error-slide scb-text-full-black">
              Erreur lors du chargement de l'image</span
            >
            <div class="description">
              <div class="title">
                {{getBanniereTitle(banniere.description)}}
              </div>
              <div class="text">
                {{getBanniereDescription(banniere.description)}}
              </div>
            </div>
            <div class="img-container">
              <img
                #img
                (error)="
              onError([
                { el: error, display: true },
                { el: img, display: false }
              ])
            "
                [src]="banniere.image"
                alt="ban"
              />
            </div>
          </ion-slide>
        </ng-container>
      </ion-slides>
      <div class="close-icon" (click)="hidePromoBarner()" *ngIf="0">
        <img src="/assets/images/group-14.svg" alt="hide-banniere-promo" />
      </div>
    </div>
  </div>
</ion-content>
<app-ibou-ion-fab></app-ibou-ion-fab>
