<ion-header class="services-header">
  <div class="header-top-block">
    <div class="title">
      Services
    </div>
    <ion-icon name="search-outline" class="search-icon" (click)="(0)"></ion-icon>
  </div>
  <div class="search-bloc" [appScrollVanish]="scrollArea">
    <ion-searchbar placeholder="Rechercher un service"></ion-searchbar>
  </div>
  <div class="services-custom-tabs">
    <div class="conso-tab scb-text-light-black" *ngFor="let tab of servicesByCategoriesArray, let i = index"
      (click)="setSlidesIndex(i)" [ngClass]="{'active-tab': i === currentSlideIndex}">{{tab?.category?.libelle}}</div>
  </div>
</ion-header>

<ion-content #scrollArea class="services-content" [scrollEvents]="true">
  <ng-container *ngIf="loadingServices else servicesList">
    <div class="loader-container">
      <ion-skeleton-text animated class="service-loader"></ion-skeleton-text>
      <ion-skeleton-text animated class="service-loader"></ion-skeleton-text>
      <ion-skeleton-text animated class="service-loader"></ion-skeleton-text>
      <ion-skeleton-text animated class="service-loader"></ion-skeleton-text>
    </div>
  </ng-container>
  <ng-template #servicesList>
    <ion-slides [options]="slideOpts" #slides (ionSlideDidChange)="getCurrentSlide()">
      <ion-slide *ngFor="let slide of servicesByCategoriesArray, let j = index">
        <div class="services-list">
          <ng-container *ngFor="let service of slide.services">
            <app-offre-service-card-v2 *ngIf="!service.passUsage" [service]="service">
            </app-offre-service-card-v2>
          </ng-container>
        </div>
        <div class="pass-usage-bloc" *ngIf="containPassUsage(slide.services)">
          <span class="usage-title">Autres</span>
          <div class="services-list">
            <ng-container *ngFor="let service of slide.services">
              <app-offre-service-card-v2 *ngIf="service.passUsage" [service]="service">
              </app-offre-service-card-v2>
            </ng-container>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </ng-template>
  <div class="empty-div-effect"></div>
</ion-content>