<app-dashboard-header [firstName]="firstName"></app-dashboard-header>
<ion-content>
  <div class="dashboard-container-mobile">
    <ng-container *ngIf="!isLoading && hasErrorSubscription">
      <div class="scb-text-error">
        Une erreur est survenue lors de la recupération de vos informations.
      </div>
      <div (click)="getCurrentSubscription()" class="text">
        <span class="reload">
          Actualiser ici
        </span> 
      </div>
    </ng-container>
    <ng-container *ngIf="isLoading">
      <div class="spinner">
        <mat-spinner mode="indeterminate" *ngIf="isLoading" [diameter]="30"></mat-spinner>
      </div>
    </ng-container>
  </div>
</ion-content>
