<div class="item-pass-internet">
  <div class="top-block">
      <span class="price scb-text-orange"> 1 000 FCFA </span>
  </div>
  <div class="bottom-block">
    <div class="left-side">
      <span class="item-volume">
          4 Go
      </span>
      <span class="item-type scb-text-gray">
          Internet
      </span>
    </div>
    <div class="right-side">
      <span class="item-validity scb-text-gray">
          Valable 30 jours 24h/24
      </span>
      <span class="item-bonus scb-text-gray">
          + 1 Go offert entre 00h et 08h
      </span>
    </div>
  </div>
  <div class="promo-block">
    <span class="description scb-text-white">Pass exclusif jeudi orange et moi</span>
    <span class="arrow"></span>
  </div>
</div>