<div class="item-container" (click)="choosePass(passInternet)">
  <div class="item-pass-internet">
    <div class="top-block">
        <span class="price scb-text-orange"> {{ !passInternet.passPromo ? passInternet?.tarif : passInternet?.passPromo?.tarif }} FCFA </span>
    </div>
    <div class="bottom-block">
      <div class="left-side">
        <span class="item-volume">
            {{ !passInternet.passPromo ? passInternet?.volumeInternet : passInternet?.passPromo?.volumeInternet }}
        </span>
        <span class="item-type scb-text-gray">
            Internet
        </span>
      </div>
      <div class="right-side">
        <span *ngIf="!passInternet?.passPromo" class="item-validity scb-text-gray">
            <ng-container
            [ngSwitch]="
              !passInternet?.passPromo ? passInternet?.categoriePass?.libelle : passInternet?.passPromo?.categoriePass?.libelle
            "
          >
            <ng-container *ngSwitchCase="'Jour'"> 24 heures.</ng-container>
            <ng-container *ngSwitchCase="'Semaine'"> 7 jours.</ng-container>
            <ng-container *ngSwitchCase="'Mois'"> 1 mois.</ng-container>
            <ng-container *ngSwitchCase="'Nuit'"> de 00h à 08h.</ng-container>
            <ng-container *ngSwitchDefault> 3 jours.</ng-container>
        </ng-container>
          24h/24
        </span>
        <span *ngIf="passInternet?.passPromo" class="item-validity scb-text-gray">
          Valable jusqu'au {{ passInternet?.dateFin | date: 'dd MMM' }}
        </span>
        <span class="item-bonus scb-text-gray">
            {{
              !passInternet.passPromo ? passInternet?.bonusNuit : passInternet?.passPromo?.bonusNuit
            }}
        </span>
      </div>
    </div>
    <div *ngIf="passInternet?.passPromo" class="promo-block">
      <span class="description scb-text-white"> {{ passInternet.description }}</span>
      <span class="arrow"></span>
    </div>
  </div>
</div>