@import 'src/app/app';

.share-social-network-container {
  padding: 30px 25px;
  position: relative;
  .icon-close {
    position: absolute;
    right: 15px;
    top: 15px;
    img {
      width: 21px;
      height: 21px;
    }
  }
  .title {
    font-family: HelveticaNeueLTStd-Bd;
    font-size: 24px;
    letter-spacing: -0.3px;
  }
  .ibou-block {
    display: flex;
    &-text {
      margin-top: 10px;
      .text {
        font-family: HelveticaNeueLTStd-Roman, sans-serif;
        font-size: 16px;
        line-height: 1.38;
      }
    }
    &-img {
      margin-top: -10px;
    }
  }
  .share-social-network-list {
    &-item {
      height: 60px;
      display: flex;
      align-items: center;
      width: 100%;
      padding-right: 15px;
      justify-content: space-between;
      border-radius: 3px;
      border: solid 1px $silver;
      .social-network-block {
        .icon {
          width: 60px;
          height: 60px;
          display: inline-block;
          vertical-align: middle;
          img {
            width: 100%;
            height: auto;
          }
        }
        .text {
          font-family: HelveticaNeueLTStd-Roman, sans-serif;
          font-size: 18px;
          margin-left: 15px;
          display: inline-block;
          vertical-align: middle;
        }
      }
      .checkbox {
        .mat-checkbox-checked.mat-accent .mat-checkbox-background,
        .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
          background-color: $orange;
        }
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      &.item-selected {
        .social-network-block {
          .text {
            font-family: HelveticaNeueLTStd-Bd, sans-serif;
            color: $orange;
          }
        }
      }
    }
  }
  .scb-btn-full {
    margin-top: 10px;
  }
  .scb-share-label-orange {
    color: $orange;
    font-weight: bold;
  }
}
