<div class="type-otp-modal">
  <div class="title">Confirmez votre numéro</div>
  <div class="sub-title scb-text-gray">Entrez le code reçu par SMS au 77 445 29 16</div>
  <div class="input-block">
    <div class="fake-input-block">
      <div class="square" [ngClass]="{'active': input.value.length === 0}"></div>
      <div class="square" [ngClass]="{'active': input.value.length === 1}"></div>
      <div class="square" [ngClass]="{'active': input.value.length === 2}"></div>
      <div class="square" [ngClass]="{'active': input.value.length >= 3}"></div>
    </div>
    <ion-input #input type="text" maxlength="4" pattern="\d*" [ngClass]="{'cursor-hidden': input.value.length === 4}"></ion-input>
  </div>
  <div class="resend-block scb-text-gray">Vous n’avez pas reçu de SMS ? <span class="scb-text-orange">Renvoyer</span> </div>
  <button class="scb-btn scb-btn-orange scb-btn-full">Continuer</button>
</div>
