<ion-item button detail="false" (click)="selectItem(line)" lines="none" class="item-custom-style" [ngClass]="{ 'selected': checked } ">
  <div class="item-rattached-number">
    <div class="left-block">
      <div class="icon">
        <img src="/assets/images/sim-card-solid-new.svg" alt="">
      </div>
      <div class="text-infos">
        <span class="number"> {{ line?.msisdn | phoneNumberDisplay  }} </span>
        <span class="formule scb-text-light-black"> {{ line?.formule }} </span>
      </div>
    </div>
    <div class="right-block">
      <div class="circle" *ngIf="!isEditable">
        <ion-checkbox mode="ios" slot="end" [disabled]="!isEditable" [checked]="checked" ></ion-checkbox>
      </div>
      <div *ngIf="isEditable">
        <ion-text class="scb-text-orange">
          Supprimer
        </ion-text>
      </div>
    </div>
  </div>
</ion-item>
