	<div class="visualize-stories-container">
		<div class="progress-bar-list">
		<ng-container *ngFor="let item of storyByCategory?.stories; let id=index; let last=last">
				<app-stories-progress-bar [isCurrentStory]="id === currentSlideIndex" [story]="item" [isLast]="last"  [idStory]="currentSlideIndex" (idStoryChange)="onProgressFinish($event)" (finish)="close()" ></app-stories-progress-bar>
			</ng-container>
		</div>
		<swiper [config]="config" [slidesPerView]="1" (swiper)="setSwiperInstance($event)" #slides (touchStart)="pauseStory($event)" (touchEnd)="playStory($event)" (slideChange)="slideChange()" >
			<ng-template swiperSlide *ngFor="let item of storyByCategory?.stories; let last = last; let id=index">
				<div class="navigation-custom left prev">
				</div>
				<div class="navigation-custom right next">
				</div>
				<app-visualize-story #story (touch)="clickOnSlide($event)" [isVisible]="storyByCategory?.stories[currentSlideIndex]?.id === item?.id && isVisibleForHigherView" [story]="item" (mediaDurationChange)="setProgressBarDuration($event, id)" (audioReady)="onAudioReady($event)" (imageReady)="onImageReady($event)" ></app-visualize-story></ng-template>
		</swiper>
	</div>