@import "src/app/app";

:host {
  min-width: initial;
  flex: 1 1 auto;
}
.progress-bar {
  .custom-progress-bar {
    --background: #999;
    --progress-background: #fff;
    border-radius: 4.5px;
    height: 5px;
  }
}
