<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="goBack()" class="ion-padding-start" slot="start">
      <img src="/assets/images/arrow-left.png" alt="icon" class="arrow-left" />
    </ion-buttons>
    <ion-title class="ion-no-padding">
      <span class="title1">
        {{title}}
      </span>
    </ion-title>
    <ion-spinner *ngIf="!hasError && isLoadingFees" name="crescent" slot="end"></ion-spinner>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <ion-header class="ion-padding-start" collapse="condense">
    <ion-toolbar>
      <span class="title">
        {{title}}
      </span>
    </ion-toolbar>
  </ion-header>
  <div class="transferts-page">
    <div class="banniere-container">
      <img src="/assets/images/achat-de-credit.png" alt="header-transfer" />
    </div>
    <div class="sub-title">{{subtitle}}</div>
    <div class="form" *ngIf="!hasError">
      <form
        [formGroup]="setAmountForm"
        novalidate
        autocomplete="false"
      >
        <mat-form-field class="scb-input-row amount-input" appearance="outline">
          <mat-label>Saisir le montant &nbsp;&nbsp;</mat-label>
          <input
            #amountInput
            matInput
            formControlName="amount"
            type="number"
            (input)="onAmountChanged($event)"
          />
          <span matSuffix class="scb-text-gray suffix">FCFA</span>
        </mat-form-field>
        <div
          class="transfer-options"
          *ngIf="purchaseType === OPERATION_TRANSFER_OM_WITH_CODE || purchaseType === OPERATION_TRANSFER_OM"
        >
          <ion-list>
            <ion-item class="ion-no-padding" *ngIf="0">
              <ion-label class="label">
                Frais de retrait
              </ion-label>
              <ion-label class="fees-value" slot="end">
                {{fee}} FCFA
              </ion-label>
            </ion-item>
            <ion-item *ngIf="purchaseType === OPERATION_TRANSFER_OM" class="ion-no-padding">
              <ion-label class="label">Frais d'envoi</ion-label>
              <ion-label class="fees_value" slot="end"> + {{sending_fees_Info.effective_fees | number }} FCFA  </ion-label>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-label class="label">Frais de retrait</ion-label>
              <ion-label class="fees_retrait_value"> + {{+fee | number }} FCFA  </ion-label>
              <ion-toggle
                (ionChange)="handleFees($event, amountInput.value)"
                slot="end"
                [disabled]="purchaseType === OPERATION_TRANSFER_OM_WITH_CODE"
                [checked]="purchaseType === OPERATION_TRANSFER_OM_WITH_CODE"
              ></ion-toggle>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-label class="label">Transfert avec code </ion-label>
              <ion-toggle
                #transfertOMTypeToggle
                [disabled]="userHasNoOmAccount"
                (ionChange)="toggleTransferWithCode($event, amountInput.value)"
                [checked]="userHasNoOmAccount"
                slot="end"
              ></ion-toggle>
            </ion-item>
          </ion-list>
        </div>
        <div
          class="recipient-info-block"
          *ngIf="purchaseType === OPERATION_TRANSFER_OM_WITH_CODE"
        >
          <mat-form-field
            class="scb-input-row scb-required"
            appearance="outline"
          >
            <mat-label>Prénom du destinataire &nbsp;&nbsp;</mat-label>
            <input formControlName="recipientFirstname" type="text" matInput />
          </mat-form-field>
          <mat-form-field
            class="scb-input-row scb-requireàd"
            appearance="outline"
          >
            <mat-label>Nom du destinataire &nbsp;&nbsp;</mat-label>
            <input formControlName="recipientLastname" type="text" matInput />
          </mat-form-field>
        </div>
        <div class="error-display scb-text-red-error" *ngIf="error && amountInput.value">
          {{error}}
        </div>
        <div class="btn-container">
          <ion-button
            type="submit"
            expand="block"
            (click)="goNext()"
            [disabled]="!setAmountForm?.valid || checkingAmount || error || isLoadingFees"
          >
            <span>Continuer ({{ totalAmount }} FCFA)</span>
            <mat-spinner
              mode="indeterminate"
              [diameter]="20"
              *ngIf="checkingAmount"
            ></mat-spinner>
          </ion-button>
        </div>
      </form>
    </div>
    <div class="scb-text-red-error" (click)="getPurchaseType()" *ngIf="hasError && !isLoadingFees">
      Veuillez cliquer pour réactualiser la page
    </div>
  </div>
</ion-content>
