<div class="select-beneficiary-container">
  <ng-container *ngIf="typeModal === OPERATION_CANCEL_TRX_MLITE">
    <div class="title">Demande Annulation Transaction</div>
    <div class="description">Veuillez valider ou Rejeter cette demande d'annulation de la transaction:</div>
    <app-transaction-item [transaction]="transaction"></app-transaction-item>
    <div *ngIf="!isLoading" class="confirm-btn">
      <ion-button shape="round" (click)="process(true)" class="btn btn-confirm" expand="block">Oui, Je valide </ion-button>
      <ion-button shape="round" (click)="process(false)" class="btn btn-cancel" expand="block">Non , Je rejete</ion-button>
    </div>
    <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
    <span *ngIf="hasErrorMsg" class="scb-text-red-error">
      {{ hasErrorMsg }}
    </span>
  </ng-container>
  <ng-container *ngIf="typeModal === OPERATION_CONFIRM_DELETE_RATTACH_NUMBER">
    <div class="title">Supression de ligne rattachée</div>
    <div class="description">
      Etes-vous sûr de vouloir supprimer cette ligne
      <span class="custom">
        {{ numero }}
      </span>
      de votre compte Orange et Moi
    </div>
  </ng-container>
  <ng-container *ngIf="typeModal === OPERATION_SUGGEST_RATTACH_NUMBER">
    <div class="title">Rattacher la ligne</div>
    <div class="description">
      Pour pouvoir payer les factures pour la ligne
      <span class="custom">
        {{ numero }}
      </span>
      , vous devrez la rattacher.
    </div>
  </ng-container>

  <ng-container *ngIf="typeModal === OPERATION_CONFIRM_RATTACHMENT">
    <div class="title">Ce numéro est rattaché à un compte</div>
    <div class="description">
      Êtes vous sur de vouloir rattacher
      <span class="custom">
        {{ numero }}
      </span>
      ?
    </div>
  </ng-container>
  <div *ngIf="typeModal !== OPERATION_CANCEL_TRX_MLITE" class="confirm-btn">
    <ion-button shape="round" (click)="process(true)" class="btn btn-confirm" expand="block">Oui, Continuer</ion-button>
    <ion-button shape="round" (click)="process(false)" class="btn btn-cancel" expand="block">Non , annuler</ion-button>
  </div>
</div>
