<div class="on-boarding">
	<div class="ignore-text scb-text-orange" (click)="goToCheckNumberPage()">Ignorer</div>
	<div class="slider-content">
		<ion-slides #sliders pager="false" [options]="slideOpts" (ionSlideDidChange)="slideChanged()">
			<ion-slide *ngFor="let slide of slides; let i = index">
				<img [src]="slide.imageSrc" alt="slide" />
				<div class="title scb-text-black">{{ slide.title }}</div>
				<div class="text scb-text-gray">{{ slide.text }}</div>
			</ion-slide>
		</ion-slides>
	</div>
	<div class="navigation">
		<div class="navigation-bullets">
			<span
				*ngFor="let bullet of slides; let j = index"
				class="bullet"
				[ngClass]="{ 'bullet-is-active': j === currentSlideIndex }"
			></span>
		</div>
		<div class="next-slide" (click)="next()" *ngIf="currentSlideIndex < 3">
			<div class="scb-text-orange">Suivant</div>
			<div class="img-container">
				<ion-icon name="md-arrow-forward"></ion-icon>
			</div>
			<div class="btn-container"></div>
		</div>
		<div class="slide-end" *ngIf="currentSlideIndex === 3">
			<button mat-stroked-button class="scb-btn scb-btn-orange scb-btn-start" (click)="goToCheckNumberPage()">
				Demarrer
			</button>
		</div>
	</div>
</div>
