<div class="list-number-modal">
  <div class="title">Ce contact a plusieurs numéros</div>
  <div class="sub-title scb-text-light-black">
    Veuillez en selectionner un sur la liste ci-dessous
  </div>
  <form [formGroup]="form">
    <div
      class="item"
      *ngFor="let item of data?.phoneNumbers; let i=index"
      (click)="selectNumber(item.value)"
      [ngClass]="{ 'item-selected': selectedNumber === item.value }"
    >
      <span>{{ item?.value }}</span>
      <mat-radio-button [id]="'number-'+i"
        [checked]="selectedNumber === item.value"
      ></mat-radio-button>
      <!-- <input type="radio" formControlName="gender" [value]="item?.value" /> -->
    </div>
    <div class="btn-container">
      <button
        class="scb-btn scb-btn-orange"
        [disabled]="!selectedNumber"
				id="confirm-btn"
        (click)="validateNumber()"
      >
        Continuer
      </button>
    </div>
  </form>
</div>
