<div class="scb-my-account-mobile-wrapper">
  <div class="scb-my-account-header-mobile">
    <img
      routerLink="/dashboard"
      src="/assets/images/arrow-left.svg"
      class="scb-arrow-left-update-password"
      alt="arrow-left"
    />
    <div class="scb-my-account-header-label scb-text-full-black">
      Mon compte
    </div>
  </div>
  <div class="scb-my-account-infos-block">
    <div class="user-avatar-container">
      <img
        alt=""
        class="user-avatar"
        [src]="userAvatarUrl"
        (error)="setImgAvatarToDefault()"
      />
      <input
        type="file"
        accept="image/png, image/jpg, image/jpeg"
        (change)="onAvatarSelected($event)"
        #inputAvatar
        class="upload-avatar"
      />
      <div class="input-icon">
        <img
          alt=""
          class="user-avatar-chooser"
          src="/assets/images/add-picture.svg"
          (click)="inputAvatar.click()"
        />
      </div>
    </div>
    <div *ngIf="errorImageFormat" class="error-field">
      <span class="user-img-error scb-text-orange">{{ errorMsg }}</span>
    </div>

    <div class="user-name-light">Bienvenue</div>
    <div class="user-name-bold">
      {{ userInfos?.lastName }} {{ userInfos?.firstName }}
    </div>
  </div>
  <div class="my-account-menu-block">
    <div id="my-account-menu">
      <div
        class="my-account-menu-item"
        routerLink="/my-account/change-password"
      >
        <span>Modifier mon mot de passe</span>
        <div class="my-account-menu-item-icon">
          <img
            src="/assets/images/keyboard-arrow-right-black.svg"
            class="scb-my-account-arrow-right"
            alt="arrow-right"
          />
        </div>
      </div>
      <div class="my-account-menu-item" (click)="launchInProgressPage()">
        <span>{{
          emailTitle ? emailTitle : 'Modifier mon adresse email'
        }}</span>
        <div class="my-account-menu-item-icon">
          <img
            src="/assets/images/keyboard-arrow-right-black.svg"
            class="scb-my-account-arrow-right"
            alt="arrow-right"
          />
        </div>
        <div *ngIf="emailState === 1" class="email-state-container">
          <span>Votre email {{ userInfos?.email }} n'a pas été confirmé .</span>
          <span class="link"> Renvoyer l'email</span> ou
          <span class="link">Retirer l'email</span>
        </div>
      </div>
      <div (click)="goToRattachmentPage()" class="my-account-menu-item">
        <span>Rattacher une ligne</span>
        <div class="my-account-menu-item-icon">
          <img
            src="/assets/images/keyboard-arrow-right-black.svg"
            class="scb-my-account-arrow-right"
            alt="arrow-right"
          />
        </div>
      </div>
      <div routerLink="/my-account/delete-number" class="my-account-menu-item">
        <span>Supprimer une ligne</span>
        <div class="my-account-menu-item-icon">
          <img
            src="/assets/images/keyboard-arrow-right-black.svg"
            class="scb-my-account-arrow-right"
            alt="arrow-right"
          />
        </div>
      </div>
      <div class="logout-menu-item">
        <span (click)="logOut()">Je me déconnecte</span>
      </div>
    </div>
  </div>
</div>
