@import 'src/app/app';

.modal-set-amount {
  padding: 30px percentage(15/375);
  .title {
    font-family: HelveticaNeueLTStd-Bd;
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 25px;
  }
  form {
    .error-display {
      font-family: HelveticaNeueLTStd-Bd;
      font-size: 12px;
      padding: 15px 0;
    }
    mat-form-field {
      position: relative !important;
      .arrows {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 5px;
        position: absolute;
        height: 40px;
        top: 0;
        right: 0;
        .arrow-container {
          height: 45%;
          .arrow {
            width: 15px;
            height: 20px;
          }
        }
      }
    }
    .amount-suggestions {
      font-family: 'HelveticaNeueLTStd-Roman';
      padding: 0 5px 21.5px;
      .extrem {
        animation: breathing 5s ease-out infinite normal;
        border: solid 1.5px $orange;
        border-radius: 7px;
        padding: 3px 5px;
        display: inline-block;
        line-height: 1;
      }
    }
    .amount-validity {
      font-family: HelveticaNeueLTStd-Roman;
      font-size: 14px;
      padding-bottom: 20px;
      .validity {
        font-size: 17px;
      }
    }
    .rapid-choices {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .choice {
        width: percentage(105/345);
        border-radius: 10px;
        border: solid 1px $silver;
        text-align: center;
        padding: 15px 0;
        margin-bottom: 15px;
        .value {
          font-family: HelveticaNeueLTStd-Bd;
          font-size: 16px;
        }
        .unit {
          font-family: HelveticaNeueLTStd-Roman;
          font-size: 12px;
          line-height: 1.17;
        }
        .choice-validity {
          font-size: 12px;
          font-family: HelveticaNeueLTStd-Roman;
        }
      }
    }
    button {
      border-radius: 10px;
    }
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  25% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  60% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}
