<div class="modal-set-amount">
  <div class="title">Montant</div>
  <form [formGroup]="amountForm" novalidate autocomplete="false" (submit)="(0)">
    <mat-form-field class="scb-input-row amount-input" appearance="outline">
      <mat-label>saisir un autre montant &nbsp;&nbsp;</mat-label>
      <input #amountInput matInput formControlName="amount" type="number" />
      <span matSuffix class="scb-text-gray suffix">FCFA</span>
    </mat-form-field>
    <div class="rapid-choices">
      <div class="choice" *ngFor="let choice of rapidChoices" (click)="setAmount(choice)">
        <div class="value">{{choice}}</div>
        <div class="unit scb-text-gray">FCFA</div>
      </div>
    </div>
    <div class="error-display scb-text-red-error" *ngIf="hasError">
      {{error}}
    </div>
    <button class="scb-btn scb-btn-full scb-btn-orange" [disabled]="!amountForm.valid" (click)="setAmount(amountInput.value)">Confirmer</button>
  </form>

</div>