<div class="bills-mobile-page">
  <!-- Header -->
  <div class="bills-mobile-header">
    <div class="arrow-left" (click)="goBack()">
      <img alt="" src="/assets/images/arrow-left.png" />
    </div>
    <div class="title">
      <span>Détails facture {{ mois }} {{ annee }}</span>
    </div>
  </div>
  <!-- loader -->
  <div class="spinner" *ngIf="loading">
    <mat-spinner mode="indeterminate" [diameter]="60"></mat-spinner>
  </div>

  <!-- error when loading bills -->
  <div class="error scb-text-red-error" *ngIf="error">
    N'a pas pu charger les factures.
    <span (click)="getBills()">Cliquez pour recharger</span>
  </div>

  <!-- BillsContainer -->
  <div class="bills-container" *ngIf="details">
    <div *ngIf="!details.length" class="scb-text-red-error no-details">
      Ce bordereau ne contient pas de détails
    </div>
    <div *ngIf="details.length" class="details-container">
      <div class="single-detail" *ngFor="let detail of details">
        <div class="title-status">
          <span class="title">{{
            detail.numeroTelephone | getLabelLigneBillBordereau
          }}</span>
          <span
            [ngClass]="{
              'scb-text-red-error status': detail.statutFacture === 'unpaid',
              'scb-text-green status': detail.statutFacture === 'paid'
            }"
            >{{ detail.statutFacture === 'paid' ? 'Payée' : 'Impayée' }}</span
          >
        </div>
        <div class="scb-text-item-offre-black designation">
          Désignation {{ detail.numeroTelephone }}
        </div>
        <div class="numero-amount">
          <span class="scb-text-item-offre-black numero"
            >N° {{ detail.nfact }}</span
          >
          <span class="amount">{{ detail.montantFacture }} F</span>
        </div>
        <div class="echeance">
          <span class="scb-text-item-offre-black echeance-date" #details
            >Date d'échéance {{ detail.dateEcheance | formatBillDate }}</span
          >
          <img
            alt=""
            src="/assets/images/keyboard-arrow-up-black.svg"
            *ngIf="details.show"
            (click)="details.show = !details.show"
          />
          <img
            alt=""
            src="/assets/images/arrow-down.svg"
            *ngIf="!details.show"
            (click)="details.show = !details.show"
          />
        </div>
        <div class="more-infos" *ngIf="details.show">
          <div class="more-infos-item" *ngIf="0">
            <img alt="" src="/assets/images/pdf-file-2.svg" /><span
              class="scb-text-orange"
              >Télécharger en PDF</span
            >
            <mat-spinner
              mode="indeterminate"
              *ngIf="detail?.downloading"
              [diameter]="17"
            ></mat-spinner>
          </div>
          <div class="more-infos-item c-pointer">
            <img alt="" src="/assets/images/pdf-file-copy-4.svg" /><span
              class="scb-text-orange"
              >Demande d'assistance</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
