@import 'src/app/app';
.title {
  font-family: HelveticaNeueLTStd-Bd;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.28px;
}
.title1 {
  font-family: HelveticaNeueLTStd-Bd;
  font-size: 20px;
}
.my-formule-page {
  min-height: 100%;
  .banniere {
    padding: 20px 15px;
    display: flex;
    min-height: 70px;
    align-items: center;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    .formule {
      font-family: HelveticaNeueLTStd-Bd;
      font-size: 20px;
      line-height: 1.5;
    }
    .changer {
      font-family: HelveticaNeueLTStd-Bd;
      font-size: 16px;
      line-height: 1.88;
    }
  }
  .filters-block {
    padding: 20px 15px;
    .title {
      font-family: HelveticaNeueLTStd-Bd;
      font-size: 20px;
      line-height: 1.5;
    }
    .countries-filter {
      margin-top: 20px;
      .depuis-vers {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 16px;
        .depuis {
          width: percentage(165/ 345);
          padding-left: 15px;
          font-family: HelveticaNeueLTStd-Roman;
        }
        .vers {
          width: percentage(165/ 345);
          padding-left: 15px;
          font-family: HelveticaNeueLTStd-Roman;
        }
      }
      ion-list {
        display: flex;
        justify-content: space-between;
        ion-item {
          &.disabled {
            --ion-background-color: #eeeeee;
            border: solid 1px $fullBlack;
          }
          border-radius: 10px;
          border: solid 1px $silver;
          width: percentage(165/345);
          --padding-start: 0px !important;
          --inner-padding-end: 0px !important;
          ion-label {
            padding-left: 15px;
            font-family: HelveticaNeueLTStd-Bd;
            opacity: 1;
          }
          ion-select {
            max-width: 100% !important;
            &.disabled {
              width: 0;
            }
          }
        }
      }
    }
  }
  .tarification-block {
    padding: 15px 0;
    background-color: $grayDashboard;
    display: flex;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .tarif-item {
      padding: 20px 15px;
      border-radius: 5px;
      width: percentage(225/375);
      background-color: $white;
      margin-left: 15px;
      flex-shrink: 0;
      .option-title {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: solid 1px $silver;
        img {
          width: 30px;
          height: auto;
          margin-right: 10px;
        }
        .title {
          font-family: HelveticaNeueLTStd-Bd;
          font-size: 20px;
          line-height: 1.5;
        }
      }
      .tarif-description {
        padding-top: 15px;
        .tarif {
          font-family: HelveticaNeueLTStd-Bd;
          font-size: 16px;
          line-height: 1.38;
        }
        .description {
          font-family: HelveticaNeueLTStd-Roman;
          font-size: 12px;
        }
      }
    }
  }
  .other-offers-block {
    padding: 20px 15px;
    .title {
      line-height: 1.5;
      font-family: HelveticaNeueLTStd-Bd;
      font-size: 20px;
    }
    .other-offers-list {
      .offer-item {
        margin-top: 15px;
        height: 92px;
        width: 100%;
        padding: 20px 15px;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        .offer-name {
          line-height: 1.5;
          font-family: HelveticaNeueLTStd-Bd;
          font-size: 20px;
        }
        .tarif-and-infos {
          display: flex;
          justify-content: space-between;
          .tarif {
            line-height: 1.38;
            font-family: HelveticaNeueLTStd-Bd;
            font-size: 16px;
          }
          .infos {
            line-height: 1.38;
            font-family: HelveticaNeueLTStd-Bd;
            font-size: 16px;
          }
        }
      }
    }
  }
}
