<div class="rattach-by-id-card oem-bottomsheet-container">
  <div  class="arrow-left" (click)="goBack()">
    <img alt="" src="/assets/images/arrow-left.png" />
  </div>
  <div class="title">
    Vérification client
  </div>
  <div class="description">
    Pour rattacher ce numéro ( {{ phoneNumber }} ), nous devons vérifier d’abord s’il vous appartient. Comment souhaitez-vous vérifier votre identité ?
  </div>
  <div class="id-card-input">
    <ion-list>
      <ion-radio-group [(ngModel)]="typeRattachement">
        <ion-item mode="md" lines="none">
          <ion-label [ngClass]="{'selected': typeRattachement === 'CIN'} ">Par numéro CNI (Carte d’identité)</ion-label>
          <ion-radio mode="md" slot="start" [value]="'CIN'"></ion-radio>
        </ion-item>
    
        <ion-item mode="md" lines="none">
          <ion-label [ngClass]="{'selected': typeRattachement === 'IDCLIENT'} ">Par numéro client (Facture fixe)</ion-label>
          <ion-radio mode="md" slot="start" [value]="'IDCLIENT'"></ion-radio>
        </ion-item>
    
      </ion-radio-group>
    </ion-list>
  </div>
  <div class="btn-continue">
    <ion-button expand="block" (click)="confirmChoice()" >
      Continuer
    </ion-button>
  </div>

  
</div>
