@import 'src/app/app';

.success-page {
  overflow-y: auto;
  height: 100%;
  position: relative;
  .close-icon {
    position: absolute;
    right: 10px;
    top: 15px;
  }
  .top-block {
    padding: 35px 10px 15px;
    text-align: center;
    .title {
      display: block;
      font-family: HelveticaNeueLTStd-Bd;
      font-size: 20px;
      // line-height: 1.5;
      margin: 15px 0 7px;
    }
    .subtitle {
      display: block;
      font-family: HelveticaNeueLTStd-Roman;
      font-size: 14px;
      .custom-font {
        font-family: HelveticaNeueLTStd-Roman;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
      }
    }
  }
  .pass-block {
    background-color: $grayDashboard;
    padding: 10px 15px;
    app-pass-internet-card {
      margin: 0 !important;
    }
  }
  .bottom-block {
    padding: 15px 30px 0px;
    .details {
      display: flex;
      justify-content: space-between;
      padding: 4px 0 8px;
      border-bottom: 2px solid $silver;
      &-date {
        border-bottom: none;
      }
      .left-block {
        font-family: HelveticaNeueLTStd-Bd;
        font-size: 16px;
      }
      .right-block {
        text-align: right;
        span {
          font-family: HelveticaNeueLTStd-Roman;
          font-size: 14px;
          margin-bottom: 3px;
          display: block;
        }
      }
    }
    .counter {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 60px;
      border-radius: 10px;
      border: solid 1px #4bb4e6;
      background-color: #dbf0fa;
      margin-top: 20px;
      .kw {
        font-family: HelveticaNeueLTStd-Roman;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #666666;
      }
      .code {
        font-family: HelveticaNeueLTStd-Bd;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
      }
    }
  }
  .hide {
    visibility: hidden;
  }
  .confirm-btn {
    margin: auto;
    margin-top: 30px;
    width: 90%;
    ion-button {
      height: 50px;
      text-transform: none;
      --border-radius: 10px;
      &.btn-confirm {
        --background-activated: #ff7900;
      }
      &.btn-cancel {
        --background: white;
        --color: black;
        --border-style: solid;
        --background-activated: black;
      }
    }
  }
  .cancel-transfer-block {
    padding: 20px 15px 0;
    margin-bottom: -10px;
    .cancel-title {
      font-size: 16px;
      line-height: 1.88;
      display: flex;
      justify-content: center;
      align-items: center;
      .text-disabled {
        opacity: 0.6;
      }
      mat-spinner {
        margin-left: 5px;
      }
      .mat-spinner::ng-deep circle {
        stroke: $redError;
      }
    }
    .cancel-error {
      font-family: HelveticaNeueLTStd-Roman;
      margin-top: 5px;
    }
  }
  .terminer {
    text-align: center;
    padding: 20px 0;
  }
}
