<div class="success-page">
  <img
    (click)="terminer()"
    src="/assets/images/close.svg"
    class="close-icon"
    alt=""
  />
  <div class="top-block">
    <img *ngIf="success" src="/assets/images/confirmation.png" alt="checked" />
    <ng-container *ngIf="!success">
      <img *ngIf="purchaseType !== OPERATION_CHANGE_PIN_OM" src="/assets/images/echec.png" alt="checked" />
      <img *ngIf="purchaseType === OPERATION_CHANGE_PIN_OM" src="/assets/images/05-ic-nes-note-appli-copy.svg" alt="checked" />

    </ng-container>
    <ng-container [ngSwitch]="purchaseType">
      <span class="title" *ngSwitchCase="OPERATION_TRANSFER_OM"
        >{{success ? 'Transfert effectué' : 'Echec Transfert'}}</span
      >
      <span class="title" *ngSwitchCase="OPERATION_TRANSFER_OM_WITH_CODE"
        >{{success ? 'Transfert effectué' : 'Echec Transfert'}}</span
      >
      <span class="title" *ngSwitchCase="OPERATION_INTERNET_TYPE"
        >{{success ? 'Achat effectué' : 'Echec Achat'}}</span
      >
      <span class="title" *ngSwitchCase="'RECHARGEMENT_CREDIT'"
        >{{success ? 'Achat crédit effectué' : 'Echec Achat'}}</span
      >
      <span
        class="title"
        *ngSwitchCase="'OPERATION_WOYOFAL'"
        style="white-space: pre-line;"
        >{{success ? 'Rechargement'+'\n'+'Woyofal effectué' :
        'Echec'+'\n'+'rechargement Woyofal'}}</span
      >
      <span
        class="title"
        *ngSwitchCase="'OPERATION_RAPIDO'"
        style="white-space: pre-line;"
        >{{success ? 'Rechargement'+'\n'+'Rapido effectué' :
        'Echec'+'\n'+'rechargement Rapido'}}</span
      >
      <span class="title" *ngSwitchCase="OPERATION_ILLIMIX_TYPE"
        >{{success ? 'Achat effectué' : 'Echec Achat'}}</span
      >
      <span class="title" *ngSwitchCase="OPERATION_ALLO_TYPE"
        >{{success ? 'Achat effectué' : 'Echec Achat'}}</span
      >
      <span class="title" *ngSwitchCase="'OPERATION_TYPE_PASS_VOYAGE'"
        >{{success ? 'Achat pass effectué' : 'Echec achat pass'}}</span
      >
      <span class="title" *ngSwitchCase="OPERATION_TYPE_MERCHANT_PAYMENT"
        >{{success ? 'Paiement effectué' : 'Echec Paiement'}}</span
      >
      <span class="title" *ngSwitchCase="OPERATION_ENABLE_DALAL"
        >{{success ? 'Dalal Tones activé' : 'Dalal non activé'}}</span
      >
      <span class="title" *ngSwitchCase="OPERATION_ILLIFLEX_TYPE"
        >{{success ? 'Achat effectué' : 'Echec Achat'}}</span
      >
      <span class="title" *ngSwitchCase="OPERATION_CHANGE_PIN_OM"
        >Bravo !</span
      >
    </ng-container>
    <span class="subtitle scb-text-gray">
      <ng-container *ngIf="!success">
        <span *ngIf="purchaseType !== OPERATION_CHANGE_PIN_OM" >{{errorMsg}}</span>
        <span *ngIf="purchaseType === OPERATION_CHANGE_PIN_OM" >{{textMsg}}</span>

      </ng-container>
      <ng-container *ngIf="success" [ngSwitch]="purchaseType">
        <span *ngSwitchCase="OPERATION_INTERNET_TYPE"
          >Vous avez acheté le pass internet</span
        >
        <span *ngSwitchCase="'RECHARGEMENT_CREDIT'"
          >Vous avez acheté pour un montant de</span
        >
        <span *ngSwitchCase="'OPERATION_WOYOFAL'"
          >Vous avez rechargé un montant de</span
        >
        <span *ngSwitchCase="'OPERATION_RAPIDO'"
          >Vous avez rechargé un montant de</span
        >
        <span *ngSwitchCase="OPERATION_ILLIMIX_TYPE"
          >Vous avez acheté le pass illimix</span
        >
        <span *ngSwitchCase="OPERATION_ALLO_TYPE"
          >Vous avez acheté le pass allo</span>

        <span *ngSwitchCase="'OPERATION_TYPE_PASS_VOYAGE'"
          >Vous avez acheté le pass voyage</span
        >
        <span *ngSwitchCase="OPERATION_TRANSFER_OM"
          >Vous avez transféré un montant de
        </span>
        <span *ngSwitchCase="OPERATION_TYPE_MERCHANT_PAYMENT"
          >Vous avez payé un montant de
        </span>
        <span *ngSwitchCase="OPERATION_ENABLE_DALAL"
          >Vous avez activé le Dalal
        </span>
        <span *ngSwitchCase="OPERATION_ILLIFLEX_TYPE"
          >Vous avez acheté le pass illiflex</span
        >
        <span *ngSwitchCase="OPERATION_RECLAMATION_ERREUR_TRANSACTION_OM"
          >Merci, votre demande a bien été prise en compte, vous serez contacté par le service client</span
        >
      </ng-container>
    </span>
  </div>
  <ng-container *ngIf="purchaseType !== OPERATION_RECLAMATION_ERREUR_TRANSACTION_OM">
    <div class="pass-block" *ngIf="success">
      <ng-container [ngSwitch]="purchaseType">
        <app-item-pass-internet
          [passInternet]="passBought"
          [boosters]="getPassBoosters(passBought)"
          *ngSwitchCase="OPERATION_INTERNET_TYPE"
        >
        </app-item-pass-internet>
        <app-item-pass-illimix
          [passIllimix]="passBought"
          [boosters]="getPassBoosters(passBought)"
          *ngSwitchCase="OPERATION_ILLIMIX_TYPE"
        >
        </app-item-pass-illimix>
        <app-item-pass-illimix
          [passIllimix]="passBought"
          *ngSwitchCase="'OPERATION_TYPE_PASS_VOYAGE'"
        >
        </app-item-pass-illimix>
        <app-item-pass-illimix
          [passIllimix]="passBought"
          *ngSwitchCase="OPERATION_ALLO_TYPE"
        >
        </app-item-pass-illimix>
        <app-item-recharge-credit
          [modifiable]="false"
          [amount]="amount"
          *ngSwitchCase="OPERATION_TRANSFER_OM"
        >
        </app-item-recharge-credit>
        <app-item-recharge-credit
          [modifiable]="false"
          [amount]="amount"
          *ngSwitchCase="'RECHARGEMENT_CREDIT'"
        >
        </app-item-recharge-credit>
        <app-item-recharge-credit
          [modifiable]="false"
          [amount]="opXtras.amount + opXtras.fee"
          *ngSwitchCase="'OPERATION_WOYOFAL'"
        ></app-item-recharge-credit>
        <app-item-recharge-credit
          [modifiable]="false"
          [amount]="opXtras.amount + opXtras.fee"
          *ngSwitchCase="'OPERATION_RAPIDO'"
        ></app-item-recharge-credit>
        <app-item-recharge-credit
          [modifiable]="false"
          [amount]="amount"
          *ngSwitchCase="OPERATION_TRANSFER_OM_WITH_CODE"
        >
        </app-item-recharge-credit>
        <app-item-recharge-credit
          [modifiable]="false"
          [amount]="amount"
          *ngSwitchCase="OPERATION_TYPE_MERCHANT_PAYMENT"
        >
        </app-item-recharge-credit>
        <app-item-illiflex *ngSwitchCase="OPERATION_ILLIFLEX_TYPE" [passIlliflex]="passBought"></app-item-illiflex>
        <app-dalal-card-item *ngSwitchCase="OPERATION_ENABLE_DALAL" [dalal]="dalal"></app-dalal-card-item>
      </ng-container>
    </div>
    <div
      class="bottom-block"
      *ngIf="success &&  !(['OPERATION_WOYOFAL', 'OPERATION_RAPIDO'].includes(purchaseType))"
    >
      <div class="details">
        <ng-container
          *ngIf="purchaseType !== OPERATION_TYPE_MERCHANT_PAYMENT else merchantBlock"
        >
          <div class="left-block">Bénéficiaire</div>
          <div class="right-block scb-text-gray">
            <span class="numero">{{recipientMsisdn|phoneNumberDisplay}}</span>
            <span class="name">
              {{buyForMe ? 'Moi même' : recipientName ? recipientName : 'Autre'}}
            </span>
          </div>
        </ng-container>
        <ng-template #merchantBlock>
          <div class="left-block">Marchand</div>
          <div class="right-block scb-text-gray">
            <span class="numero">{{merchantCode}}</span>
            <span class="name"> {{merchantName}} </span>
          </div>
        </ng-template>
      </div>
      <div class="details">
        <div class="left-block">Paiement par</div>
        <div class="right-block scb-text-gray">
          <span class="numero">
            {{paymentMod === 'ORANGE_MONEY' ? 'Orange Money' : 'Crédit Recharge'}}
          </span>
          <span class="name">{{msisdnBuyer|phoneNumberDisplay}}</span>
        </div>
      </div>
      <ng-container
          *ngIf="purchaseType === OPERATION_ENABLE_DALAL"
        >
        <div class="details">
          <div class="left-block">Montant échéance</div>
          <div class="right-block scb-text-gray">
            <span class="numero">350 FCFA</span>
            <span class="name">Tous les 30 jours</span>
          </div></div>
        </ng-container>
      <div class="details details-date">
        <div class="left-block">Date d'achat</div>
        <div class="right-block scb-text-gray">
          <span class="numero">{{dateAchat}}</span>
        </div>
      </div>
    </div>
    <div
      class="bottom-block"
      *ngIf="success && 'OPERATION_WOYOFAL' === purchaseType"
    >
      <div class="details">
        <div class="left-block">Compteur à recharger</div>
        <div class="right-block scb-text-gray">
          <span class="numero"
            >{{opXtras.billData.counter.counterNumber|codeFormat:2}}</span
          >
          <span class="name"> {{opXtras.billData.counter.name}} </span>
        </div>
      </div>
      <div class="details">
        <div class="left-block">Paiement par</div>
        <div class="right-block scb-text-gray">
          <span class="numero"> Orange Money </span>
          <span class="name">{{msisdnBuyer|phoneNumberDisplay}}</span>
        </div>
      </div>
      <div class="details details-date">
        <div class="left-block">Date de recharge</div>
        <div class="right-block scb-text-gray">
          <span class="numero">{{dateAchat}}</span>
        </div>
      </div>
      <div class="counter">
        <div class="kw">{{'Code de recharge ('+opXtras.billData.kw +' Kw)'}}</div>
        <div class="code">{{opXtras.billData.codeRecharge|codeFormat:3}}</div>
      </div>
    </div>
    <div
      class="bottom-block"
      *ngIf="success && 'OPERATION_RAPIDO' === purchaseType"
    >
      <div class="details">
        <div class="left-block">Carte rechargée</div>
        <div class="right-block scb-text-gray">
          <span class="numero"
            >{{opXtras.billData.counter.counterNumber|codeFormat:2}}</span
          >
          <span class="name"> {{opXtras.billData.counter.name}} </span>
        </div>
      </div>
      <div class="details">
        <div class="left-block">Paiement par</div>
        <div class="right-block scb-text-gray">
          <span class="numero"> Orange Money </span>
          <span class="name">{{msisdnBuyer|phoneNumberDisplay}}</span>
        </div>
      </div>
      <div class="details details-date">
        <div class="left-block">Date de recharge</div>
        <div class="right-block scb-text-gray">
          <span class="numero">{{dateAchat}}</span>
        </div>
      </div>
    </div>
    <div *ngIf="success && !coupon" class="confirm-btn">
      <ion-button
        (click)="goToPage()"
        shape="round"
        class="btn btn-cancel"
        expand="block"
      >
        <ng-container [ngSwitch]="purchaseType">
          <ng-container *ngSwitchCase="OPERATION_ILLIMIX_TYPE">
            Faire un autre achat de pass
          </ng-container>
          <ng-container *ngSwitchCase="OPERATION_ALLO_TYPE">
            Faire un autre achat de pass
          </ng-container>
          <ng-container *ngSwitchCase="OPERATION_INTERNET_TYPE">
            Faire un autre achat de pass</ng-container
          >
          <ng-container *ngSwitchCase="OPERATION_TRANSFER_OM">
            Faire un autre transfert
          </ng-container>
          <ng-container *ngSwitchCase="OPERATION_TRANSFER_OM_WITH_CODE">
            Faire un autre transfert
          </ng-container>
          <ng-container *ngSwitchCase="OPERATION_TYPE_RECHARGE">
            Faire une autre recharge de credit
          </ng-container>
          <ng-container *ngSwitchCase="'OPERATION_WOYOFAL'">
            Faire une autre recharge
          </ng-container>
          <ng-container *ngSwitchCase="'OPERATION_RAPIDO'">
            Faire une autre recharge
          </ng-container>
          <ng-container *ngSwitchCase="OPERATION_ENABLE_DALAL">
            Activer un autre dalal
          </ng-container>
          <ng-container *ngSwitchDefault>
            Faire une autre operation
          </ng-container>
          <ng-container *ngSwitchCase="OPERATION_ILLIFLEX_TYPE">
            Configurer un autre pass</ng-container
          >
        </ng-container>
      </ion-button>
    </div>
</ng-container>

  <div class="coupon-block" *ngIf="success && coupon">
    <div class="header">
      <span class="scb-text-gray">Coupon &nbsp;</span>
      <img src="/assets/images/logo-trace.png" alt="">
    </div>
    <span class="code">{{coupon}}</span>
  </div>


  <div class="scb-text-gray loading-coupon" *ngIf="success && hasCoupon">
    Vous recevrez le coupon par message...
  </div>

  <div class="terminer scb-text-orange" (click)="terminer()">
    {{ success ? 'Terminer' : 'Retour à l\'accueil' }}
  </div>
</div>