<div class="register-page">
  <div class="register-header">
    <div class="arrow-left" (click)="goToHomePage()">
      <img src="/assets/images/arrow-left.svg" alt="" />
    </div>
    <div class="audio">
      <div class="audio-text scb-text-blue">
        <span class="audio-text-up">Version audio</span>
        <span class="audio-text-down" *ngIf="!audioDisabled">activée</span>
        <span class="audio-text-down scb-text-gray" *ngIf="audioDisabled"
          >désactivée</span
        >
      </div>
      <img
        alt=""
        src="/assets/images/audio.svg"
        class="audio-img"
        *ngIf="!audioDisabled"
        (click)="muteOrUnmute()"
      />
      <img
        alt=""
        src="/assets/images/audiodisabled.svg"
        class="audio-img"
        *ngIf="audioDisabled"
        (click)="muteOrUnmute()"
      />
    </div>
  </div>
  <div class="register-banner">
    <img src="/assets/images/new_ibou.svg" class="img-banner" alt="" />
    <div class="banner-text">
      <span class="banner-text-1 scb-text-orange">
        Je crée mon compte
        <span class="banner-text-2 scb-text-gray">Orange et Moi</span>
      </span>
    </div>
  </div>

  <div class="scb-chat-box">
    <div #scrollMe class="scb-chat-messages">
      <app-chat-msg-line
        *ngFor="let message of messages"
        (click)="focusInput($event)"
        [title]="message.title"
        [content]="message.content"
        [origin]="message.origin"
        [type]="message.type"
        [editable]="message.editable"
        [editType]="message.editType"
        [step]="message.step"
        [link]="message.link"
        [inputFocus]="message.inputFocus"
        [audioStep]="message.audioStep"
        (editInput)="onEditMessage($event)"
        (yesNoAnswer)="userSendHasEmail($event)"
        (resendCodeEvent)="resendCode()"
        (focusInputEvent)="focusInput($event)"
      ></app-chat-msg-line>
    </div>

    <div *ngIf="currentStep !== 'SUCCESS'" class="scb-form-message">
      <mat-form-field class="scb-input-row scb-message-input">
        <input
          attr.type="{{ stepInputType }}"
          matInput
          [(ngModel)]="inputValue"
          [disabled]="ibouIsTalking"
          placeholder="Tapez votre réponse ici"
          #formInput
        />
        <span
          *ngIf="
            currentStep === 'PASSWORD' || currentStep === 'PASSWORD_CONFIRM'
          "
          (click)="togglePwdVisibility()"
          matSuffix
          class="c-pointer"
        >
          {{ stepInputType === 'text' ? 'Cacher' : 'Afficher' }}
        </span>
      </mat-form-field>
      <button
        mat-stroked-button
        class="scb-btn scb-btn-orange scb-btn-send"
        (click)="send(inputValue)"
        [disabled]="
          !handToUser || ibouIsTalking || ibouIsWriting || inputValue === ''
        "
      >
        Envoyer
      </button>
    </div>
  </div>
</div>
