<div class="dialog-title">
  {{
    data?.canceldialogPageFormule
      ? 'Etes-vous sûr de vouloir basculer vers la formule ' +
        data?.canceldialogPageFormule
      : data?.cancelDialogRegister
      ? 'Êtes vous sur de vouloir vous inscrire au programme de fidélité Orange Sargal ?'
      : data?.confirmationOperationDepannage
      ? "Etes-vous sûr d'avoir téléchargé toutes les infos nécessaires"
      : data?.updateApp 
      ? 'Votre application n\'est pas à jour. Mettre à jour votre application pour beneficier des dernieres mise a jour ?'
      : data?.confirmSargalIllimite ? 'Etes vous sur de vouloir continuer cette action ?' : 'Etes-vous sûr de vouloir annuler votre achat ?'
  }}

</div>

<div class="dialog-actions-btns-block">
  <div
    (click)="accept()"
    class="dialog-actions-btn scb-btn c-pointer"
    [ngClass]="{ 'scb-btn-white': !data?.updateApp, 'scb-btn-orange' : data?.updateApp} " 
  >
    Oui
  </div>
  <div
    (click)="refused()"
    class="dialog-actions-btn scb-btn c-pointer"
    [ngClass]="{ 'scb-btn-white': data?.updateApp, 'scb-btn-orange' : !data?.updateApp} " 

  >
    Non
  </div>
</div>
