<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="goBack()" class="ion-padding-start" slot="start">
      <img src="/assets/images/arrow-left.png" alt="icon" class="arrow-left" />
    </ion-buttons>
    <ion-title>
      <span class="title1">
        Achat Illiflex Usage
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header class="ion-padding-start" collapse="condense">
    <ion-toolbar>
      <span class="title">
        Achat Illiflex Usage
      </span>
    </ion-toolbar>
  </ion-header>
  <div class="banniere-container">
    <img src="/assets/images/10-illustration-dalal-tones-copy.svg" alt="header-illiflex" />
  </div>
  <div class="illiflex-page-background">
    <div class="illiflex-settings-page">
      <div class="config-illiflex-title scb-text-gray">Choisissez une durée de validité et composez votre illiflex comme
        vous le souhaitez.</div>
      <div class="select-validity-block">
        <ion-list mode="ios">
          <ion-item mode="ios" lines="none" class="ion-no-padding">
            <ion-label mode="ios" class="scb-text-gray">Durée de validité</ion-label>
            <ion-select interface="popover" mode="ios" noIonSelectArrow (ionChange)="onValidityChanged($event.detail.value)">
              <ion-select-option [value]="validity" *ngFor="let validity of validities" mode="ios">
                <span>{{validity}}</span></ion-select-option>
            </ion-select>
            <ion-icon name="arrow-down" mode="ios" slot="end"></ion-icon>
          </ion-item>
        </ion-list>
      </div>
      <div class="gauge-block" [ngClass]="{'gauge-block-disabled': !currentPaliers.length}">
        <div class="gauge-item">
          <span class="gauge-title">Internet</span>
          <ion-item mode="ios" lines="none">
            <ion-range [(ngModel)]="dataVolumeValue" [min]="minDataVolume" [max]="maxDataVolume" [step]="1" (ionChange)="onDataGaugeChanged()" #internetGauge>
              <ion-label slot="start" class="label-title scb-text-gray">Volume</ion-label>
              <ion-label slot="end" class="label-value">{{dataVolumeValue | dataVolume}}</ion-label>
            </ion-range>
          </ion-item>
        </div>
        <div class="gauge-item">
          <span class="gauge-title">Appels</span>
          <ion-item mode="ios" lines="none">
            <ion-range [(ngModel)]="voiceQuantityValue" [min]="minVoice" [max]="maxVoice" [step]="1" (ionChange)="onVoiceGaugeChanged()" #appelGauge>
              <ion-label slot="start" class="label-title scb-text-gray">Temps</ion-label>
              <ion-label slot="end" class="label-value">{{voiceQuantityValue | illiflexVoice}}</ion-label>
            </ion-range>
          </ion-item>
        </div>
      </div>
      <div class="amount-block">
        <div class="amount">
          <span class="montant scb-text-gray">Montant à payer</span>
          <span class="value"> {{totalPrice}} FCFA</span>
        </div>
        <div class="buttons">
          <button class="scb-btn scb-btn-white">Annuler</button>
          <button class="scb-btn scb-btn-orange" [disabled]="!illiflexTitle" (click)="goRecapPage()">Confirmer</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>