<ion-header class="dashboard-header">
  <div class="header-top-block">
    <ion-menu-button class="menu-btn-container">
      <img class="icon-menu" src="/assets/images/menu@3x.png" alt="" />
    </ion-menu-button>
    <div class="current-msisdn">
      {{currentMsisdn}}
    </div>
    <div class="header-right-bloc">
      <ion-icon name="search-outline" class="search-icon search-icon1" (click)="search()"></ion-icon>
      <ion-icon name="notifications-outline" class="bell-icon"></ion-icon>
    </div>
  </div>
</ion-header>

<div class="absolute-block" [ngClass]="{'is-block-ios': isIos}">
  <div class="search-bloc search-bloc1">
    <app-services-search-bar [source]="'DASHBOARD'"></app-services-search-bar>
  </div>
</div>
<ion-content class="home-dashboard-content" #scrollArea [scrollEvents]="true" [appScrollVanish]="scrollArea"
  [iconSearch]="'.search-icon1'" [searchBlock]="'.search-bloc1'" [homeDashboard]="true">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="ionViewWillEnter($event)">
    <ion-refresher-content pullingText="tirer pour rafraîchir" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher> -->
  <div class="stories-bloc">
    <app-list-preview-stories [storiesByCategory]="storiesByCategory" [isLoadingStories]="isLoadingStories"
      [hasError]="hasError" [areDataLoadedExternally]="true"></app-list-preview-stories>
  </div>
  <div class="cards-bloc">
    <div class="text-bloc">
      <span class="suivi-conso">Suivi conso</span>
      <span class="scb-text-orange voir-details" (click)="consultConsoDetails(1)">Voir détails</span>
    </div>
    <div class="conso-cards-bloc">
      <ion-slides [options]="slideOpts">
        <ion-slide>
          <app-om-button></app-om-button>
        </ion-slide>
        <ion-slide>
          <ng-container *ngIf="loadingConso else consoCard">
            <ion-skeleton-text animated class="conso-card-loader"></ion-skeleton-text>
          </ng-container>
          <ng-template #consoCard>
            <div class="conso-card conso-card-credit scb-text-white" (click)="consultConsoDetails()">
              <div class="conso-label">Crédit Global</div>
              <div class="conso-amount">{{creditGlobal}} Fcfa</div>
              <div class="conso-date-exp">{{'Valable jusqu\'au ' + creditValidity}}</div>
              <img src="assets/images/call-icon-transparent.png" class="conso-icon-transparent" alt="">
            </div>
          </ng-template>
        </ion-slide>
        <ion-slide *ngIf="currentProfil && !isHyBride">
          <ng-container *ngIf="loadingSargal else sargalCard">
            <ion-skeleton-text animated class="conso-card-loader"></ion-skeleton-text>
          </ng-container>
          <ng-template #sargalCard>
            <ng-container
              *ngIf="(sargalUnavailable || isNotSubscribedToSargal(userSargalData?.status)) else sargalData">
              <div class="conso-card conso-card-sargal scb-text-white" (click)="onSargalCardClicked()">
                <div class="conso-label">Points Sargal</div>
                <div class="conso-amount">
                  <span class="sign-up">{{sargalUnavailable ? 'Service Indisponible' : 'M\'inscrire'}}</span>
                </div>
                <img src="assets/images/reward-icon-transparent.png" *ngIf="!sargalUnavailable"
                  class="conso-icon-transparent" alt="">
                <img src="/assets/images/reload.png" (click)="getSargalPoints()" *ngIf="sargalUnavailable"
                  class="conso-icon-transparent" alt="">
              </div>
            </ng-container>
            <ng-template #sargalData>
              <div class="conso-card conso-card-sargal scb-text-white" (click)="onSargalCardClicked()">
                <div class="conso-label">Points Sargal</div>
                <div class="conso-amount">{{userSargalData?.totalPoints | formatCurrency}} Pts</div>
                <div class="conso-date-exp">{{'Mis à jour le ' + sargalLastUpdate}}</div>
                <img src="assets/images/reward-icon-transparent.png" class="conso-icon-transparent" alt="">
              </div>
            </ng-template>
          </ng-template>
        </ion-slide>
        <ion-slide *ngIf="currentProfil && isHyBride && hasSargalProfile">
          <ng-container *ngIf="loadingSargalStatus else sargalStatusCard">
            <ion-skeleton-text animated class="conso-card-loader"></ion-skeleton-text>
          </ng-container>
          <ng-template #sargalStatusCard>
            <div class="conso-card conso-card-sargal scb-text-white" (click)="seeSargalCard()">
              <div class="conso-label">
                Orange <span class="sargal-status"
                  [ngStyle]="{'color': sargalStatus === 'GOLD' ? 'gold' :  '#e5e4e2'}">{{sargalStatus}}</span>
              </div>
              <div class="conso-amount">
                <span class="sign-up">{{sargalStatusUnavailable ? 'Service Indisponible' : 'Voir ma carte'}}</span>
              </div>
              <img src="assets/images/reward-icon-transparent.png" *ngIf="!sargalStatusUnavailable"
                class="conso-icon-transparent" alt="">
              <img src="/assets/images/reload.png" (click)="getCustomerSargalStatus()" *ngIf="sargalStatusUnavailable"
                class="conso-icon-transparent" alt="">
            </div>
          </ng-template>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="actions-cards-bloc">
      <div class="action-card" *ngFor="let action of actions" (click)="onActionClick(action)"
        [ngClass]="{'disabled-card': (action.code === 'SOS' && !canDoSOS)}">
        <div class="badge-promo"
          *ngIf="(action?.code === BUY_ACTION) && (hasPromoBooster?.promoPass || hasPromoBooster?.promoRecharge || hasPromoBooster?.promoPassIllimix || hasPromoPlanActive?.hasPassIllimix || hasPromoPlanActive?.hasPassInternet || hasPromoPlanActive?.hasRecharge)">
          <div class="icon-container">
            <span class="percent scb-text-white"> % </span>
          </div>
          <div class="triangle"></div>
        </div>
        <div class="action-icon-container">
          <img [src]="'/assets/images/'+action.icon" alt="buy" class="act-icon">
        </div>
        <div class="action-title">{{action?.title}}</div>
        <div class="action-subtitle scb-text-item-offre-black">{{action?.subtitle}}</div>
      </div>
    </div>
  </div>
  <div class="bons-plans-bloc" *ngIf="0">
    <div class="text-bloc">
      <span class="suivi-conso">Bons plans du jour</span>
      <span class="scb-text-orange voir-details" (click)="consultConsoDetails(1)">Voir tout</span>
    </div>
  </div>
</ion-content>
<div class="empty-div-effect"></div>