@import 'src/app/app';

:host {
  width: 100%;
  height: 100%;
  position: relative;
}

.dashboard-header {
  padding: 17px 15px 0;
  background-color: $white;
  .header-top-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-btn-container {
      .icon-menu {
        width: 28px;
        height: 24px;
      }
    }
    .current-msisdn {
      font-size: 18px;
      margin: 5px 0 0 -20px;
    }
    .header-right-bloc {
      display: flex;
      align-items: center;
      :not(:last-child) {
        margin-right: 20px;
      }
      .search-icon,
      .bell-icon {
        font-size: 26px;
      }
      .search-icon {
        position: absolute;
        right: 30px;
      }
    }
  }
}

.home-dashboard-content {
  --ion-background-color: #f3f3f8;
  --padding-bottom: 250px;
  // --padding-top: 80px;
  position: relative;
  .stories-bloc {
    padding: 20px 0 20px 15px;
    width: 100%;
  }
  .cards-bloc {
    background: linear-gradient(to bottom, #fff, #f3f3f8);
    width: 100%;
    padding: 20px 0;
    .text-bloc {
      display: flex;
      justify-content: space-between;
      padding: 0 15px 15px;
      .suivi-conso {
        font-size: 20px;
        line-height: 1.5;
      }
      .voir-details {
        font-size: 16px;
        line-height: 1.88;
      }
    }
    .conso-cards-bloc {
      ion-slides {
        width: 100%;
        ion-slide {
          padding-left: 15px;
          display: flex;
          align-items: flex-start;
          .conso-card-loader {
            position: relative;
            width: 100%;
            height: 105px;
            border-radius: 20px;
            margin: 0 !important;
          }
          &:last-child {
            margin-right: 15px;
          }
          .conso-card {
            position: relative;
            width: 100%;
            height: 105px;
            border-radius: 20px;
            padding: 15px;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &-credit {
              background-image: radial-gradient(
                circle at 77% 36%,
                #b1a8f0,
                #4c77d7 113%
              );
            }
            &-sargal {
              background-image: radial-gradient(
                circle at 77% 36%,
                #72e4ab,
                #3fad75 113%
              );
            }
            .conso-label {
              font-family: 'HelveticaNeueLTStd-Roman';
              font-size: 16px;
            }
            .conso-amount {
              font-size: 24px;
              .sign-up {
                font-size: 16px;
              }
            }
            .conso-date-exp {
              font-family: 'HelveticaNeueLTStd-Roman';
              font-size: 12px;
            }
            .conso-icon-transparent {
              position: absolute;
              right: 15px;
              top: 10px;
            }
          }
          app-om-button {
            height: 105px;
            width: 100%;
          }
        }
      }
    }
    .actions-cards-bloc {
      display: flex;
      flex-wrap: wrap;
      padding: 15px 15px 5px;
      .action-card {
        width: percentage(105/345);
        border-radius: 10px;
        background-color: $white;
        padding: 15px 5px;
        text-align: center;
        margin-bottom: 15px;
        position: relative;
        &.disabled-card {
          opacity: 0.4;
        }
        &:not(:nth-child(3n)) {
          margin-right: percentage(15/345);
        }
        .badge-promo {
          position: absolute;
          top: 10px;
          right: -5px;
          width: 18%;
          min-width: 25px;
          .icon-container {
            font-family: HelveticaNeueLTStd-Roman, sans-serif;
            font-size: 10px;
            background-color: $lightBlue;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10%;
            width: 100%;
            border-radius: 5% 5% 0 5%;
            .percent {
              font-family: HelveticaNeueLTStd-Bd;
              font-size: 16px;
            }
          }
          .triangle {
            width: 0;
            height: 0;
            border-top: 5px solid $bluePopUp;
            border-right: 5px solid transparent;
            float: right;
          }
        }
        .action-icon-container {
          .act-icon {
            width: 39px;
            height: 39px;
          }
        }
        .action-title {
          font-size: 16px;
        }
        .action-subtitle {
          font-family: HelveticaNeueLTStd-Roman;
          font-size: 12px;
          line-height: 1.17;
        }
      }
    }
  }
  .bons-plans-bloc {
    padding: 0 15px 15px;
    .text-bloc {
      display: flex;
      justify-content: space-between;
      .suivi-conso {
        font-size: 20px;
        line-height: 1.5;
      }
      .voir-details {
        font-size: 16px;
        line-height: 1.88;
      }
    }
  }
}

.absolute-block {
  position: fixed;
  width: 100%;
  top: 64px;
  left: 0;
  background-color: $white;
  z-index: 10;
  padding-bottom: 15px;
  &.is-block-ios {
    top: 48px !important;
  }
  .search-bloc {
    margin-top: 15px;
    padding: 0 15px;
    ion-searchbar {
      background-color: $white;
      border: solid 2px $grayDashboard;
      border-radius: 10px;
    }
  }
}
.empty-div-effect {
  position: fixed;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 75px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1)
  );
}
